[2022-08-05 00:38] dmsimard commented on #331
@hille721 thanks for working on this. Here's some thoughts.

I think I can concede that the playbook status is not immediately relevant and can even be confusing relative to the status of the tasks that the host ran but I'd keep the playbook duration. It's useful to be able to see how long playbooks with that host took.

I wonder about the order of the columns, especially when comparing the playbo

[2022-08-05 03:49] dmsimard commented on #331
I was curious what that might look like and while it may not be perfect, I don't dislike it either: https://github.com/dmsimard/ara/commit/b717b7d7d152b3bbb31f2f56213c8de0d2625242
![Screenshot from 2022-08-04 23-36-05](https://user-images.githubusercontent.com/1291204/182996404-c37f7421-82c0-4c53-8537-14756b2304f3.png)

There is probably no need to print the entire words "OK", "CHANGED", etc, beca

[2022-08-05 09:43] hille721 commented on #331
It's somewhat unfortunate that failed and unreachable have the same color

I'm kind of used to it, thus it looks weired for me now. But you are absolutely right. We don't need that and having the status directly at the begining is pretty cool.

Just one thing: I would rename "Last update" to simple "Date".

[2022-08-05 14:13] hille721 commented on #331
Rebased my branch on top of your and added (https://github.com/hille721/ara/commit/39822080ab98b67e90bddf0b31fc6cfe95c593b6)

* playbook name filter
* playbook path filter

Also if you now click on a playbook name / path. It will be filtered for that. Quite cool I think because thus you can check, which hosts were running for specific playbook runs

![image](https://user-images.githubusercontent.c

[2022-08-05 14:21] flowerysong commented on #331
Relying on colour alone is not ideal for accessibility.

[2022-08-05 14:38] hille721 commented on #297
looked into this topic again.

Conclusion: when we are goind to Django 3.2, we can really introduce a json field for the facts and directly filter in the database. With that it should be quite easy to implement because we can include it in the `HostFilter` which the api and ui is using.

A workaround for now would be to complicated.

[2022-08-05 14:58] hille721 commented on #243
Just looked into it, turned out, it is quite easy and straightforwared to a filter for hostname (for task would be the same):

UI
![image](https://user-images.githubusercontent.com/38468371/183103962-15cc9445-ec0d-4292-a030-91aaa02fe07c.png)

API
![image](https://user-images.githubusercontent.com/38468371/183104081-e26e65d3-f5af-4c6d-8663-08faa6427a90.png)

[2022-08-05 15:08] hille721 commented on #243
now with taskname filter as well:

![image](https://user-images.githubusercontent.com/38468371/183106255-058e915a-10e3-4556-90ed-7a436c6bf7c9.png)

@dmsimard : shoul I do a PR

[2022-08-05 16:28] dmsimard commented on #331
@flowerysong I agree. That's why I feel it's important to keep the full labels (with their corresponding colors) in the search box and have HTML title/tooltip attributes on the pills such that additional information and context is available on mouse-over:
![Peek 2022-08-05 12-25](https://user-images.githubusercontent.com/1291204/183120411-a199d52b-2298-448a-af56-88a3a13f55d3.gif)

There are many o

[2022-08-05 16:29] dmsimard commented on #331
@hille721 I added a comment on your commit -- could you open a PR? Would make it easier to review and discuss.

[2022-08-05 16:38] dmsimard commented on #331
If we go with the status pill implementation, I wonder whether we should only print the statuses for which we have something, not unlike what we had before, in fact.

It would look like this:
![Screenshot from 2022-08-05 12-36-15](https://user-images.githubusercontent.com/1291204/183121995-bf43e2ff-d1f3-4a4c-8b98-40f86a60d323.png)

The width becomes somewhat variable but I believe it makes it easi

[2022-08-05 17:50] hille721 commented on #331
Agree, thought the same.

[2022-08-05 21:01] dmsimard opened #406 "container-images CI job suddenly failing with Connection refused when testing image builds"
## What is the issue ?

The ara-container-images job has suddenly started consistently failing: https://ansible.softwarefactory-project.io/zuul/builds?job_name=ara-container-images&skip=0

![Screenshot from 2022-08-05 16-44-47](https://user-images.githubusercontent.com/1291204/183160342-caaa0d4e-4a5f-4970-a2c1-580d8041bf0d.png)

Some logs:

[code]

buildah builds the image successfully and podman

[2022-08-05 21:16] dmsimard opened #407 "psycopg2 for django with postgresql now available in binary form"
## What is the issue ?

When installing psycopg2, it usually needs development libraries installed. I didn't know but it looks like there's a binary package available now:
[code]

## What should be happening ?

Maybe we should recommend using psycopg2-binary and leverage that in the ara collection: https://github.com/ansible-community/ara-collection/blob/ff0ef0c4e60b76d18c26a9d501f1b95496006f3d/ro

[2022-08-06 04:44] dmsimard commented on #401
Looks like this issue has shown up in the [container CI job](https://ansible.softwarefactory-project.io/zuul/build/f41f6519b9e34fe0b49fe7ec8a674629/logs) (logs [here](https://1a846e8cdfbfe4342757-02fac59c71fd966508f1bee49d379c34.ssl.cf5.rackcdn.com/404/fc84dfd5d8b82add3477c9c51a63601448a4cb86/check/ara-container-images/f41f651/job-output.txt)).

It works for Fedora but fails on CentOS, perhaps a h

[2022-08-06 17:14] dmsimard commented on #401
I'm not sure how we should resolve this yet but one thing to consider would be to update the tzlocal dependency. It's not impossible that we are running into a bug that has since been fixed.

We pinned it to ``<3.0`` a while back: https://github.com/ansible-community/ara/pull/258/commits/15d961f37c7f4b1fa8257265d5cb0ca5e934a276

Back then 3.0 was a pre-release and they're up to 4.x now:
![Screensh

[2022-08-06 17:26] dmsimard commented on #401
I've tried updating tzlocal to the latest release, it only required a little adjustment in the settings: https://github.com/ansible-community/ara/pull/404/commits/db8e5017255fd9b6d4eb05b4bb2b2144ea5896bc

It worked locally but let's find out if it resolves the issue I saw in CI.

[2022-08-06 17:54] dmsimard commented on #401
I can reproduce the 'local' issue with CentOS 9 but not with CentOS 8.

I haven't yet tested if the tzlocal update fixes the CentOS 9 case since the image builds off of PyPI, not from source.

[2022-08-06 19:31] dmsimard commented on #401
There is something else going on.

I've briefly reproduced the issue in a simplified way:
centos9:
[code]

centos8:
[code]

[2022-08-06 23:42] dmsimard commented on #243
It's nice that it works \o/

It would be nice to have inside the playbook page but I'm not sure about the playbooks' search box since the hosts and tasks page will immediately return the data vs needing to click on the playbook and then searching for it again.

You don't need my permission to open a PR :p

[2022-08-08 06:06] hille721 commented on #243
Ah now I got it. The search box with the host and task id was inside a certain playbook page. Was already wondering why I did't saw it :)
But yeah, this is easy as well:
![image](https://user-images.githubusercontent.com/38468371/183349686-633cb36d-0369-4a58-966c-4ba292c99146.png)

Despite the host and task index page  the search ability on the playook index page would be pretty nice as well. E.g.

[2022-08-08 06:59] hille721 commented on #401
can verify, with the changes you did in #404, my issue is solved (y)

[2022-08-11 07:20] dericcrago commented on #388
👋 hi @dmsimard - thanks for writing up the blog post with your thoughts. Perhaps not the feedback you're looking for, but the explanation about going from `flask` to `django` with `ara 0.x` to `ara 1.x` got me thinking... Is the next bump, going from `django 3.2` to `django 4.2` and dropping `python < 3.8`? I don't know how it will line up with the intended release schedule for `ara` and I'm sure

[2022-08-11 16:34] dmsimard commented on #388
Hey @dericcrago and thanks for reaching out :)

We're bumping django from 2.2 to 3.2 with the upcoming release of ara (1.6.0) and frankly, thumbs up to the Django maintainers because the update hardly required any changes (see [PR](https://github.com/ansible-community/ara/pull/360)).

I'm not sure whether or not to expect the same thing for Django 4.2, there are already reports of issues when tryi

[2022-08-11 23:46] gaby commented on #295
Any updates on adding this feature? I'm constantly refresh to see the status of playbooks running. Even worst when running against multiple hosts

[2022-08-12 02:38] dmsimard commented on #295
I agree that this would be nice to have :+1:

Looking at the mockup I did last year, I think I would do it differently today.

I think my idea at the time was to set a variable in the URL (say, ``autorefresh=60``) for a value in seconds via those links in the dropdown menu.

It's probably way more convenient to set the refresh value in a cookie so it follows the user across pages easily without ne

[2022-08-12 13:31] gaby commented on #295
I'm honestly a huge fan of the first mockup you did with the dropdown. I also agree either the refresh should be persisted via cookies. It would also be useful if we could set a default "Refresh Interval" via config/env variables.

[2022-08-12 17:23] dericcrago commented on #388
@dmsimard - yep, that makes sense and I agree with all of that. You might even be able to get away with a database migration as part of the upgrade documentation to make changing any fields seamless as well. Django 4.2 does drop python < 3.8 though, would you put that in a major or minor release?

[2022-08-13 03:15] dmsimard commented on #388
We will learn about how complicated database migrations will be in due time :p

To give a bit of perspective, ara 1.5.8 is the last release that will support python3.5 but that's because 1.6.0 will ship with django 3.2 which dropped support for it. I consider that it's a big enough change to warrant going from 1.5 to 1.6 but not from 1.x to 2.0.

Otherwise, Django 4.2 is still some ways out:
![rel

[2022-08-14 01:29] dmsimard commented on #401
Thanks for checking @hille721 !

I'm not convinced it's the right fix but it will help mitigate the issue until we can find out what's the root cause based on the reproducer I provided in my previous comment.

[2022-08-16 09:33] hille721 commented on #401
Why do you think it is not the right fix.

For me the function is working now:

[code]

While the old `get_localzone().zone` was always returning `local`.

From my side we can also close this issue now.

[2022-08-16 14:25] dmsimard commented on #265
I'm re-opening this because I just came across a warning when using a MySQL backend:
[code]

I will look into it another time, I just didn't want to forget about it.

cc @dvwh

[2022-08-16 19:50] dmsimard opened #411 "contrib: container images should also be tested with postgresql and mysql"
## What is the idea ?

We have [mysql](https://github.com/ansible-community/ara-collection/blob/master/tests/with_mysql.yaml) and [postgresql](https://github.com/ansible-community/ara-collection/blob/master/tests/with_postgresql.yaml) integration test coverage support via the ara ansible collection which tests the server in various configurations.

However, when we build the container images, the

[2022-08-16 21:14] dmsimard commented on #406
Fixed in the pull request.

[2022-08-16 21:14] #406 closed

[2022-08-16 21:15] dmsimard commented on #401
@hille721 I mean to say that it doesn't reproduce everywhere (i.e, on centos but not on fedora) and I have not determined the root cause as to why and finding the root cause may lead to a different fix.

[2022-08-17 01:50] #397 closed

[2022-09-01 15:27] widhalmt opened #415 "Log the username on the controller"
Hi,

First, thanks for Ara! We are working a lot with Ansible and this seems to fix not one but several issues we had in different setups.

One I'm still thinking about how to fix it with Ara is that we need to know *who* started a run of `ansible-playbook` in one project. If there was a convenient solution Ara would be perfect for us.

Here's the outline of what I'm talking about: We are working

[2022-09-02 02:41] dmsimard commented on #415
Hi @widhalmt and thanks for the issue.

This is a reasonable request, the use case makes sense and it's not too complicated to implement -- I think that makes it a good candidate for someone to contribute the feature :)

We already log the controller hostname/fqdn and I guess adding support for saving the user wouldn't be too different from that.
That feature was added in [this commit](https://git

[2022-09-05 12:42] widhalmt commented on #415
Hi,

Thanks for the nice reply. I'm not big in Python. I'll ask around if I can find someone to help with it in our organization.

[2022-09-05 15:05] widhalmt commented on #415
Just a short update: Looking good. The project is already forked and we're planning on making a PR with the changes we need.

[2022-09-06 17:38] dmsimard opened #417 "Need to rename CLI arguments for certificate authentication"
## What is the issue ?

There is a clash between ``--key`` (as in, SSL private key) and ``--key`` (as in, ara_record key) so we need to change one of the other.

## What should be happening ?

I suggested we rename the CLI arguments since they have not been in a stable release yet: https://github.com/ansible-community/ara/pull/416#discussion_r963283308

[2022-09-08 22:51] gaby commented on #356
@Nold360 @hille721 How do you add that `REQUEST_CA_BUNDLE` when using `ansible.cfg`?

I would think that ARA should set the CA for requests if the user changes `ARA_API_CA`

[2022-09-09 03:27] dmsimard commented on #356
Unless mistaken, support for specifying certs, keys and CA has landed in the master branch via https://github.com/ansible-community/ara/pull/392 and https://github.com/ansible-community/ara/pull/403 but the CLI arg names will need to change a bit (see [this issue](https://github.com/ansible-community/ara/issues/417)) before 1.6.0 is released.

In other words, ``ARA_API_CA`` should already work if

[2022-09-09 03:40] dmsimard commented on #417
Sent a PR to do it: https://github.com/ansible-community/ara/issues/417

[2022-09-09 03:54] gaby commented on #356
I will test again tomorrow. Now that I got home my issue may be related to me specifying both:

- ARA_INSECURE_API
- ARA_CA

I will report back tomorrow once I test it again. I'm using the latest ara client + server.

[2022-09-09 05:58] hille721 commented on #356
I have following in my .profle/.bashrc:

[code]

While `REQUESTS_CA_BUNDLE` is used from Python requests package, `SSL_CERT_FILE` is used from some other tools, e.g. curl, httpx client, ...

[2022-09-09 11:39] gaby commented on #356
@hille721 That works for one user. We have hundreds of hosts that run ansible using `ansible-pull`. Which is why I wanted to do this via `ansible.cfg`.

[2022-09-09 11:50] hille721 commented on #356
No, you can also set it in `/etc/profile' or '/etc/environment' and it will work for all users. And if you run ansible-pull via cron then you can also set it as environment variable in your crontab.

But yeah you can not set it in `ansible.cfg` as it is not an Ansible config.

[2022-09-09 13:09] gaby commented on #356
It would also help if ARA did this in the client code when ARA_INSECURE_API is set:

[code]

When verify is `False`, here: https://github.com/ansible-community/ara/blob/master/ara/clients/http.py#L36

[2022-09-10 02:06] gaby commented on #356
Using `ara_ca` in my ansible.cfg fixed the issue for me. :-) I think this issue can be closed.

ansible.cfg
[code]

[2022-09-10 02:46] dmsimard commented on #356
I guess we can do that. Want to send a PR @gaby ? :)

[2022-09-10 02:47] dmsimard commented on #356
``api_ca``, right ? There is no such setting as ``ara_ca``.

[2022-09-10 03:03] gaby commented on #356
Oops! Yes!

[code]

[2022-09-10 03:03] gaby commented on #356
Sure, I can submit a PR tomorrow during the day. I'm currently on my phone.

[2022-09-10 19:28] gaby commented on #356
@dmsimard PR has been submitted

[2022-09-10 20:10] #356 closed

[2022-09-10 20:27] dmsimard commented on #417
Merged the PR, we can close this issue.

[2022-09-10 20:27] #417 closed

[2022-09-10 20:28] gaby opened #420 "Drop support for Python EOL versions"
## What is the idea ?
Looking at the documentation and code base, it looks like `ara` still supports or tries to support Python 3.5 and 3.6. These versions of Python are EOL since 2020 for 3.5 and 2021 for 3.6

Are there plans to address this?

Source: https://devguide.python.org/versions/

[2022-09-10 20:32] gaby commented on #420
I can send a PR to update all the code to py3.7+, my only concern is that I can't figured out if the `zuul` tests are also testing the cli/server python code

[2022-09-10 20:49] dmsimard commented on #420
Hi @gaby and thanks for the issue.

ara has not historically dropped support for python versions because they were EOL upstream with the rationale that there are plenty of long-term supported operating systems that still ship with these versions.
Distributions like Debian, Ubuntu LTS, CentOS, RHEL and the like.

The project dropped support for python versions when there was a need for it that coul

[2022-09-10 21:02] gaby commented on #420
Makes sense to me to move the base to py36 at least. Specially since OS's like Ubuntu 18.04 LTS still use that version.

Using `pyupgrade` it's very easy to reformat all the code-base to any version of python and forward: https://github.com/asottile/pyupgrade

[2022-09-10 21:05] gaby commented on #420
I just ran it in a local copy of `ara` and it found changes in all these files:

![image](https://user-images.githubusercontent.com/835733/189501710-7e5530de-f47a-4849-86ae-a2a90616e761.png)

Example changes:

![image](https://user-images.githubusercontent.com/835733/189501722-ad4956e6-7500-4683-ae92-ac8011fafe7b.png)

[2022-09-10 21:49] dmsimard commented on #420
Oh, nice, I didn't know about pyupgrade.

Feel free to open a PR for updating to 3.6 (keeping ``%s`` is fine too), we'll double check if it causes any regressions but it looks OK at first glance.

[2022-09-11 00:41] gaby commented on #420
PR submitted

[2022-09-12 07:44] hille721 opened #422 "Run linters also on tests and docs"
## What is the idea ?
Due to #421 I was wondering why there were files found where `isort` will change things, because we have `isort` configured in our linter checks.
Now I realized that we are running the linter checks only on `${PROJECT_ROOT}/ara`.

Imo we should also run the linters on tests and docs to ensure high quality. Will submit a PR with

[2022-09-12 08:07] hille721 opened #423 "isort UserWarning"
## What is the issue ?

Following warnings appear in `isort` section when running `tox -e linters`

[code]

This is also visible in the last zuul pipeline runs, e.g. https://ansible.softwarefactory-project.io/zuul/build/790363697e2942a3b8f02d427d1f0a1a/console

Will provide a PR to fix this issue following the upgrade guide (https://pycqa.github.io/isort/docs/upgrade_guides/5.0.0.html)

[2022-09-12 10:34] hille721 commented on #352
I would also like that, because the current docker images are not usable in my company and we have to build an image by ourselve.

@dmsimard : With the current approach we have to maintain 5 different docker images, but with this approach it could be reduced to one. Thus I would say that this will not increase the effort.

My idead would be:
* only build one Docker image sourced from an official P

[2022-09-12 11:40] hille721 commented on #422
Following linter violations would be detected when running the linting also on tests and docs files:

### black
[code]

### isort
[code]

### flake8
[code]

[2022-09-12 12:59] hille721 commented on #422
you have to run black with specifying our config: `black --config .black.toml`. There we are including some files and also setting the line length to 120.

We have a zuul pipeline for that too. You can also test it locally via `tox -e linters`

[2022-09-12 13:03] gaby commented on #352
Automatically creating tagged images with Github Actions is super easy. I can work on a PR if needed.

[2022-09-12 13:07] #422 closed

[2022-09-12 13:07] #423 closed

[2022-09-12 13:14] dmsimard commented on #423
Merged the PR, thanks @hille721 !

[2022-09-12 13:31] #420 closed

[2022-09-12 13:49] dmsimard opened #425 "Make controller hostname and username recording optional"
## What is the idea ?

Recording the controller hostname and username has privacy implications and users may want to opt out of recording them.

There should be callback settings (somewhat like ``IGNORED_FILES``) that disables recording for them and sets their value to None instead.

[2022-09-12 13:51] #415 closed

[2022-09-13 00:58] dmsimard commented on #352
@gaby we already build and publish new images on every commit, that part works fine (though it did break on a number of occasions) and it is designed to support any number of images.

I can tell you more about it if you're curious but tl;dr: it's an [ansible playbook](https://github.com/ansible-community/ara/blob/master/tests/with_container_images.yaml) that wraps around [simple scripts](https://g

[2022-09-13 03:05] dmsimard commented on #352
I've tried to keep this short but felt I needed to elaborate, sorry.

Hopefully the project has made it simple enough for you and others to do it.
Something like teaching people to fish instead of giving them a fish ? No offense !

What I mean is that I think it is a good practice to build your own images instead of pulling from a public registry in the context of supply chain security. I mean to

[2022-09-13 06:36] hille721 commented on #352
There would be no need to build the pypi images on every commit. Would be enough to build them after a new Ara version is released. That would avoid that they are changing that often.

Understood, but then the question why we pushing images to Dockerhub at all? Also the README in Dockerhub says nothing about it that those images are just examples and that it would be better to build own images. (I

[2022-09-17 22:32] #243 closed

[2022-09-17 23:27] dmsimard commented on #295
I'm trying to wrap up 1.6.0 and thought we shouldn't forget about this (because I would like it too!) but it's not a blocker for the release -- we can do it for the next release.

[2022-09-17 23:53] dmsimard commented on #265
From the django documentation:

![Screenshot from 2022-09-17 19-47-08](https://user-images.githubusercontent.com/1291204/190879864-0a366a1a-6f87-434b-922e-e41e4707e0ca.png)

I suppose AWX does not run into this restriction because it requires postgresql while ara targets to be compatible with mysql and sqlite as well.

With that in mind, I suppose we should instead truncate the names if they are l

[2022-09-18 13:58] gaby commented on #295
@dmsimard Sounds good to me. Looking forward to 1.6 release!

[2022-09-19 11:59] mathishaloy opened #428 "Option to change the application root path"
## Option to change the application root path
In the previous version (0.x) it was possible to change the application root path (/) to other path like (/ara)
This option is not present in the latest documentation, is there a way today to change the application root path ?

Thanks !

[2022-09-19 12:31] hille721 opened #429 "Rows in search boxes are not aligned"
## What is the issue ?
With the latest master release the rows in the search boxex in playbooks and hosts index are not aligned:

![image](https://user-images.githubusercontent.com/38468371/191016026-89669f3e-416b-4e5d-b032-3c25b130c3a5.png)

![image](https://user-images.githubusercontent.com/38468371/191016097-cee4b44c-80a2-4d7b-a044-d6348980f5dd.png)

[2022-09-19 12:33] hille721 commented on #429
Furthermore due to wrong splitting it is not using the whole space in the search boxes for the rows. E.g. in the tasks index the rows are aligned, but not the whole space is used:

![image](https://user-images.githubusercontent.com/38468371/191018052-9bb38f49-ce7c-4fd9-9650-0c3954f2f1a7.png)

[2022-09-19 13:15] hille721 opened #431 "New user column does not provide a quick filter link"
## What is the issue ?
![image](https://user-images.githubusercontent.com/38468371/191025825-159dce05-139e-4973-ae94-c511ac7cdc76.png)

Clicking on the username should also filter for this particular user, similar as we have it with the other columns:

[2022-09-19 13:17] hille721 commented on #431
imo a left side alignment might be also better, because usernames can quite differ in length
![image](https://user-images.githubusercontent.com/38468371/191026171-f11d151a-74a9-4366-af92-02c16c9ba4bf.png)

[2022-09-19 15:13] #429 closed

[2022-09-19 18:33] dmsimard commented on #331
I'll close this now that the corresponding PR has landed. It's been a worthwhile iterative improvement. Thanks!

[2022-09-19 18:33] #331 closed

[2022-09-19 18:35] dmsimard commented on #428
Hi @mathishaloy and thanks for the issue.

We recommend setting the API server at the root of a subdomain because it's simpler that way.

If you really want to put it under a subdirectory, there's a workaround suggested in this other issue: https://github.com/ansible-community/ara/issues/121

[2022-09-19 18:38] #431 closed

[2022-09-20 08:02] mathishaloy commented on #428
Hi @dmsimard, thanks for your quick response. Unfortunately I'm using the docker image, do you have also a workaround for this type of installation ?

[2022-09-20 13:24] dmsimard commented on #428
The workaround is the same: put an nginx in front of the container which takes care of modifying URLs to be under a subdirectory.

[2022-09-22 01:26] dmsimard opened #433 "Task status may incorrectly be "ok" instead of "failed" (or vice-versa?)"
## What is the issue ?

For example: reproduced in integration tests in ara-collection: https://github.com/ansible-community/ara-collection/pull/59
![Screenshot from 2022-09-21 21-08-40](https://user-images.githubusercontent.com/1291204/191637426-6a1f6dbd-03ae-4f6e-8df5-1d5d5c209f0c.png)

![Screenshot from 2022-09-21 21-09-01](https://user-images.githubusercontent.com/1291204/191637440-523b8281-2d

[2022-09-22 02:08] dmsimard commented on #433
I will spend some amount of time on this because it is meant to work /at least/ when using the serial strategy -- things get "fun" when running from threads inside the callback plugin interface with the free strategy where results for tasks arrive out of order.

In the meantime, some context:

Right now the callback tries to do it based on whether one of the results for a task had a failed status.

[2022-09-27 03:28] dmsimard opened #434 "ara should probably record the version of the callback plugin and API server"
## What is the idea ?

The version of the http client is sent as a user-agent ([here](https://github.com/ansible-community/ara/blob/ed20abc682255bb9f54df0a390147fee857a7a56/ara/clients/http.py#L27)) and it shows up in server logs kind of like this:
``"GET /api/v1/playbooks?order=-started&limit=50 HTTP/1.1" 200 66635 "-" "ara-http-client_1.5.9.dev51"``

The version isn't saved in the database like

[2022-09-28 08:55] bendem commented on #103
I have setup ara 1.x here because ansible is starting to gain traction and being used by other teams. Communication being a complex thing, it allows us to access logs from every run to catch recurring errors that operators encounter but don't tell us about as well as provide support when they do speak with us.

It also allows our team to see whether operators adopt new features, what's used, what

[2022-09-30 19:58] dmsimard opened #435 "Enabling the distributed_sqlite backend prevents routing for <root>/healthcheck/"
## What is the issue ?

We have a healthcheck middleware that answers at ``/healthcheck/`` (like [here](https://demo.recordsansible.org/healthcheck/)) but because it isn't prefixed as expected by the distributed_sqlite, it returns a 404 instead: https://github.com/ansible-community/ara/blob/ed20abc682255bb9f54df0a390147fee857a7a56/ara/server/wsgi.py#L55-L57

This doesn't satisfy things that checks

[2022-10-02 13:09] hille721 commented on #393
quickly checked the error, `django.conf.urls.url()` was deprecrated in 3.1 and removed in 4.0: https://docs.djangoproject.com/en/4.1/releases/4.0/#features-removed-in-4-0.

Because it is only an alias it could be simple replaced with `django.urls.re_path()`(https://docs.djangoproject.com/en/3.2/ref/urls/#url).

No guarantee that with this ara will be compatible with Django 4.0 but because it is a

[2022-10-04 03:44] dmsimard commented on #433
I was finally able to reliably reproduce the issue so I could work on a fix which I've proposed in https://github.com/ansible-community/ara/pull/436 via https://github.com/ansible-community/ara/pull/436/commits/7b825df3dbaffff7f9e8ad2dc135e3e44c270823.

I'll need to do more testing to make sure it doesn't break anything else but in summary we now rely more on the task UUID provided by ansible.

[2022-10-05 03:22] #402 closed

[2022-10-06 01:43] #434 closed

[2022-10-06 01:55] dmsimard commented on #265
I've sent a PR to truncate names to 255 characters and reverted the migration that upped the limit to 512 characters to prevent impacting mysql support.

The callback will print a warning when it truncates something so it is not done silently.

It isn't ideal but shouldn't result in exceptions if there are things longer than 255 characters now.

[2022-10-06 01:56] dmsimard commented on #185
I've sent a PR to truncate label names to 255 characters and reverted the migration that upped the limit to 512 characters to prevent impacting mysql support: https://github.com/ansible-community/ara/pull/437

The callback will print a warning when it truncates something so it is not done silently.

It isn't ideal but shouldn't result in exceptions if there are things longer than 255 characters no

[2022-10-06 13:44] nerijus commented on #265
You say in 437:
[code]
In our case the problem is not with the single hostname (we don't have hostnames length > 255), but with a list of hosts:
[code]
Will it work in our case too?

[2022-10-06 17:27] nerijus commented on #265
But it is not fine, we still get exceptions like in the 1st post, although all our hostnames are less than 255. Are you telling that it should work even now without #437 ?

[2022-10-07 10:55] nerijus commented on #265
I just checked with #437 , it is ok now, I don't get exceptions anymore. Thanks!

[2022-10-07 15:04] dmsimard commented on #265
Yes, this is what the PR is intended to mitigate. Thanks for testing and confirming it works for you!

[2022-10-08 15:28] dmsimard commented on #265
Closing this issue now that the fix has merged in the master branch. It'll be released in 1.6.0.

[2022-10-08 15:28] #265 closed

[2022-10-08 15:28] dmsimard commented on #185
Closing this issue now that the fix has merged in the master branch. It'll be released in 1.6.0.

[2022-10-08 15:28] #185 closed

[2022-10-08 15:56] dmsimard commented on #433
Dropping this out of the 1.6.0 milestone since I believe the implementation is good enough for now but I suspect there may still be edge cases (especially with the free strategy) so I will leave this opened.

[2022-10-08 17:32] #435 closed

[2022-10-14 14:05] StephaneG31 opened #449 "Docker image tag related to git tags"
I'm supprised there's no official docker image tags (like for the 1.5.8).

see https://hub.docker.com/r/recordsansible/ara-api

To have only stable image, do I need to build myself the image ?

[2022-10-14 14:08] hille721 commented on #449
There are already discussions about that in following issue: https://github.com/ansible-community/ara/issues/352

[2022-10-16 06:28] StephaneG31 commented on #449
Thanks I subscribe to this issue and close mine.

[2022-10-16 06:28] #449 closed

[2022-10-16 23:21] dmsimard commented on #393
I had time to look into this just now, it turns out the issue is not between ara and django4 -- in the case of the trace from Debian packaging, it's from django-health-check:
[code]

Digging through the logs, we find that it was trying with version 3.12.1:
[code]

3.12.1 was released in January 2020 and it looks like the issue was fixed in October 2020: https://github.com/KristianOellegaard/django

[2022-10-16 23:26] dmsimard opened #450 "Fedora packaging: tzlocal too old for ara 1.6"
## What is the issue ?

There are various timezone-related fixes in ara 1.6.0 (from 1.5.8) that come with a bump of tzlocal from 2.x to 4.x: https://github.com/ansible-community/ara/commit/07e7cd153896a6ae2266f9ce47adedc7541f047b

However the version of tzlocal in Fedora is still 2.x: https://koji.fedoraproject.org/koji/packageinfo?packageID=19353

[code]

## What should be happening ?

It may tak

[2022-10-19 13:25] adaemmer commented on #48
maybe not a fix, but a "works for me"

[code]
on version 1.5.8

[2022-10-29 23:17] thetreythomas opened #451 "Have the ability from within the Web UI or from the CLI to change a Playbook's "running" status to a "failed" status"
## What is the idea ?

- ARA 1.5.8 installed using the Docker image/container API server
- SLES 15 SP3
- Python 3.6.15
- Ansible [core 2.11.12]

I have some Playbooks listed on my results page as "running" because I had to Ctrl-C the running Ansible playbook as something was wrong with the TASK (TASK was in either a never ending loop, or something else was keeping the TASK from moving on). Once th

[2022-10-30 01:31] dmsimard commented on #451
Hey @thetreythomas and thanks for the issue.

The expired status is meant to be set when playbooks (or tasks) have been in running for too long -- it's likely that the playbook or task will never complete. Maybe they were interrupted or maybe there was a bug.

I'm noticing just now that the CLI help examples are broken in the docs but this can be done with the "ara expire" command:
https://ara.rea

[2022-11-02 20:15] apollo13 opened #453 "distributed sqlite with "old databases""
## What is the idea ?

When running ara in distributed sqlite mode against a few databases of mine it complained that a few fields are missing. This makes sense since the databases aren't upgraded at all. I am wondering if it would make sense (or at least support via a flag) to migrate old databases so they can be viewed with a newer ARA server.

This would probably also mean that we shouldn't eve

[2022-11-03 01:23] erik-overdahl opened #454 "Docs for ara API client are broken"
Every doc on the `CLI: ara API client` documentation page https://ara.readthedocs.io/en/latest/cli.html shows the following stacktrace instead of the command help output.

[code]

[2022-11-03 02:06] dmsimard commented on #453
I've run into this issue as well and I think I manually migrated the databases with something like:
[code]

It is less than ideal, I will agree.

There are some cases where we automatically run SQL migrations, notably:
- when the callback runs with the default offline client
- when starting an ara container image
- when using the ara_api ansible role

In the client, it is enabled by a flag which d

[2022-11-03 02:08] dmsimard commented on #454
Hi @erik-overdahl and thanks for the issue.

I've also noticed this recently enough: https://github.com/ansible-community/ara/issues/451#issuecomment-1296053818

I haven't got around to troubleshooting it just yet.

[2022-11-03 08:41] apollo13 opened #455 "Dockerfile for ARA"
## What is the idea ?

I'd love to provide an optimized `Dockerfile` for ARA that can be easily built (and preferably also shipped to dockerhub during releases). What would improve:
 * No dev deps in the image
 * Properly collected static files
 * Easier building (buildah.sh files are still somewhat niche and not supported anywhere)

What do you think? I can provide the Dockerfile if wanted :)

[2022-11-03 18:50] erik-overdahl commented on #455
Is what you're talking about different from these?
https://ara.readthedocs.io/en/latest/container-images.html

[2022-11-03 19:46] apollo13 commented on #455
Yes, I'd like to have a common tooling for building the image. I do not want to figure out how I can shove buildah into my ci pipeline. So any improvement I'd be able to offer would be towards a Dockerfile/Containerfile that one can build with docker, podman and kaniko among others

On Thu, Nov 3, 2022, at 19:50, erik-overdahl wrote:

[2022-11-03 19:54] phemmer opened #457 "Group task results"
## What is the idea ?

Currently when viewing a playbook report, you only get 2 views: The "Hosts" view which shows a list of ok/changed/skipped/... per-host. And the "Task results" which gives each individual task on every host.
I think it would be good to provide another view that would group the results by task. This would show a count of hosts which were ok/skipped/changed/failed for each task

[2022-11-03 22:05] hille721 commented on #457
I think the hopefully soon released version 1.6.0 introduces exactly what you describe: a tasks page.
You can already check it out here: https://demo.recordsansible.org/tasks

[2022-11-03 22:11] hille721 commented on #455
There is already a discussion about the future handling of docker files here: https://github.com/ansible-community/ara/issues/352

[2022-11-04 00:55] phemmer commented on #457
Thanks, but not really what I was describing. Below an example / mockup of my concept.

This first image is what it currently looks like at https://demo.recordsansible.org/playbooks/2126.html

![Screenshot_2022-11-03_20-41-30](https://user-images.githubusercontent.com/1826947/199861341-64062876-4dee-4061-8b03-56831f766ee7.png)

&nbsp;

And this is my concept with the exact same tasks, but grouped

[2022-11-04 01:56] phemmer commented on #171
I wrote a wrapper around the ara callback plugin that can be found here: https://gist.github.com/phemmer/8ee4ea0ebf1b389050ce4a2bd78c66d6

It basically makes everything asynchronous, preventing the ARA hooks from blocking Ansible execution. It's a single queue and a single thread, so order is preserved.
Note that because everything is processed in a queue, at the end of the playbook if it hasn't c

[2022-11-04 07:12] hille721 commented on #457
https://demo.recordsansible.org/tasks?playbook=2126

And this is the new introduced task page filter for your mentioned playbook:
![image](https://user-images.githubusercontent.com/38468371/199909578-a7c41f87-d705-4652-b809-68dadb541aea.png)

Imo this is pretty the same :) There is just the difference that in your mockup you have put the status of the related results into the status column, while

[2022-11-10 12:38] amilcarlucas commented on #425
This is nice. But using ara 1.5.8 I do not see the "user that run the playbook" nowhere in the web interface. Where is it?

[2022-11-10 12:52] hille721 commented on #425
new feature which will come with the 1.6.0 release.
There is already a release candidate available to test: https://pypi.org/project/ara/1.6.0.0rc1

[2022-11-10 12:55] hille721 commented on #425
@dmsimard I think this issue can be closed because #438 is already merged

[2022-11-20 04:10] dmsimard commented on #455
Hi @apollo13,

I've been meaning to test and benchmark using collected static files without whitenoise.
I am curious about the overhead. Have you figured something that works ?

I have a personal preference for buildah (and podman) but that doesn't mean we can't have a Dockerfile and there is no need need to argue about which is easier :p

My time is limited and I don't generally use Docker but I

[2022-11-20 04:15] dmsimard commented on #455
@hille721 there are relations between that issue and this one but for me they are fundamentally about different things -- this one is about contributing a Dockerfile and the other one is about creating image tags for versions.

They are not mutually exclusive and I still have opinions about versioned tags.
I will revisit that issue sometime in the future.

[2022-11-20 04:44] dmsimard commented on #425
Yes indeed, thanks @hille721.

Sorry about the delay in releasing 1.6.0. It is overdue.

[2022-11-20 04:44] #425 closed

[2022-11-20 10:09] apollo13 commented on #455
Well collecting static files would mean that static files would be brotli compressed and sent out with proper caching headers etc…

Given that a Dockerfile/Containerfile (I am happy to name it Containerfile btw) is buildable by podman as well as docker I am wondering if in the longrun consolidating to one file might not make more sense (maintainance wise). But either way I will submit a Dockerfile

[2022-11-20 17:19] dmsimard commented on #455
Right, what I mean to say is that currently static files are served by the django backend via [whitenoise](http://whitenoise.evans.io/en/stable/django.html) and as a result does not /need/ to be collected.

Now, ara doesn't have a lot of static assets but I assume there is a non-zero overhead to doing that vs collecting files and exclusively serving them through a web server in front.

Containerfi

[2022-11-20 22:42] dmsimard commented on #457
I wouldn't say that it was buggy but it was challenging and took a lot of time and iterations to get it right :)

For context, before 1.6.0, ara didn't have the concept of a "failed" task, only whether it was running or completed.
Now we have a "failed" task status which is used when at least one host has a failed result.

I don't think that is mutually exclusive with the proposal of grouping resu

[2022-11-22 14:36] bendem opened #461 "ansible collection for the client side of things"
## What is the idea ?

Following the spirit of #71, it would be nice to install the callback and ansible modules using collections rather than through pip.

Currently, I have this is my ansible config to make the callback plugin useable, would love to clean it up:

[code]

I'm currently using `1.5.8`.

[2022-11-22 17:48] dmsimard commented on #461
Hi @bendem and thanks for the issue.

I agree that it's challenging to keep track of where the callback is installed depending on the distro, venv, etc.
It's why we came up with helper modules like ``python3 -m ara.setup.callback_plugins`` but it's not something you can put in an ansible.cfg because it's just an ini file.

We dicussed whether we should do this a while back here:
- https://github.c

[2022-11-25 16:20] amilcarlucas commented on #461
ansible-lint complains that "ara_record" is not a FQCN .
is there a way to use a real FQCN without installing ara via collections?

[2022-11-28 15:44] beatjokes opened #462 "Generate hyperlink on ARA Record when setting value to type url"
## What is the idea?
Hi, I am working with ARA as part of my work optimization and I consider very helpful beeing capable of recording some additional data on ARA plays.
One kind of value that I record (using 'ara_record' module) is a url, that is why I set in the ansible task the type 'url' but I expect ARA to record it as a hyperlink so I can click on it and go directly to the navigator. Instead