[2019-04-17 01:01] dmsimard opened #15 "Add documentation for playbook names"
It's possible to give playbook names by supplying the ``ara_playbook_name`` Ansible variable.

The intent of the feature is to allow users to give their playbook user friendly names that would display in-lieu of the playbook path by default.
For example, you might have 3 different playbooks named "pre" "run" and "post".

The name is a searchable field in the API and users could therefore search fo

[2019-04-17 13:56] dmsimard opened #16 "Add support for API authentication in the clients"
The API can require authentication for reads and writes and the client must be able to authenticate against the API.

We will need to do the plumbing so that the different components are able to authenticate:
- ``ara_default`` callback plugin: https://github.com/ansible-community/ara/blob/d56c68f749476e761d7d62a60c6d8843b95bf5eb/ara/plugins/callback/ara_default.py#L135
- ``ara_record`` action plug

[2019-04-23 18:33] dmsimard opened #17 "Add parameter to ignore file path patterns to avoid saving matched files"
The callback will retrieve files that are loaded by Ansible throughout the execution of the playbook. This could contain files that users might not want to save, either because they are sensitive or are simply not relevant.

The implementation would be somewhat similar to that we already do with ``ignored_arguments`` and ``ignored_facts`` for ignoring specified playbook parameters and host facts.

[2019-04-23 18:37] dmsimard opened #18 "Move default configuration template generation out of settings.py"
The configuration template is currently created out of settings.py: https://github.com/ansible-community/ara/blob/d56c68f749476e761d7d62a60c6d8843b95bf5eb/ara/server/settings.py#L202-L234

This feature is useful but would be better suited as a CLI command so, amongst other things, it doesn't run every time settings.py is loaded.

[2019-04-23 19:00] dmsimard opened #19 "Add postgresql integration tests"
We're only testing with sqlite right now which was good enough but we need a minimum of coverage on mysql and postgresql too.

[2019-04-23 19:34] dmsimard opened #20 "Add default callback and ara_record documentation to the docs"
``ansible-doc -t callback ara_default`` works because we have documentation in the callback plugin:
https://github.com/ansible-community/ara/blob/d56c68f749476e761d7d62a60c6d8843b95bf5eb/ara/plugins/callback/ara_default.py#L48-L100

Same thing for ``ara_record``:
https://github.com/ansible-community/ara/blob/d56c68f749476e761d7d62a60c6d8843b95bf5eb/ara/plugins/action/ara_record.py#L24-L132

Howeve

[2019-04-24 10:51] Glandos opened #21 "Add table type for ara_record"
It could be useful to record data with 2 dimensions, using either csv, or json with a list of homogeneous records.
It can then be displayed using the same UI as host table, task table, etc, with all existing features like sorting.

The ultimate goal is to display a table from similar data accumulated from different hosts. For example, show uptime and free memory for each hosts in a single table, t

[2019-04-24 11:55] dmsimard commented on #21
Migrated from https://storyboard.openstack.org/#!/story/2003683

[2019-04-24 13:00] apevec opened #22 "Update link in the github project description"
While redirect works, this would complete detach from the openstack branding:

s#This is the GitHub mirror for https://opendev.org/openstack/ara#This is the GitHub mirror for https://opendev.org/recordsansible/ara#

[2019-04-24 13:07] dmsimard commented on #22
Fixed for ara, ara-web and ara-infra. Thanks !

[2019-04-24 13:07] #22 closed

[2019-04-24 13:59] dmsimard opened #23 "Confusing behavior of env vars ARA_DIR and ARA_LOG_FILE"
### Migrated from https://storyboard.openstack.org/#!/story/2005197

@riccardomurri reported:

[2019-04-24 14:00] dmsimard commented on #23
#### From https://storyboard.openstack.org/#!/story/2005197#comment-118135 by @riccardomurri

[2019-04-24 14:01] dmsimard commented on #23
#### From https://storyboard.openstack.org/#!/story/2005197#comment-118171 by @riccardomurri

[2019-04-24 14:02] dmsimard commented on #23
#### From https://storyboard.openstack.org/#!/story/2005197#comment-121527 by @dmsimard

[2019-04-24 14:03] dmsimard commented on #23
#### From https://storyboard.openstack.org/#!/story/2005197#comment-121571 by @riccardomurri

[2019-04-24 14:17] dmsimard opened #24 "Document usage of ARA with AWX/Tower"
ARA and AWX/Tower aren't mutually exclusive. They can be used individually or together depending on the user's needs and use cases.

In theory, we would be able to install ara in the default virtualenv but that doesn't work and is documented in https://github.com/ansible/awx/issues/1737

What had worked for me in the past would be to create a new virtualenv, install ara and ansible in it and then

[2019-04-24 15:20] dmsimard opened #25 "Add client-side implementation of labels"
A label is a concept exclusive to ara and it is meant to be applied to playbooks by users in order to organize playbooks in logical groups.

Some example use cases:
- Labels called ``dev``, ``staging`` and ``production`` could be applied to playbooks in order to group playbooks targetting specific environments.
- Labels called ``pre``, ``run`` and ``post`` could be used to identify which phase of

[2019-04-24 15:22] dmsimard commented on #25
Also see https://storyboard.openstack.org/#!/story/2001161 by @ssbarnea

[2019-04-24 15:34] dmsimard opened #26 "Differentiate between a run that is incomplete vs in-progress"
#### Migrated from https://storyboard.openstack.org/#!/story/2000852

[2019-04-24 16:00] dmsimard opened #27 "Add support for recording Ansible adhoc commands"
``ansible-playbook`` commands have always been recorded by ara if the callback plugin was loaded.

By default, callback plugins are not enabled for ``ansible`` adhoc commands but they can be enabled by setting ``bin_ansible_callbacks`` in ansible.cfg or the ``ANSIBLE_LOAD_CALLBACK_PLUGINS`` env variable to ``True``.

However, enabling this at time of writing does not work because there is no ``v2_

[2019-04-24 16:01] dmsimard commented on #27
#### Migrated from https://storyboard.openstack.org/#!/story/2000841

[2019-04-24 16:18] dmsimard opened #28 "Make playbook.arguments available in playbook list"
playbook.arguments is more or less a fixed size dict and we can afford to make it available in the playbook list call.

This will be useful for things like highlighting playbooks that ran with ``--check`` without needing to do a call for the playbook details. Example: https://github.com/ansible-community/ara-web/issues/6

[2019-04-24 16:39] dmsimard opened #29 "Add support for recording diffs"
Diffs are available from the callback but they are currently discarded:

https://github.com/ansible/ansible/blob/7b7d6a1fef42eed7e144a7c391817a0a8263c3ae/lib/ansible/plugins/callback/__init__.py#L113-L115

We can retrieve the diff before it is discarded around here:
https://github.com/ansible-community/ara/blob/d56c68f749476e761d7d62a60c6d8843b95bf5eb/ara/plugins/callback/ara_default.py#L289

The

[2019-04-24 18:49] dmsimard opened #30 "Add API support for searching objects by dates"
The API should support searching objects based on their dates.

For example, we might want to search for playbook that were run after a certain date or before a certain date. This search should be possible for other objects as well: plays, tasks, results.

There are some approaches suggested on how to do this with django-rest-framework here: https://stackoverflow.com/questions/37183943/django-how-

[2019-04-24 18:52] dmsimard opened #31 "Add tooling to prune the database of old records"
Users might not want to keep all records around until the end of time. It might be relevant to keep them for 30 days, 60 days, a year, etc.

The API does not yet support searching by dates (see https://github.com/ansible-community/ara/issues/30) so that would need to be addressed first.

We need to determine what this would look like in practice. A django-admin command ? A command in the (eventual

[2019-04-24 18:56] dmsimard commented on #31
#### Migrated from https://storyboard.openstack.org/#!/story/2001259

[2019-04-24 19:05] dmsimard opened #32 "psycopg2.OperationalError when using ARA 0.x with PostgreSQL"
#### Migrated from https://storyboard.openstack.org/#!/story/2005492

Sergei Volin reported issues trying to run ARA with PostgreSQL:
[code]

Excerpt from posgresql-9.6-main.log file:
[code]

Installed packages:
[code]

[code]

[2019-04-24 19:37] spvolin commented on #32
Hi David,
My guess is that the problem is that ARA app closes connections after request to DB and webapp module cannot reach ARA db after log_ara callback completed its tasks.
With log_ara callback itself everything is ok because every time app creates new db conection for every request and close it after commit.
I noticed that you don't use pooling (it is used NullPool class). It might be the pro

[2019-04-24 20:27] dmsimard commented on #32
@spvolin I haven't had the chance to really look into this yet but these errors stood out to me:

[code]

At first glance, this looks like the database server SSL certificate is untrusted or the client is trying to use SSL over a cleartext port.

I ran the postgresql integration tests and they ran fine locally although there is no SSL configuration involved.
What does your database connection stri

[2019-04-24 21:44] dmsimard opened #33 "pep517 makes tox confused when both pyproject.toml and setup.py are present"
Got this error today:
[code]

[2019-04-25 13:23] dmsimard commented on #31
Relevant link, BonnyCI's implementation for 0.x: https://github.com/BonnyCI/hoist/commit/8d7822c75202bcb931020329146f418af512f2e1

[2019-04-25 14:28] 6sossomons commented on #24
I've used those same steps as described above and still don't see data being recorded into ara from runs inside tower.

[2019-04-25 15:22] spvolin commented on #32
Thank you David for your response.
Firstly as regards to Postgres SSL. Yes, it turned out that SSL was turned on in my postgresql.conf. Though I used `postgresql+psycopg2://$ARA_TEST_PGSQL_USER:$ARA_TEST_PGSQL_PASSWORD@localhost:5432/ara?sslmode=disable`
Now It's off and I've managed to go a little bit further. Namely:
1. Playbook run completed successfully.
2. Web requests:
http://192.168.1.182:8

[2019-04-25 15:59] dmsimard commented on #24
@6sossomons yes, at the time I created the issue I also noted that the procedure didn't work and needed to be troubleshooted.

I got it to work just now:
![Screenshot from 2019-04-25 11-32-52](https://user-images.githubusercontent.com/1291204/56749893-9ec0f080-6750-11e9-8ac9-8d9af2a6d357.png)

And in ARA:
![Screenshot from 2019-04-25 11-33-15](https://user-images.githubusercontent.com/1291204/5675

[2019-04-25 16:25] spvolin commented on #32
MariaDB log:
[code]
The context of the error is the same:
`File "/home/uansible/.local/lib/python2.7/site-packages/sqlalchemy/engine/default.py", line 552, in do_execute`
[code]

[2019-04-25 16:48] dmsimard commented on #32
@spvolin are those errors with or without pooling enabled ?

[2019-04-25 17:01] spvolin commented on #32
One more remark about nested transactions as so I still believ that this is the problem.
Both SQLite (meanwhile I cannot explain why ARA does work with it), MariaDB and Postgresql do not support nested transactions.
But all of them have workarounds - SAVEPOINTs:
- https://sqlite.org/lang_savepoint.html
- https://mariadb.com/kb/en/library/savepoint/
- https://www.postgresql.org/docs/current/sql-sav

[2019-04-25 17:04] spvolin commented on #32
all are default values (as in ARA code)

[2019-04-25 20:08] #33 closed

[2019-04-26 09:32] MrMEEE commented on #24
Also trying to get it to work here..

I have configured the following:
![araawx](https://user-images.githubusercontent.com/768031/56798295-c9757c80-6816-11e9-8985-22b68ad2dc2a.png)

But nothing is pushed into the database.. it works fine if I run it from the cli...

Anyone got a hint??... anyway to troubleshoot/debug this

[2019-04-26 21:18] spvolin commented on #32
With **gunicorn** wsgi ARA+PG/MariaDB woks fine to me.
With **ara-manage** did not. Only SQLite.

[2019-04-27 05:56] pleung-eis opened #34 "Unable to connect to MySQL with SSL enabled"
Unable to connect to MySQL database with SSL enabled.

[exception]
  File "/usr/local/lib/python3.7/site-packages/pymysql/connections.py", line 684, in _read_packet
    packet.check_error()
  File "/usr/local/lib/python3.7/site-packages/pymysql/protocol.py", line 220, in check_error
    err.raise_mysql_exception(self._data)
  File "/usr/local/lib/python3.7/site-packages/pymysql/err.py", line 109,

[2019-04-28 00:38] dmsimard commented on #19
Looks like testing both SSL and cleartext would be relevant to provide coverage for issues like https://github.com/ansible-community/ara/issues/34

[2019-04-28 00:50] dmsimard commented on #34
Thanks for the report!

I've added a note in #19 to consider testing for SSL as well as cleartext.
According to this [post](https://stackoverflow.com/questions/25785252/how-to-connect-to-mysql-server-with-ssl-from-a-flask-app) it looks like the connection string with SSL enabled should look like this: ``mysql+pymysql://ara:password@mysqlinstance/ara?ssl_ca=pemfile``

Can you try that and let me kn

[2019-04-29 02:45] pleung-eis commented on #34
Thanks for the quick response!  Setting the ssl_ca parameter via  env var instead of ssl worked!

[2019-04-29 14:27] spvolin opened #35 "ara_record stucks with MariaDB and Postgresql"
ara_record stucks with MariaDB and Postgresql when running playbook for a few inventory hosts and fork>=2
With fork = 1 ara_record works just fine.
Normaly a user wants this parameter be much >>1!!
So putting it to 1 can not be regarded as a solution. It's only an indication of a problem with DB more mature than SQLite.
It demands more testing of ARA with other DB.

[2019-04-29 14:28] spvolin commented on #35
ansible.log with MariaDB:
[code]

[2019-04-29 14:33] spvolin commented on #35
With Postgresql ara_record plugin stucks without any error or warning.
But some ansible processes are "defunctioned".
[code]

[2019-04-29 14:44] spvolin commented on #35
To the present moment my recommendations for those who wants to run ARA with other DB than SQLite:
1. To run ara_record smoothly just set fork=1 in ansible.cfg [default] section:
[code]

2. To run web just use gunicorn with ara wsgi module rather than webapp with flask, e.g.:

`gunicorn -w 4 -b 0.0.0.0:8000 ara.wsgi:application`

[2019-04-30 15:20] dmsimard commented on #32
@spvolin the fact that it works with gunicorn and doesn't with the embedded development server is a good observation. Thanks for that.

With ARA 1.0 around the corner, I'd like to avoid major updates and refactors in 0.x since it is a completely different code base (flask to django).

In your opinion, is there a low hanging fruit fix for this ?

[2019-04-30 15:22] dmsimard commented on #35
Good find. I agree that running with ``forks = 1`` is not an acceptable workaround.

I'll keep this opened to make sure we don't have this problem in 1.0.

[2019-04-30 15:30] dmsimard commented on #24
@MrMEEE you can see this in my first comments but when I got it to work, it was by creating the venv in ``/var/lib/awx/venv/ara``.
This is somehow picked up by awx automatically and the venv becomes available in a dropdown menu to select in your job templates.

[2019-04-30 16:19] dmsimard opened #36 "Provide standalone packages for the API, the clients and the plugins"
``ara-server``, ``ara-plugins`` and ``ara-clients`` were standalone packages on PyPi before we pulled everything back into a single repository in order to simplify things and reduce the overhead from managing multiple repositories.

If possible, it would be relevant to provide standalone packages so that users don't end up installing things they don't need.

It's worth noting that ARA 1.0 is alrea

[2019-05-01 12:38] apollo13 commented on #36
What we could do is provide extras, ie one could install "ara[server]" which would then install the full dependencies. Per default I think it should be client/plugins only? You can see an example of this approach in Django https://github.com/django/django/blob/master/setup.py#L87-L90 where we install extra packages for password hashers as needed.

[2019-05-01 12:42] apollo13 commented on #36
Just to clarify: I'd still go with one ara package because we do not have much code as it is in ara itself -- the current alpha wheel has 64k… But with the extras approach we can disable installation of uneeded requirements (essentially Django if the http client is used).

[2019-05-01 20:58] MrMEEE commented on #24
hi @dmsimard

I tried that as well.. still does nothing :(

[2019-05-02 15:54] dmsimard commented on #36
@apollo13 that is another approach I didn't think about, thanks for bringing it up.

With the server dependencies taken out, the only required dependencies end up being only ``pbr`` and ``requests``. We're left with an even smaller list:
[code]

It would lead our quickstart install to be ``pip install ara[server]`` instead of ``pip install ara`` and docs would need to be updated appropriately to p

[2019-05-03 14:10] dmsimard commented on #36
Sent a review: https://review.opendev.org/#/c/656950/

[2019-05-03 14:14] dmsimard opened #37 "Missing unit tests for offline and http clients"
Although the clients are exercised through integration tests, there are no unit tests right now. Even a minimal amount of coverage would be nice.

[2019-05-03 14:29] dmsimard opened #38 "Add support for creating users for authentication in the API role"
The role should have support for creating simple django users meant to authenticate against the API. The objective would be to automate the documented process: https://ara.readthedocs.io/en/feature-1.0/api-security.html

[2019-05-03 14:32] dmsimard opened #39 "Add integration tests for API authentication"
The ara-tests role should have support for testing authentication. Ideally the API role would support managing the users so that the test role can supply them and test authentication from the callback plugin, ara_record and the clients afterwards.

Adding support for managing authentication in the roles is tracked in https://github.com/ansible-community/ara/issues/38

[2019-05-03 15:30] dmsimard commented on #16
Will let this land without tests but I've created issues to add them asap:
- [https://github.com/ansible-community/ara/issues/37](Missing unit tests for offline and http clients)
- [https://github.com/ansible-community/ara/issues/38](Add support for creating users for authentication in the API role)
- [https://github.com/ansible-community/ara/issues/39](Add integration tests for API authentication

[2019-05-03 20:28] dmsimard commented on #19
postgresql in progress via https://review.opendev.org/#/c/657023/

[2019-05-06 14:17] dmsimard commented on #36
Fixed !

[2019-05-06 14:17] #36 closed

[2019-05-06 14:53] spvolin commented on #32
If you mean "low price and quick fix" - I don't know for a while since I'm a very newbie in all that stuff like: SQLAlchemy, Flask and even Python ;)
As regards to workarounds of these issues then fortunately there exists a couple - https://github.com/ansible-community/ara/issues/35#issuecomment-487608528

[2019-05-08 16:00] dmsimard commented on #16
Better docs fixed by https://review.opendev.org/#/c/657822/

[2019-05-08 20:35] dmsimard commented on #28
Merged as https://review.opendev.org/#/c/657847/

[2019-05-08 20:35] #28 closed

[2019-05-09 14:09] biohazd opened #40 "Internal Server Error in browser"
I often get the error in the browser "Internal Server Error".  If I view the other pages in the browser, they load fine, so its only 1 page that has the issue. e.g. https://ara/reports/list/4.html

[ root@ara-20:~]$ pip list
ansible (2.3.2.0)
ara (0.13.0)

Should i just upgrade ARA version, or is this a known issue?

The error logs show
[code]

[2019-05-13 12:51] stdedos opened #41 "Group Playbook Task results ... per task"
As a user, I would expect to have a more consise output like:

Task Name | Action | Elasped | Duration | Status
-- | -- | -- | -- | --
Task 1 | x | AVG 0s | AVG 1s | 11 / OK
Task 2 | y | AVG 1m | AVG 1m | 11 / CHANGED
Task 3 | z | AVG 1.5m | AVG 1.5m | 10 / CHANGED, 1 FAILED
Task 4 | a | AVG 0s | AVG 1s | 11 / SKIPPED

which could then, expand and/or track per host what has happened

e.g. 10 hosts

[2019-05-15 14:12] dmsimard commented on #41
@stdedos I think that's a good idea.

We are actually in the process of rewriting the web interface as a standalone project for ARA 1.0 so this is a good opportunity to implement this in some shape or form in [ara-web](https://github.com/ansible-community/ara-web).

GitHub says we can transfer issues but it's beta so let me try that.

[2019-05-15 14:18] dmsimard commented on #40
@biohazd I believe the bug you are hitting was fixed with https://github.com/ansible-community/ara/commit/d69b2d34c20137eceffc3f5182541da4379f12b2 which landed in 0.16.

In any case, I would recommend using the latest version of ARA to benefit from the bug fixes and performance improvements over time.

Also note that Ansible 2.3 has been EOL since [2017-12-20](https://docs.ansible.com/ansible/late

[2019-05-15 15:38] biohazd commented on #40
Thanks for replying, I will try an upgrade.

[2019-05-16 12:50] dmsimard commented on #40
@biohazd great, I'll close this for now -- please feel free to re-open if you encounter the issue with the latest versions.

[2019-05-16 12:50] #40 closed

[2019-05-17 13:54] yodatak opened #42 "ara_api role on fedora could not detect package manager"
The use of of auto make it bug on my fedora 30
TASK [ara_api : Get list of installed packages] **********************************************************************************************************************************************************************************************
task path: /home/YC588F8N/ara/ara-feature-1.0/roles/ara_api/tasks/pre-requirements.yaml:32
<127.0.0.1> ESTABLISH L

[2019-05-17 17:23] dmsimard commented on #25
This is being implemented in a similar fashion to playbook names. See https://review.opendev.org/#/c/659835/

[2019-05-17 17:27] #34 closed

[2019-05-17 17:33] dmsimard commented on #42
@yodatak in my experience, that issue is because the python interpreter from your virtual environment isn't inheriting from your system packages and so it doesn't have access to python-yum (or python-dnf, or libselinux...)

I'd love to find a solution for this.

[2019-05-20 11:23] rndmh3ro opened #43 "Running ara_api playbook fails on install_ara"
# Problem

Installing ara on Ubuntu 18.04 with:
[code]

fails with:

[code]

# Resolution

Change the install ara task to look like this.
Since Python 3 is required for ara and on Ubuntu the binary `virtualenv` does not exist, I guess this should be fine. However I did not test in on other operating systems. I can provide a PR for it.

[code]

# Additional data

ARA-release: `1.0.0b1`

OS:
[code]

[2019-05-20 11:46] rndmh3ro opened #44 "ansible_user undefined variable on gunicorn-task"
# Problem

Installing ara on Ubuntu 18.04 with:
[code]

fails with:

[code]

# Resolution

One also could either define `ansible_user` as a variable or use `ansible_user_id` in the gunicorn service-template.

# Additional data

ARA-release: `1.0.0b1`

OS:
[code]

Python:
[code]

[2019-05-20 12:48] rndmh3ro opened #45 "pytz.exceptions.UnknownTimeZoneError: None"
# Problem

Running ara on Ubuntu 18.04 fails with nginx and gunicorn.
When opening the URL via nginx, I get a Internal Server Error and the following exception in the log: https://gist.github.com/rndmh3ro/2117d0d5dc286f38fe849788709ad42e

However when opening ara on port 3000 it works.

Installed with the playbook:
[code]

# Resolution
I don't know. I tried fiddling with the TIME_ZONE parameter bu

[2019-05-21 14:49] dmsimard commented on #45
@rndmh3ro thanks for the report!

I've seen that exception as well but if I remember correctly, it was an exception raised when handling another exception. If you see that exception, the real exception is probably at the very top of the stack.

I'll keep this bug opened because we need to fix the timezone issue.

[2019-05-21 14:54] dmsimard commented on #44
@rndmh3ro thanks for this report !

You're right, ``ansible_user`` is not necessarily always defined and it looks like ``ansible_user_id`` is what we want and have available from the Ansible facts.

This will be fixed by https://review.opendev.org/660414 and will be part of beta2.

[2019-05-21 15:05] dmsimard commented on #43
@rndmh3ro I remember this being problematic and trying both ``virtualenv_python`` and ``virtualenv_command`` and needing to settle on ``virtualenv_python`` but I forget why at this time.

I've sent a test patch to replace virtualenv_python with virtualenv_command here: https://review.opendev.org/660420

[2019-05-21 15:06] dmsimard commented on #42
@yodatak are you able to reproduce the issue with a virtualenv that inherits system packages ?
Like this: ``python3 -m venv --system-site-packages /path/to/venv``

[2019-05-21 15:27] dmsimard commented on #45
For the record, USE_TZ and TIME_ZONE were set the way they are to avoid this kind of drift:

[code]

[2019-05-21 15:50] dmsimard commented on #43
Oh, yeah, this is why (from [CI](http://logs.openstack.org/20/660420/1/check/ansible-role-ara-api-ubuntu/fae8f2f/ara-report/)):
[code]

This occurs only on Ubuntu and doesn't reproduce on Fedora.
I've held a CI node to troubleshoot this further.

[2019-05-21 16:17] dmsimard commented on #43
Ok so the problem that makes pip give up immediately is resolved by https://github.com/pypa/pip/pull/6367 but it hasn't made it's way to updated packages everywhere yet.

We hit this problem in CI because the virtual machines are set up to use local pypi/wheel mirrors, from ``/etc/pip.conf``:
[code]

I sent https://review.opendev.org/#/c/660445/ to remove the extra wheel mirror and rebased https:/

[2019-05-21 18:05] dmsimard commented on #44
This is fixed by https://github.com/ansible-community/ara/commit/79c7e1b5e37b7cd7335083ce162d07be35b42741

Closing the issue, thanks again for the report.

[2019-05-21 18:05] #44 closed

[2019-05-21 20:06] dmsimard commented on #25
This has landed and will be part of beta2.

[2019-05-21 20:06] #25 closed

[2019-05-21 20:09] dmsimard commented on #43
This has been fixed and will land in beta2.

[2019-05-21 20:09] #43 closed

[2019-05-22 10:33] rndmh3ro commented on #45
You're right, on top of this was another exception:

[code]

Changing the ALLOWED_HOSTS in the settings.yaml fixed the issue. Thanks for your help!

[2019-05-22 10:33] #45 closed

[2019-05-22 14:35] dmsimard opened #46 "Ansible 2.8: Regression because of new sentinel class representing None or []"
Example trace from ara 1.0:
[code]

Or screenshot from 0.x:
![Screenshot](https://user-images.githubusercontent.com/1291204/58183314-254bed80-7c7d-11e9-9320-0945ae34469d.png)

This is because the structure of the task object has changed.

In 2.7:
[code]

In 2.8 (notice all the ``ansible.utils.sentinel.Sentinel``):
[code]

After discussing this with upstream in #ansible-devel, it turns out that thi

[2019-05-23 14:07] dmsimard commented on #46
Fixed.
Released in 0.16.4 and 1.0b2.

[2019-05-23 14:07] #46 closed

[2019-05-23 16:05] dmsimard commented on #20
Callback docs was added by https://github.com/ansible-community/ara/commit/e1d3e568937a50916b468c7a1713fa092eb3fc2e

ara_record docs will be added by https://review.opendev.org/#/c/661040/

[2019-05-23 16:06] dmsimard commented on #15
This will land with https://review.opendev.org/#/c/661040/

[2019-05-23 16:09] dmsimard commented on #19
Re-scoped this to postgresql since this is complete.
Will create another issue for mysql tests which are a bit more complicated.

[2019-05-23 16:09] #19 closed

[2019-05-23 16:11] dmsimard opened #47 "Add role support and integration tests for MySQL/MariaDB"
We already have tests for postgresql but could use tests for mysql in a similar fashion to https://github.com/ansible-community/ara/blob/89daa48a6bf7e60b7a41284690b3f0a943c1ae0f/tests/with_postgresql.yaml

[2019-05-23 23:12] dmsimard opened #48 "UnicodeEncodeError: 'utf-8' codec can't encode characters in position 48-61: surrogates not allowed"
Noticed when running ansible integration tests:

[code]

[code]

[2019-05-28 16:28] dmsimard opened #49 "ara_api role: gunicorn fails to start if selinux is enforcing"
See:

[code]

This used to be addressed by shipping a selinux policy file but somehow got lost during the transition from ara-infra to ara.

[2019-05-28 16:30] dmsimard commented on #49
Sent a patch to re-add the file back in: https://review.opendev.org/#/c/661808/

[2019-05-31 20:14] 6sossomons commented on #24
Any update on this case?

[2019-06-04 14:12] dmsimard commented on #24
@6sossomons @MrMEEE I haven't had the opportunity to look into this yet, been focused on releasing ara 1.0.

In other news, [Tower 3.5 has been released for RHEL8](https://www.ansible.com/blog/whats-new-in-ansible-tower-3.5) with full python3 support which will make it easier to integrate ara 1.0.

In the meantime, ara 1.0 is already [integration tested with postgresql](https://github.com/ansible-

[2019-06-05 13:27] biohazd opened #50 "slow loading of tasks"
Hi

When I click on a TASK and then onto an entry on the "status" column, it takes ages to load. I have the same setup on an older version of ARA and its much faster.

Database in stored in AWS RDS.

Versions.
ara (0.16.4)
ansible (2.5.5)

[2019-06-05 13:28] biohazd opened #51 "Slow loading of tasks in ara 0.x web interface"
Hi

When I click on a TASK and then onto an entry on the "status" column, it takes ages to load. I have the same setup on an older version of ARA and its much faster.

Database in stored in AWS RDS.

Versions.
ara (0.16.4)
ansible (2.5.5)

[2019-06-05 14:16] dmsimard commented on #50
Closing this issue, let's use https://github.com/ansible-community/ara/issues/51 instead.

[2019-06-05 14:16] #50 closed

[2019-06-05 14:25] dmsimard commented on #51
@biohazd The performance and memory requirements for running the web interface in ARA 0.x is somewhat of a known issue.

There has been attempts in the past to try and address some of it like https://github.com/ansible-community/ara/commit/ea1e0b6e815c02373b2fe6ddb96cbaa214fad308 and https://github.com/ansible-community/ara/commit/5e03143e55b702c841e8b3904b7efd1d762ae517 but ultimately, the actual

[2019-06-05 14:37] biohazd commented on #51
ahh ok, thanks.

[2019-06-05 15:32] dmsimard opened #52 "Could/Should there be an ARA callback plugin in upstream Ansible ?"
Would an ARA callback plugin in upstream Ansible be useful ?

The current implementation of the callback plugin requires at a minimum the ARA HTTP API client which requires ARA to be installed.
When using the default offline API client, it requires the server dependencies to be installed as well.

So, that said, I don't think the callback in it's current shape is a good fit for being included upst

[2019-06-05 15:58] MarkusTeufelberger commented on #52
https://docs.ansible.com/ansible/latest/plugins/callback.html <-- there are several plugins that only interact with a single service that also has to be available, son in general it should be possible to have one for ara too.

I agree that it would be more user friendly (also for current ara users - not everyone wants to install stuff via pip) if the callback plugin only required `requests`, not a

[2019-06-06 07:57] #51 closed

[2019-06-07 12:02] alainchiasson-guavus opened #53 "A non-django way of modifying settings.py"
While we can modify settings.py through a module on the python path ( as described : https://docs.djangoproject.com/en/dev/topics/settings/), I don't beleive ARA is aimed as standalone server (that happens to use Django).

Would it make sense to have a CLI or ENV variable type configuration that is more "simplistic". Or if there is and I missed it?  point it out.

I encountered this while trying t

[2019-06-07 12:44] dmsimard commented on #53
@alainchiasson-guavus the [API configuration docs](https://ara.readthedocs.io/en/latest/api-configuration.html) specify what environment variables to use and what might otherwise be the configuration that will be read from ``~/.ara/server/settings.yaml`` by default.

The location of the settings file can be customized with ``ARA_SETTINGS``.

[2019-06-07 13:02] #49 closed

[2019-06-07 13:02] dmsimard commented on #42
Going to close this issue. Feel free to re-open if it is still relevant.

[2019-06-07 13:02] #42 closed

[2019-06-07 14:09] biohazd opened #54 "Ara v1.0 feaure list"
Hi

Do you have a list of features that work in Ara v1.0 as compared to the latest v0.xx ?

What features are still missing from Ara v1.0?

[2019-06-08 01:15] dmsimard commented on #54
@biohazd there is no such list at this time. What particular feature or use case are you interested in ?
There is already a list of issues here on GitHub, some of which is for new feature work. If you feel something is missing, feel free to contribute 👍

[2019-06-08 18:46] JSGUYOT opened #56 "missing wheel dependencie fir ARA 1.0 with API server"
Hi !

It seem dependencies missing for install ara[server] with pip ==> wheel is missing

Best regards,

[2019-06-09 03:43] dmsimard commented on #56
@JSGUYOT can you provide more details and a trace ? What operating system and architecture ?
There is a wheel package for ara up on PyPi: https://pypi.org/project/ara/#files

[2019-06-10 14:47] dmsimard commented on #20
This is merged.

[2019-06-10 14:47] dmsimard commented on #15
Merged: https://ara.readthedocs.io/en/latest/playbook-names-and-labels.html

[2019-06-10 14:47] #15 closed

[2019-06-10 14:47] #20 closed

[2019-06-13 14:35] dmsimard commented on #48
It's likely that 0.x has a similar issue, @pabelanger shared this trace:

[code]

[2019-06-13 14:44] pabelanger commented on #48
I don't mind looking into this, do you have a general idea where I would focus on?

[2019-06-13 14:52] dmsimard opened #57 "Add support for Django dynamic database routing (ex: sqlite middleware from 0.x)"
In ARA 0.x, we have a custom [WSGI middleware](https://github.com/ansible-community/ara/blob/stable/0.x/ara/wsgi_sqlite.py) which makes the web application load a database dynamically based on the URL where the request came from.

This feature is most notably used by the OpenStack CI environment which leverages Zuul and Ansible to run more than a million playbooks a month, see: https://superuser.o

[2019-06-13 15:04] dmsimard commented on #48
@pabelanger The failure case for 0.x is different than the one from 1.x.
In 0.x, the data is saved properly to the database by the callback and you get the error when doing the html generation.
This means you'd be able to reproduce this exception when running the web application off of the database.

The trace is occuring on a specific result ``/result/e7ea405b-e824-4969-995f-45207985e7e7/`` which

[2019-06-13 15:44] pabelanger commented on #48
That is indeed helpful, so my first step here, is to start collecting the ara.sqlite file, so we have something to reproduce with.

[2019-06-14 22:35] dmsimard commented on #57
In progress via https://review.opendev.org/#/c/665323/

[2019-06-15 08:51] JSGUYOT commented on #56
Hi !

I Think, i remember it's on Ubuntu 18.04, in Python3 perhaps with PIP3.
I should remake à test.

Regards

[2019-06-16 09:35] ssbarnea opened #58 "ara.recordsansible.org appears offline or loads too slowly"
As of today it took more than a minute to load https://ara.recordsansible.org/ homepage. Initially I believed the website was offline but later it loaded.

Not sure if this is a hosting issue or a broken DNS (I have IPv6!) but I am sure it was not client-side related.

Even after the initial "glitch" I observed the subsequent page reloads were slow, like 5-6s to load, wich for a lot for what count

[2019-06-16 09:43] ssbarnea opened #59 "Document a way to use ARA with Travis or other non persistent CI systems"
As probably anyone knowns, Travis does not have any embedded support to store build files, its only output is the build log. Users are expected to upload files to other systems during the build process, most of them do not do any such activity.

As use of Ansible on Travis got more popular it would be really useful to document a solution for making ARA reports available for builds made on such a l

[2019-06-18 13:43] dmsimard commented on #59
@ssbarnea CI/CD is definitely a good use case for ARA and I agree that it probably deserves better documentation.

1.x is still somewhat in flux while we work on adding some missing features and so the end result might vary depending on how the features are implemented. I would probably wait until things have settled a little bit before writing new docs.

We are still working on the [distributed s

[2019-06-18 13:44] biohazd commented on #54
thanks.   Is v1 ready for production use and by that I mean it works without crashing or erroring?

[2019-06-18 13:47] biohazd opened #60 "delete old Ansible runs from Ara"
Is there an easy way to delete old data in ARA?   I noticed our has Ansible runs going back to 2017 so I would like to prune the old data and maybe keep a year. I'm also hoping deleting odl data might speed it up abit.

Is there a simple SQL query I can use or even a script ?

[2019-06-18 13:49] dmsimard commented on #54
@biohazd v1 was released ready for use.
Each new patch is unit and integration tested against different versions of Ansible and on different linux distributions.

I'm not aware of any crashes or serious errors at this time. If any are encountered, please open an issue about them.

[2019-06-18 13:53] dmsimard commented on #60
A user implemented a cron to prune data from ARA 0.x: https://github.com/BonnyCI/hoist/commit/8d7822c75202bcb931020329146f418af512f2e1

Going to close this as a duplicate of https://github.com/ansible-community/ara/issues/31, feel free to chime in there if there is anything else.

[2019-06-18 13:53] #60 closed

[2019-06-18 14:24] biohazd commented on #54
do you have a demo or video of the new V1 release anywhere?

[2019-06-18 15:53] dmsimard commented on #54
@biohazd yes, see the readme here: https://github.com/ansible-community/ara/blob/master/README.rst#live-demos

[2019-06-18 17:36] biohazd opened #61 "allow sorting by column headings"
Can you add sorting the columns in the playbook output.

For example -  I sort on "status" column to quickly find any failures (failures show in red).

[2019-06-18 17:39] biohazd commented on #54
briliant thanks, it looks great.  Is that demo the latest version or is it bit older and new features have been released but are not in that demo ?

[2019-06-18 17:41] biohazd commented on #54
for example. there is no search,  you cant order the headings (for example "status") and it doesnt show the output of each play.

[2019-06-18 18:24] dmsimard commented on #61
Moving this to [ara-web issues](https://github.com/ansible-community/ara-web/issues) which is the web client interface to the API.

[2019-06-18 18:26] dmsimard commented on #54
I'm happy that you are interested in ARA but GitHub issues are meant for bug and feature tracking.
I will try to clarify this in the README and will close this issue for now.

It would be helpful if you could hop on [IRC or Slack](https://ara.recordsansible.org/community/) for general questions.

The live demos are currently up to date and ara-web has it's own issue tracking here: https://github.c

[2019-06-18 18:26] #54 closed

[2019-06-18 18:30] dmsimard commented on #53
@alainchiasson, @alainchiasson-guavus -- I'll close this issue assuming your question was answered.
Please hop on IRC or Slack if you have any questions.

Thanks !

[2019-06-18 18:30] #53 closed

[2019-06-19 15:33] dmsimard commented on #47
WIP: https://review.opendev.org/#/c/666317/

[2019-07-01 12:08] dincercelik opened #62 "Cannot get it running on Ubuntu 18.04 LTS"
Hi,

Ubuntu 18.04 LTS comes with Python 3 by default but Ara has problems. Please see below.

[code]

[2019-07-01 12:38] dmsimard commented on #62
@dincercelik is Django installed ?

When recording data locally, it needs to be installed with the ``[server]`` suffix.

See docs: https://ara.readthedocs.io/en/latest/installation.html

[2019-07-01 12:53] dincercelik commented on #62
@dmsimard yes it is. I've installed Ara with pip.

[code]

[2019-07-01 17:01] dmsimard commented on #62
That version of Django is insufficient, the requirements that should be installed when picking up the server dependencies are here: https://github.com/ansible-community/ara/blob/92772d0c2e0981d1e977774835161d47812a3320/setup.cfg#L36

[2019-07-01 19:13] dincercelik commented on #62
@dmsimard thanks for your help and effort.

That's weird because Django was installed as a dependency for Ara. I think this is not reproducible so closing the issue.

[2019-07-01 19:13] #62 closed

[2019-07-02 17:39] #57 closed

[2019-07-02 19:25] dmsimard commented on #56
@JSGUYOT have you found a way to reproduce the issue ?

[2019-07-02 19:26] dmsimard commented on #47
This has landed in https://github.com/ansible-community/ara/commit/9065642a67013b97b829dd82df90f80f98187fc7

[2019-07-02 19:26] #47 closed

[2019-07-06 14:37] JSGUYOT commented on #56
Hi !

Not for now, sorry, I'm on vacation :)
I look at this when I return.

Regards,

----- Mail original -----
De: "David Moreau Simard" <notifications@github.com>
À: "ansible-community/ara" <ara@noreply.github.com>
Cc: "JSGUYOT" <jeansebastien.guyot@free.fr>, "Mention" <mention@noreply.github.com>
Envoyé: Mardi 2 Juillet 2019 21:25:40
Objet: Re: [ansible-community/ara] missing wheel dependencie

[2019-08-06 07:34] HOSTED-POWER commented on #24
It would be great if there is some documentation. We use awx in docker but weren't able to get ARA working either unfortunately :(

[2019-08-07 20:52] zxaos opened #63 "ara-manage runserver silently hangs when Postgres dependency is missing"
## What component is this about ?
API

## What is your ARA installation like ?
Installed from PyPi

## What is happening ?
If `ara-manage runserver` is invoked while the db engine set to Postgres but without the `psycopg2` or `psycopg2-binary` package installed, it fails to start, but doesn't print any information about why it's not working.

Output:
[code]

## What should be happening ?
Something

[2019-08-08 14:10] dmsimard commented on #63
@zxaos thanks for the report ! It looks like the right place to handle this exception would be here: https://github.com/ansible-community/ara/blob/master/ara/server/__main__.py

[2019-08-12 16:34] dmsimard commented on #24
@HOSTED-POWER would you like to share the steps you tried and what didn't work ?

[2019-08-16 02:56] magick93 opened #64 "no matches found: ara[server]"
## What component is this about ?
Not sure. Am just trying to install ara.

## What is your ARA installation like ?
Currently not successfully installed.

Am trying to install ARA on Ubuntu 18.04.

## What is happening ?
I ran the following:
[code]
Which resulted in `no matches found: ara[server]`.

## What should be happening ?

Not sure, but I'm guessing not what did happen.

[2019-08-16 15:50] dmsimard commented on #64
Hi @magick93 and thanks for the report !

If ``ara[server]`` is not found, it could be because the ``pip`` binary is in fact from python2 instead of python3 since it is only packaged for python3.

Do you get any errors when typing those commands out ?
I am not able to reproduce the issue on a fresh 18.04 installation (the wheels failing to build are unrelated):
[code]

[2019-08-19 01:33] magick93 commented on #64
Hi @dmsimard

I can confirm `pip` is using python3:

[code]

[2019-08-19 14:19] dmsimard commented on #64
@magick93 does it work when calling pip directly without sourcing the virtual environment ?
For example:
[code]

[2019-08-19 21:18] magick93 commented on #64
I get the same result:

[code]

[2019-08-22 18:28] dmsimard commented on #64
@magick93 I noticed you used ZSH so I tested with it and it looks like it doesn't enjoy the square brackets:
[code]

We can update the docs to take this into account.

[2019-08-22 21:21] magick93 commented on #64
Thanks @dmsimard  - I never thought to consider zsh could be the culprit.

Thanks

[2019-09-02 16:00] FlorianLaunay commented on #29
Any news on this maybe awesome feature ?

[2019-09-03 13:16] dmsimard opened #68 "API: Add support for sorting results"
## What component is this about ?

API, API clients

## What is the idea ?

When querying the API, we should be able to request a sorted list of results based on different fields, for example:

- Sort by start date
- Sort by end date
- Sort by duration
- Sort by status

django-rest-framework provides filtering and ordering ([docs](https://www.django-rest-framework.org/api-guide/filtering/#ordering

[2019-09-03 14:35] dmsimard commented on #68
@guillaumevincent, @apollo13: Do you have an opinion on how we should do this ?

[2019-09-03 14:46] guillaumevincent commented on #68
does https://www.django-rest-framework.org/api-guide/filtering/#orderingfilter is enough for you?

[2019-09-03 14:50] dmsimard commented on #68
@guillaumevincent I briefly discussed this with @Turgon37 in his pull request but he mentions concerns:

[2019-09-03 17:09] guillaumevincent commented on #68
IIRC ordering filter is performed by the database https://www.django-rest-framework.org/api-guide/filtering/#orderingfilter
It should be enough for now

Create the index if you need it

[2019-09-06 09:16] yannfill opened #69 "Wrong playbook execution time"
I have installed ARA using the playbooks provided and everything is fine, except that the execution time is wrong. I have added `TIME_ZONE: Europe/Paris` in ARA API settings.yaml and it seems that the start time taken into account is in GMT whereas the end time is in local time. ARA API server and the computer playing the playbook are set up in the same french timezone.
![Screenshot_2019-09-06 ARA

[2019-09-06 09:54] apollo13 commented on #68
That.

I strongly doubt that, sorting is generally performed in the db by django/drf. Btw I would not use the models `ordering` attribute at all since that will force every query to be ordered. This can be expensive for joins etc…

[2019-09-11 18:47] dmsimard commented on #69
@yannfill Hi and thanks for the report !

@turgeon37 has thankfully submitted a fix for that issue and it should be landing in the master branch soon: https://review.opendev.org/#/c/678348/

[2019-09-19 19:24] dmsimard commented on #69
Somewhat related, I found an issue relating to the callback and the API server using different time zones: https://review.opendev.org/#/c/683218/

[2019-09-19 21:06] dmsimard opened #71 "An Ansible collection for ARA"
Ansible is moving forward with an approach called *Ansible collections*, see "[The Future of Ansible Content Delivery](https://www.ansible.com/blog/the-future-of-ansible-content-delivery)".

ARA has a lot of Ansible content and it might be worthwhile to consider packaging everything in an Ansible collection:
- [Action and callback plugins](https://github.com/ansible-community/ara/tree/master/ara/p

[2019-10-01 09:56] FutureTecSystems opened #72 "No module named ara.clients"
## What component is this about ?
Ara callback plugin

## What is your ARA installation like ?
Ansible 2.7.5
Python 2.7.5
Ara 1.1.0

## What is happening ?
If I want to run a playbook with the Ara callback plugin, I get the following error:

`Skipping plugin (/usr/lib/python2.7/site-packages/ara/plugins/callback/ara_default.py) as it seems to be invalid: No module named ara.clients`

## What shoul

[2019-10-02 13:55] dmsimard commented on #72
@FutureTecSystems hi and thanks for the report !

The releases of ARA after 1.0 require python >=3.6 and it looks like it is trying to run off of a python 2.7 interpreter. That's not going to work.

If python 3 is not available in your environment, you can install the latest release before 1.0 which is currently 0.16.5 or off of the ``stable/0.x`` git branch.

[2019-10-02 14:22] FutureTecSystems commented on #72
Thanks for your answer. We're using RHEL 7.6 with Python 3.6 and Python 2.7.5. I changed the path to 3.6 and the error message disappeared.

But it seems nothing is sent. The server is running, reachable via http://XYZ:8000 and in the browser I get the API Root. Ara is running in a docker container here.

In my ansible.cfg I set the following lines:

[code]
I don't know if it is possible to run th

[2019-10-02 14:47] dmsimard commented on #72
I wouldn't expect Ansible running from a python2 interpreter to work with a callback installed in a python3 interpreter -- ideally they would be installed within the same python interpreter.

The parts that absolutely require python3 are tied to the API server as well as the offline API client because the latest releases of Django have dropped support for python2.

In theory, it should be possible

[2019-10-04 14:56] 6sossomons commented on #24
I tried the work-around with no avail.  All of my venv are running ara in them, so now I just need to get ara to play nicely inside the scope of tower.

[2019-10-06 12:46] rndmh3ro commented on #71
I played around with ansible-collections and ara, see this PR for the code:
I tested this with Ansible 2.10.0.dev0 on Ubuntu 18.04 and python 3.7:

[code]

After installing ara with this test, I could open the frontend and see my playbook-runs.

One thing one has to think about is where to place the ara-plugins. The collections-spec says plugins should live in a folder next to the `galaxy.yml`-fil

[2019-10-08 14:46] zxaos opened #74 "No suitable health check target when running with ARA_READ_LOGIN_REQUIRED"
## What component is this about ?
API

## What is your ARA installation like ?
* Ara installed from PyPi
* Wrapped in a container
* Running in k8s

## What is the idea ?
* K8S health checks, and more specifically some ingress load balancers _require_ an unauthenticated http health check that will server a 200. When ara is running in read-login-required mode, there is no suitable endpoint, and thus

[2019-10-08 16:20] zxaos commented on #74
https://review.opendev.org/#/c/687352/

[2019-10-08 16:46] zxaos opened #75 "Support CORS_ORIGIN_REGEX_WHITELIST"
## What component is this about ?
API

## What is your ARA installation like ?
* Ara installed from PyPi
* Wrapped in a container
* Running in k8s
* [ara-web](https://github.com/ansible-community/ara-web) deployed to [Netlify](https://www.netlify.com)

## What is the idea ?
Supporting django's `CORS_ORIGIN_REGEX_WHITELIST` attribute would be useful for testing ara-web deployments in staging enviro

[2019-10-08 16:49] dmsimard commented on #74
@zxaos many thanks for the issue AND for taking the time to send a patch !

I've tested it and it works after running a small sql migration. We can mention it in the release notes.
I could also see this being mentioned in the docs somewhere so people know it exists but it doesn't feel like there's any one place that would be appropriate right now.
We need more docs about operating ara in general s

[2019-10-08 16:58] dmsimard opened #76 "Docs: operations and deployment"
We have good enough documentation on how to install and configure ara but there is a gap when it comes to day-to-day operations or deployment considerations.

Things like:
- How to monitor the API server ([healthcheck](https://github.com/ansible-community/ara/issues/74))
- How to prune the database from old records (See [issue](https://github.com/ansible-community/ara/issues/31))
- Reference archi

[2019-10-08 18:22] dmsimard commented on #75
I don't see a a problem with supporting ``CORS_ORIGIN_REGEX_WHITELIST``, it's just not exposed right now.
The default is an empty list according to [django-cors-headers](https://github.com/adamchainz/django-cors-headers#cors_origin_regex_whitelist) -- I think that's fine.

There are a few places to think about when exposing a new setting:
- settings.py:
https://github.com/ansible-community/ara/blo

[2019-10-08 18:31] zxaos commented on #75
- https://review.opendev.org/#/c/687380/
- https://review.opendev.org/#/c/687381/

[2019-10-08 19:06] zxaos commented on #75
Oh, oops, didn't consider the ansible task. I'll add it in shortly

[2019-10-08 19:10] rndmh3ro commented on #71
Our collection on galaxy would only contain the roles (ara_api, ara_web, etc) and these would take care of installing ara and it's dependencies.

Good idea!

IMO configuring the ansible.cfg to use ara is a good idea. Maybe the user can specify which ansible.cfg should be changed and which python-interpreter is used (there's probably a fact for this). This should be optional, of course.

[2019-10-08 21:11] dmsimard commented on #74
https://review.opendev.org/#/c/687352/ is merged :tada:

It'll be in 1.2.0 which is due soon.

[2019-10-08 21:11] #74 closed

[2019-10-08 21:53] zxaos commented on #75
https://review.opendev.org/#/c/687380/ updated with role changes and also pulling in the doc changes as one commit

[2019-10-09 14:34] dmsimard opened #77 "Package django-health-check for Fedora"
ara is packaged for Fedora rawhide (and soon f30, f31) but Fedora does not currently have a package for the new [django-health-check](https://github.com/KristianOellegaard/django-health-check) middleware added by https://github.com/ansible-community/ara/commit/8d6b063dfca2351fe04671a0839df51517273b96.

django-health-check doesn't have unpackaged dependencies and the licensing allows for being incl

[2019-10-09 14:39] dmsimard commented on #75
I rebased the patch on top of master and left a comment about a typo.

You can pick up the rebased version by either doing ``git review -d 687380`` or by using the checkout link at the top right of the "download" tab of the patch in gerrit: ``git fetch https://review.opendev.org/recordsansible/ara refs/changes/80/687380/3 && git checkout FETCH_HEAD``.

[2019-10-09 20:21] dmsimard commented on #77
It turns out that Fedora has a package for [django-pytest](https://pypi.org/project/django-pytest) but not [pytest-django](https://pypi.org/project/pytest-django).

The former is very old (2012) and is certainly not the project on which django-health-check is depending on for tests.

I've created a thread on Fedora python-devel to see if it's okay to package without unit tests for now: https://lis

[2019-10-18 21:02] zxaos commented on #76
+1 to benchmarking and profiling docs. I see a nearly 300% slowdown on playbooks with ara enabled, and don't really know where to even start tuning it.

[2019-10-23 15:35] zxaos commented on #76
I appreciate the help!

#### Latency from control node to API Server
100 packets transmitted, 100 packets received, 0.0% packet loss
round-trip min/avg/max/stddev = 12.838/34.468/228.610/46.864 ms

#### Database
Postgres 9.6

(from api-server to db)
100 packets transmitted, 100 packets received, 0% packet loss
round-trip min/avg/max/stddev = 0.632/0.832/3.795/0.337 ms

#### Host Count
166
(it's ju

[2019-10-23 16:00] dmsimard commented on #77
Created the package review in bugzilla: https://bugzilla.redhat.com/show_bug.cgi?id=1764715

[2019-10-23 20:34] dmsimard opened #79 "Callback records groups as hosts"
## What component is this about ?
ara callback plugin

## What is happening ?

The group name involved in a play can be recorded as a host:
https://github.com/ansible-community/ara/blob/364ed258e16a57193600f45a5475d3bee468fb40/ara/plugins/callback/ara_default.py#L210-L211

[code]

## What should be happening ?

Only hosts should be recorded as hosts.

[2019-10-23 21:14] dmsimard opened #80 "Performance degradation relative to number of playbook hosts"
I ran the following simple test playbook against 64 hosts:
[code]

Running with ``ANSIBLE_FORKS=32``:
- without ara: avg 11s
- with ara (offline client, sqlite): avg 35s
- with ara (~64ms to remote API, mysql local to API server): avg 114s

A count of the API calls throughout the playbook:
[code]

Analyzing the API calls:
- PATCH requests to ``/api/v1/hosts/<id>`` are either
  1) recording host fa

[2019-10-23 21:37] dmsimard commented on #80
https://review.opendev.org/690751

In a nutshell...
    without ara: avg 11s

Before (256 calls to /api/v1/hosts):
    with ara (offline client, sqlite): avg 35s
    with ara (~64ms to remote API, mysql local to API server): avg 114s

After (64 calls to /api/v1/hosts):
    with ara (offline client, sqlite): avg 23s
    with ara (~64ms to remote API, mysql local to API server): avg 75s

There's sti

[2019-10-23 21:42] dmsimard commented on #76
@zxaos thanks -- from limited testing, there are definitely performance improvement opportunities. I've already cut a lot of API calls through https://github.com/ansible-community/ara/issues/80 and there's a lot more to iterate on in the near future.

[2019-10-23 21:44] dmsimard commented on #79
This is a no longer an issue with https://review.opendev.org/#/c/690751/

[2019-10-23 21:44] #79 closed

[2019-10-23 21:45] dmsimard commented on #75
Patch has merged and will be in the next release. Thanks for your help !

[2019-10-23 21:45] #75 closed

[2019-10-23 22:06] zxaos commented on #76
@dmsimard much appreciated! I'm excited to it out when the patch lands!

[2019-10-24 02:46] dmsimard opened #81 "simplejson.errors.JSONDecodeError in ara_record"
## What component is this about ?
ara_record

## What is happening ?
When running integration tests:
[code]

[2019-10-24 14:08] dmsimard commented on #80
Merged.

[2019-10-24 14:08] #80 closed

[2019-10-25 14:53] dmsimard opened #82 "ara_api role and documentation: support for "pip install --user" instead of virtualenv"
## What component is this about ?
The ara_api Ansible role

## What is the idea ?
Ansible can be easily installed in a user's home directory with ``pip install --user ansible``. ARA supports this as well but isn't documented as such and the role doesn't support it either.

[2019-10-25 21:03] adahlmanpinterest opened #83 "Ara server setup. Manage.py missing"
## What component is this about ?
Api server.

## What is your ARA installation like ?
The install is for an ansible environment that is running masterless. The server running Ara is installed under /opt/ara with the folders belonging to the ara user and group.
Ubuntu 18.04
apt install python3-venv
/opt/ara/.ara/virtualenv/bin/pip install "ara[server]"
ara@ara:/opt/ara/.ara/virtualenv
## What is h

[2019-10-25 21:15] dmsimard commented on #83
@adahlmanpinterest hi and thanks for the issue ! We can do a better job at documenting this.

The error says there are missing database tables because the initial database migrations have not been run. Can you run them with ``python manage.py migrate`` and try again ?

[2019-10-25 21:17] adahlmanpinterest commented on #83
Thats what it looked like. I tried running and no luck. ```(virtualenv) ara@ara:/opt/ara/.ara/virtualenv/bin$ python manage.py migrate
python: can't open file 'manage.py': [Errno 2] No such file or directory```

Installing manage.py wasn't working either. Is there a location where it should be living?

[2019-10-25 21:19] adahlmanpinterest commented on #83
Looks like manage.py is missing from the pip package. Its in the source.

[2019-10-25 21:19] dmsimard commented on #83
OH -- yeah, this is available as ``ara-manage`` when installed so the command would be ``ara-manage migrate``.

[2019-10-25 21:21] adahlmanpinterest commented on #83
Looks like that did it! Thanks

[2019-10-25 21:21] #83 closed

[2019-10-28 11:38] berendt commented on #48
[code]

This failed not because of the filename but because of the content of the file.

In this example, a metafile of a role with the following content is read. This will cause it to fail.

[code]

The affected method appears to be ``_get_or_create_file`` in ``plugins/callback/ara_default.py``.

[2019-10-28 11:39] berendt commented on #48
It was tested with the current version of ARA 1.1.0 with Ansible 2.6 and Python 3.6.8.

[2019-10-28 14:00] dmsimard commented on #77
review approved, created issues to create the dist-git repo and branches:
- https://pagure.io/releng/fedora-scm-requests/issue/18957
- https://pagure.io/releng/fedora-scm-requests/issue/18958
- https://pagure.io/releng/fedora-scm-requests/issue/18959

[2019-10-28 14:49] dmsimard commented on #77
Builds done for rawhide, f31 and f30:
- https://koji.fedoraproject.org/koji/taskinfo?taskID=38619569
- https://koji.fedoraproject.org/koji/taskinfo?taskID=38619577
- https://koji.fedoraproject.org/koji/taskinfo?taskID=38619585

f31 and f30 are pending updates in bodhi.

[2019-10-28 14:58] dmsimard commented on #48
@berendt thanks!
We actually try to test for this in the integration tests:
https://github.com/ansible-community/ara/blob/a0cf0cb8371aa7f6071a9a35e8d1bf5c7c9551c7/tests/integration/smoke.yaml#L53-L66

As far as the tests go, that particular file is saved properly in:
- 2.8: https://8fb6a822ac8726bcc0af-1f01c4de10139c366cbd7ac49c7ab3d8.ssl.cf1.rackcdn.com/691260/1/check/ansible-role-ara-api-fedora-

[2019-10-28 16:04] dmsimard opened #84 "ara_api role: add support for installation from Fedora packages"
## What component is this about ?

The ara_api role.

## What is the idea ?

ARA 1.x is packaged for [Fedora](https://koji.fedoraproject.org/koji/packageinfo?packageID=24394) it would be nice to add support for installation from packages.

When creating the role, we intentionally left a toggle to make it easier to extend in the future:
https://github.com/ansible-community/ara/blob/a0cf0cb8371aa7f6

[2019-10-28 16:06] dmsimard commented on #69
I believe this is fixed in the upcoming release of 1.2.0. Please feel free to re-open if it isn't the case.

[2019-10-28 16:06] #69 closed

[2019-10-30 09:18] jcheger opened #85 "built-in interface vs ara-web"
I was using ara for debugging ansible scripts for months, and I did make the mistake to update it. Regarding the current version of ara, I'm completely confused. After installing ara[server] (1.1.0), and ara-web, I can only see a kind of log of each task. But how can I see the records, the details of the playbooks, all the stuff that were useful in the legacy interface ?

Is ara-web an early and v

[2019-10-30 19:26] dmsimard opened #86 "Selinux AVC: gunicorn can't talk to MySQL"
## What component is this about ?

The ara_api role

## What is happening ?

type=AVC msg=audit(1572463010.990:105990): avc:  denied  { name_connect } for  pid=6039 comm="gunicorn" dest=3306 scontext=system_u:system_r:init_t:s0 tcontext=system_u:object_r:mysqld_port_t:s0 tclass=tcp_socket permissive=0

## What should be happening ?

When selinux is enforcing, gunicorn should be able to talk to a r

[2019-10-31 04:59] adahlmanpinterest opened #87 "API not receiving hosts."
## What component is this about ?
API Client

## What is your ARA installation like ?
Ara api is installed on an its own aws instance behind an ELB.
The ara-web server is able to talk to the api webserver , ara.pinadmin.com and araweb.pinadmin.com.

The elb is pointing from 80-8000. And allowing all traffic from our RFC 1819 space.

## What is happening ?
Currently running test ansible runs and th

[2019-10-31 08:27] jcheger commented on #85
Thanks for taking time to answer. The UI in ARA 1.2.0 seems much more complete and usable. I look forward to trying.

Until ARA 1.2.0 is released, here are few comments for other users.

Ara 1.x requires Pyhton3 (Django's required version is not available for Python2). This means that Ansible must be installed with pip3 or virtualenv. Until there is a clear and complete documentation, it could be

[2019-10-31 08:27] #85 closed

[2019-10-31 08:28] berendt commented on #48
I suspect rather an encoding problem of the file itself. Take a look at it. But this is not a blocker for a release.

[2019-10-31 14:19] dmsimard opened #88 "Docs: explain the built-in web UI vs ara-web"
Users need to be aware that there are two interfaces with different use cases in mind.

See: https://github.com/ansible-community/ara/issues/85

[2019-10-31 14:25] dmsimard commented on #87
Hi @adahlmanpinterest and thanks for the detailed report :+1:

I think the issue is in the ``ansible.cfg`` file:
[code]

Should be something like this instead:
[code]

You can find the exact path to the ara callback plugin with a helper command:
[code]

More info in docs: https://ara.readthedocs.io/en/latest/ansible-configuration.html#using-setup-helper-modules

[2019-10-31 14:35] dmsimard commented on #87
Unrelated but FYI those ``!!python/object/new:box.BoxList`` kind of declarations are new to me and I don't know what they're about yet -- they didn't use to be there. I've opened an issue to inquire about them: https://github.com/rochacbruno/dynaconf/issues/257

[2019-10-31 17:07] dmsimard commented on #87
@adahlmanpinterest the following graph might be helpful to understand how the components work: https://ara.readthedocs.io/en/latest/faq.html#how-does-ara-record-data-from-ansible

The ``callback_plugins`` Ansible configuration tells Ansible where it can find callback plugins. Providing the path to the location where the ARA callback plugin is located is what makes Ansible load the ARA callback and

[2019-10-31 21:20] adahlmanpinterest commented on #87
Updated to the following.
[code]

`sudo ansible-playbook playbook/base.yml --limit ${HOSTNAME}`

Still dont see any traffic into the box. Im able to curl from host running the playbook and the ara-web is polling the api just fine.

[2019-11-01 14:10] dmsimard commented on #87
@adahlmanpinterest your ``ansible.cfg`` file looks good to me.
Is it located in ``/etc/ansible/ansible.cfg`` on the server where Ansible is running from ?

Although Ansible 2.5.1 has long been [EOL](https://docs.ansible.com/ansible/latest/reference_appendices/release_and_maintenance.html) and we no longer have tests for it, I've just tested it and it still works.

You can tell if the callback is p

[2019-11-01 21:51] adahlmanpinterest commented on #87
@dmsimard Stupid question, does ara need to be installed on every machine that needs to talk to the api?

[2019-11-01 22:24] adahlmanpinterest commented on #87
Got it working! Removed the apt ansible, installed ansible with python3, installed ara via ```python3 -m pip install ara``` exported the callbacks. Bingo Thanks! The onlything now is its reporting the group in inventory as a host. but looks great!

[2019-11-01 23:12] dmsimard commented on #87
🎉

This is already fixed by this issue: https://github.com/ansible-community/ara/issues/79

You can do ``pip install --pre ara`` to try out the beta release of 1.2.0 that contains the fix.

[2019-11-02 01:22] dmsimard commented on #87
Missed your question.
The ara callback needs to be installed wherever Ansible is running from.

[2019-11-02 01:23] dmsimard commented on #87
Closing this since you're up and running now.

[2019-11-02 01:23] #87 closed

[2019-11-02 17:08] markfaine opened #89 "Slack invatation link is expired"
Slack: https://arecordsansible.slack.com ([invitation link)](https://arecordsansible.slack.com/join/shared_invite/enQtMjMxNzI4ODAxMDQxLWU4MmZhZTI4ZjRjOTUwZTM2MzM3MzcwNDU1YzFmNzRlMzI0NTUzNDY1MWJlNThhM2I4ZTViZjUwZTRkNTBiM2I)

[2019-11-04 13:50] dmsimard commented on #89
Thanks ! I've added a new link in https://review.opendev.org/#/c/692816/ and https://review.opendev.org/#/c/692817/.

[2019-11-04 13:54] dmsimard opened #90 "API client: Add support for customizing SSL verification"
## What component is this about ?

http API client

## What is the idea ?

We don't currently expose the python requests setting to ignore SSL verification: https://requests.kennethreitz.org//en/latest/user/advanced/#ssl-cert-verification

We should add a "verify" argument.

[2019-11-04 15:07] dmsimard commented on #30
WIP: https://review.opendev.org/#/c/692835/

[2019-11-04 15:08] dmsimard commented on #90
WIP: https://review.opendev.org/#/c/692821/

[2019-11-04 16:40] markfaine opened #91 "Labels should wrap"
## What component is this about ?

API Client

## What is your ARA installation like ?

Alpine Docker container in a python virtual environment using git master
The database driver is mysqldb

## What is the idea ?

![image](https://user-images.githubusercontent.com/949949/68139188-564c7180-feef-11e9-841c-8c2ac33f3e2c.png)
See the attached images.  If you have more than a few labels they run over

[2019-11-04 16:42] markfaine opened #92 "Playbook should open and close"
## What component is this about ?

API Client

## What is your ARA installation like ?

Alpine Docker container in a python virtual environment using git master
The database driver is mysqldb

## What is the idea ?

Once you click on a playbook, it expands to show details, however there is no way to collapse it back again.  The only workaround is to click on the Playbooks link to reload the view.

[2019-11-04 18:43] markfaine opened #93 "Globally available objects"
## What component is this about ?

API

## What is your ARA installation like ?

Alpine Docker container in a python virtual environment using git master
The database driver is mysqldb

## What is the idea ?

Most, if not all of our projects will be selecting from the same group of inventory, environments, repositories, and keys, it would be nice if there were a way to flag these items as global s

[2019-11-04 22:01] dmsimard commented on #91
@markfaine thanks for the report!

For clarification, this /looks/ like ara-web but I think we have the same issue in the built-in interface.
Fixing it for both would be nice.

[2019-11-04 22:09] dmsimard commented on #92
@markfaine the challenge is that the playbook details aren't available when querying the playbook list endpoint as to keep the response as small and as fast as possible.
We also don't want to query all playbooks for their details unless we need to, again for performance reasons.

In the context of ara-web, something that we could do would be to query the playbook details only when it is expanded/c

[2019-11-04 22:11] dmsimard commented on #93
@markfaine could you please give an example of what you mean ? What is being re-created that shouldn't be ? Thanks !

[2019-11-05 15:36] #90 closed

[2019-11-05 21:04] dmsimard commented on #68
WIP: https://review.opendev.org/#/c/693067/

[2019-11-05 21:05] dmsimard commented on #77
Landed in f30, f31 and rawhide: https://koji.fedoraproject.org/koji/packageinfo?packageID=30161

[2019-11-05 21:05] #77 closed

[2019-11-05 21:05] dmsimard commented on #56
@JSGUYOT I'll close this for now, please re-open with more information if you are able to reproduce the problem.

[2019-11-05 21:05] #56 closed

[2019-11-07 04:10] dmsimard opened #94 "API: Consistency issue in playbook detail vs result detail"
See: https://review.opendev.org/#/c/693286/

[2019-11-07 15:10] dmsimard commented on #89
This is fixed in both the README and the website.

[2019-11-07 15:10] #89 closed

[2019-11-07 15:19] #30 closed

[2019-11-08 20:22] #68 closed

[2019-11-19 02:04] dmsimard commented on #48
Not fixed in 1.0 despite adding an integration test (that hasn't failed?)

[code]

[2019-11-19 11:33] berendt commented on #48
@dmsimard Think this is different. Not general UTF-8.

```surrogates not allowed```

Stackoverflow means you should try ```decode('utf8', 'surrogateescape')```.

[2019-11-19 14:49] dmsimard commented on #48
@berendt yes, you're right. It was getting late and I wanted to keep a note of that trace :)
I might end up splitting that into another issue.

The problem for decoding results specifically is that they are often nested in lists or dictionaries.
Going through each list item and dictionary key to decode them could be expensive. I need to spend some time on this -- maybe we can get away by decoding

[2019-11-19 15:51] dmsimard commented on #63
This will be fixed in 1.3 by https://review.opendev.org/#/c/695019/

[2019-11-19 16:11] dmsimard commented on #93
Hi @markfaine, still waiting for more information on your issue. Thanks.

[2019-11-19 16:13] markfaine commented on #93
Sorry, yes, I mean objects such as keys, environments, repositories, that are shared across users in such a way that it doesn't matter who is logged in, or what project they are working on, they can select those resources for in task template.  Does that make sense?

[2019-11-19 16:19] dmsimard commented on #32
Hi @spvolin !

I was wondering if you had gotten around to try the latest version of ARA yet ?
PostgreSQL as well as ara_record are both properly integration tested and should work.

[2019-11-19 16:21] dmsimard commented on #71
Ping @gundalow @gregdek: is it okay to use the ansible-community namespace in Galaxy to publish roles and collections ?

[2019-11-19 16:32] dmsimard commented on #93
@markfaine I'm confused because ara doesn't have the concept of projects, keys, repositories or task templates. It sounds like you might be talking about [AWX](https://github.com/ansible/awx) or Tower ?

[2019-11-19 16:34] markfaine commented on #93
Yes, :) You are correct sir, sorry to have wasted your time.  It looks like I submitted this feature request on the wrong project.  I will close it now.  Thank you.

[2019-11-19 16:34] #93 closed

[2019-11-19 16:35] dmsimard commented on #93
@markfaine no problem! Thanks for clarifying :)

[2019-11-19 17:01] #63 closed

[2019-11-20 11:13] gundalow commented on #71
We are currently discussing what the namespaces will look like and how they will be managed.
Could you please remind me about this in a week?

[2019-11-20 17:10] dmsimard commented on #71
@gundalow sure, no rush. Thanks for looking into this.

[2019-11-27 23:52] dmsimard commented on #31
WIP: https://review.opendev.org/#/c/696420/

[2019-11-28 16:42] #31 closed

[2019-11-28 20:02] dmsimard commented on #39
Somewhat related, some tests for authentication were added here: https://github.com/ansible-community/ara/blob/35aa8826d7bfdf5e43c10ea26a07f51cc66763fc/ara/api/tests/tests_prune.py#L79-L141

[2019-11-28 20:37] dmsimard commented on #60
@biohazd This is merged and will land in 1.3.0: https://github.com/ansible-community/ara/commit/35aa8826d7bfdf5e43c10ea26a07f51cc66763fc

[2019-11-29 17:16] dmsimard opened #95 "callback: add support for specifying default playbook labels from Ansible configuration"
## What component is this about ?

The ara_default callback

## What is the idea ?

Playbook labels are currently set based on the ``ara_playbook_labels`` Ansible variable: https://ara.readthedocs.io/en/latest/playbook-names-and-labels.html

In practice, this is done once at the beginning of every play here: https://github.com/ansible-community/ara/blob/f404247dea6c59f1715c90e9d8e1ba119dbe1fd4/ara

[2019-11-29 20:22] dmsimard opened #96 "Callback exception: Connection aborted.', RemoteDisconnected('Remote end closed connection without response')"
## What component is this about ?

The callback plugin

## What is your ARA installation like ?

ansible 2.8.5
python 3.6.9
ara 1.3.0rc1

## What is happening ?

The creation of the playbook works but then fails like this:
[code]

[2019-11-29 20:43] dmsimard commented on #96
Perhaps related: https://code.djangoproject.com/ticket/29849

[2019-11-29 20:51] dmsimard commented on #96
Oohhhh, it's probably because of an old constraint on Django: https://opendev.org/openstack/requirements/src/commit/8881ba47923b7091496589619d3bc075df3f50fc/upper-constraints.txt#L512-L515

We see it when ARA gets installed:
[code]

We require >=2.1.5 because of a keep-alive fix from Django: https://github.com/django/django/commit/934acf1126995f6e6ccba5947ec8f7561633c27f

[2019-11-29 21:57] dmsimard commented on #96
Confirmed that using the right version of Django works. Working as expected.

[2019-11-29 21:57] #96 closed

[2019-12-04 16:47] arrfab opened #98 "no attribute 'ActionModule' when using ansible 2.6.20"
## What is your ARA installation like ?
Ara installed in virtualenv, with pip like ansible 2.6.20 (on CentOS 8)
[code]

## What is happening ?
When calling ansible-playbook with a working playbook, it starts with
[code]
and then the tasks until it reaches to one template task and then (after the OK: part):

[code]
The playbook stops at this stage, while the tasks that ran are availble in ara
some

[2019-12-04 17:49] dmsimard commented on #98
@arrfab thanks! I've admittedly not tried mitogen with ara recently so I can't say for sure whether or not it is related. Are you able to reproduce the issue without mitogen ?

[2019-12-04 21:59] arrfab commented on #98
it seems that env variables are getting in the way somehow.
I initially tested with exported variables proposed by `python3 -m ara.setup.env` so in my case I had this :
[code]
Then I tried through another shell but same python virtualenv, but this time I modified ansible.cfg and added (as also suggested by `python3 -m ara.setup.ansible` :
[code]
And this time it worked just fine ... :-)

[2019-12-04 22:05] dmsimard commented on #98
@arrfab oh! this was actually reported and fixed by @sherve-korem yesterday: https://github.com/ansible-community/ara/commit/58e849735490ad6f5677343885c3ce1e6a9304c4

[2019-12-04 22:21] arrfab commented on #98
oh ! now that I look at this, the error is visible and wasn't even looking at the exported variables ! :-)
I guess we can close this one, but good thing is that we know that it works great with mitogen too : so it's fast on execution and also having now good reports :-)

[2019-12-04 22:27] dmsimard opened #99 "python3 on el7: 'ERROR! Unexpected Exception, this is probably a bug: SQLite 3.8.3 or later is required (found 3.7.17).'"
## What component is this about ?

django's sqlite database backend

## What is your ARA installation like ?

python3 virtualenv on el7 with default settings: offline api client and sqlite database backend

## What is happening ?

Before attempting sqlite migrations, django fails with the following error:
[code]

## What should be happening ?

It would be nice for the default use case to work on e

[2019-12-05 05:43] arrfab opened #100 "Not possible to install ara[server] via pip2 on el7"
When trying to use pip (so still with python 2.7 on .el7), it fails with this :
[code]
Is there no way to get current ara installed on .el7 platform ?

[2019-12-05 05:47] arrfab commented on #100
Replying to myself : it's not available for python 2.7, but ansible on .el7 is still using python2, so no way to get the two working together it seems, and so should be documented ?
Or the other way is to have ansible itself installed in a virtual env, with python3, but there are other issues, like libselinux for python3 that aren't present then on .el7 platform, so not a solution.

[2019-12-05 15:05] dmsimard commented on #100
The latest LTS of Django the server is built on top of (>=2.2) [dropped support for Python 2](https://docs.djangoproject.com/en/3.0/releases/2.0/#python-compatibility) so it isn't possible to run it on Python 2 at all.
Because of that, the installation documentation states that a minimum of python3.5 is required: https://ara.readthedocs.io/en/latest/installation.html#requirements-and-dependencies

[2019-12-05 15:14] #100 closed

[2019-12-05 15:18] dmsimard commented on #23
Going to close this issue because it is not applicable to 1.x and 0.x is in maintenance so we won't change how logging is configured.

[2019-12-05 15:18] #23 closed

[2019-12-05 15:19] dmsimard commented on #32
I'm going to close this issue because unless mistaken, this is no longer present in ARA 1.x. Please feel free to open a new issue if you see any problems with the latest release.

[2019-12-05 15:19] #32 closed

[2019-12-05 15:20] dmsimard commented on #35
I'm going to close this issue because unless mistaken, this is no longer present in ARA 1.x. Please feel free to open a new issue if you see any problems with the latest release.

[2019-12-05 15:20] #35 closed

[2019-12-05 15:21] dmsimard commented on #98
@arrfab that's good to hear! The fix will land in 1.3.1.

[2019-12-05 15:21] #98 closed

[2019-12-07 22:42] djangoxv opened #101 "ara_record fails to decrypt SSL on https endpoint GET /api/v1/results"
The ara_record module seems to have an issue instantiating the results api

Ansible 2.9.1, python 3.6.1, ara and ara[server] 1.3.0
I run the API server in django using nginx proxy+uwsgi on Debian bare metal

I am using a simple playbook to record the local branch
[code]

This *works*, tested in 1.2.0 and 1.30 - so thank you - we still can record our git branch

But there is a PYTHON_WARNING thrown

[2019-12-12 18:43] dmsimard opened #102 "TypeError: register() got an unexpected keyword argument 'base_name'"
## What component is this about ?

API server

## What is happening ?

Due to the 3.11 django-rest-framework release today, base_name was removed in favor of basename, resulting in the following exception when attempting to launch the server:
[code]

This will be fixed by https://review.opendev.org/#/c/698781/

[2019-12-12 19:48] dmsimard commented on #102
Merged: https://github.com/ansible-community/ara/commit/84cb73eae3c1ebf43a241c304e40515deac8d1c1
Will be in 1.3.2.

[2019-12-12 19:48] #102 closed

[2019-12-18 18:56] yannfill commented on #69
Hi,

I just installed ara from master and while it seems fine on the ara-api web view:
![ara-api](https://user-images.githubusercontent.com/11028416/71114447-1b1cae00-21d0-11ea-8cee-e8ea2a3ed554.png)
I got this on the ara-web side:
![ARA Records Ansible](https://user-images.githubusercontent.com/11028416/71114501-37b8e600-21d0-11ea-80d2-6aeecc30fcdc.png)

[2019-12-18 19:11] dmsimard commented on #69
@yannfill good catch! Would you like to create an issue in [ara-web](https://github.com/ansible-community/ara-web/issues) about it ?
ara-web is unfortunately lagging behind and I could use some help.

[2019-12-31 18:13] dmsimard opened #103 "[Meta] User survey: Are you using ARA ? What is your use case ?"
Hi !

In an effort to better understand what users are doing with ARA, I would be very grateful if you could answer the following questions:

- Are you using ARA 0.x or 1.x ?
- What is your use case ? How are you using it ?
- Anything on your wish list ? What improvements would you like to see ?

The answers will be useful in determining the direction for future development.

Thank you !

[2020-01-01 16:44] crivetimihai commented on #103
Hi!

I'm using ARA 1.x, for the advanced logging, tracing and debugging capabilities (even when compared to Jenkins, AWX/Tower or Rundeck) - especially when working with multiple playbooks and systems. Simply put: ansible logs are so much more readable thanks to Ara!

Wish list? Perhaps better integration with AWX/Tower or Jenkins, though you can already to that. Maybe improved authentication and

[2020-01-01 21:47] nixfu commented on #103
+1 we are already an AWX shop.  Having defined and documented way of running ARA alongside AWX would be a big help and get those people who might dread having to support them as totally different/side-by-side.

[2020-01-02 12:08] tonk commented on #103
I use ARA a lot at customers sites, when they don't want the complexity of Tower or AWX, but must be able to have some playbook insights.

But with the newer versions of ARA (`nodejs`, Python3 and so) installation on CentOS7 is tedious.
You need a couple of hoops to jump through. That's why I'll do a presentation at CfgMgmtCamp next February about this setup. It's called _ARA on RHEL7 – Welcome to

[2020-01-02 16:11] TristanCacqueray commented on #103
- I'm using ARA 0.x with zuul to record job execution and access the result with the middleware.

- The use-case is to investigate job behavior, in particular, look at the task complete result and see the playbook/role/task content.

- I'd like to use ARA 1.x with zuul to centralize job execution logs and be able to query what job used what playbook or roles. Ideally, using a cli (or browser exten

[2020-01-02 16:13] dmsimard commented on #103
@tonk oh, I am quite interested in this but it would definitely be easier on run on EL8 or perhaps in containers. I unfortunately won't be at CfgMgmtCamp but would love to watch your presentation if it's recorded !

[2020-01-03 04:26] alwaysharsha commented on #103
I am trying to use ARA 1.x to talk to multiple Ansible server.
Installation doesn't seems to be straight forward i.e., (Install ARA on Ansible server and access the url outside the server needs lot of configuration)
Documentation regarding this could be improved better.

[2020-01-03 20:32] dmsimard opened #104 "callback fails to save empty files"
## What component is this about ?

callback plugin

## What is happening ?

Noticed when running openshift-ansible:

2020-01-03 20:30:19,014 WARNING django.request: Bad Request: /api/v1/files
2020-01-03 20:30:19,055 ERROR ara.clients.http: Failed to post on /api/v1/files: {'playbook': 1, 'path': '/home/fedora/src/github.com/openshift/openshift-ansible/roles/nuage_ca/vars/main.yaml', 'content': ''}

[2020-01-06 12:12] berendt commented on #103
* We are using ARA 1.x
* We provide Docker images for ARA server + ARA web, this allows our customers to analyze the results of their Ansible runs in daily business (we offer packaged ceph-ansible and kolla-ansible)
* Thanks to ARA we have a central location where all Ansible Logs are available, we also like to use it as a review of the past, we and our customers are satisfied with it as it is and

[2020-01-08 23:17] nahun commented on #103
ARA 0.x

Using it to show detailed results of tasks in bigger plays mostly during development of modules, plugins, playbooks, etc... Its really nice to use the web UI rather than scrolling through a terminal mess especially on larger plays with many hosts.

I'd switch to 1.x, but there isn't the detail task results. There was a WIP change on opendev I believe, but I can't find it now.

I'd help co

[2020-01-09 16:40] dmsimard commented on #103
@tonk, @berendt, @nahun: Appreciate the feedback about ara-web ! It helps emphasize that the frontend needs more attention.

You might be interested in a recent blog post where I wrote about the situation of ara-web and the re-introduction of a built-in javascript-less interface in 1.2: https://ara.recordsansible.org/blog/2019/12/31/2019-in-retrospective-for-ara-records-ansible

There is also an o

[2020-01-14 00:22] fckbo commented on #103
Hi David,

being relatively new to ansible, I just ran into ARA few days ago and this is really a very very nice tool. I'm currently doing an evaluation as we plan to use it in several customer automation projects were ansible playbooks will be kicked from ansible tower using the tower API to launch the jobs from a high level workflow...and the whole platform runs on OpenShift4.x.
The web UI would

[2020-01-15 15:15] dmsimard commented on #24
No progress on this yet but cross-referencing a reply I did to a post on /r/ansible about integration with AWX/Tower: https://www.reddit.com/r/ansible/comments/eo6k4x/ansible_ara_integration_help/

[2020-01-15 15:33] dmsimard opened #105 "Build and publish ARA API server container images"
## What component is this about ?

ARA API Server

## What is the idea ?

The ARA API server is a good candidate for living in a container since the state is kept in a database.
I've successfully tested a simple container image built with buildah and podman, the script can be found here: https://review.opendev.org/#/c/687905/3/contrib/containers/ara-api-container-fedora.sh

It would be useful and

[2020-01-15 15:36] dmsimard opened #106 "Operator for deployment of the API server on Kubernetes/OpenShift"
## What component is this about ?

API server

## What is the idea ?

There is a demand for being able to easily deploy the ARA API server on Kubernetes and OpenShift.

We should determine what is the best way for the project to support this, whether it would be through helm charts, a native operator or perhaps using the Ansible operator SDK with our existing roles.

This is dependant on the proje

[2020-01-15 16:02] dmsimard commented on #103
@fckbo Thanks for the excellent feedback and for telling us about your use case !

Please see answers in-line:

The project doesn't build and publish officially supported containers (yet?) but ara is packaged on both PyPi and Fedora which should hopefully make this relatively simple to do and maintain in the future.
I have tested an approach with buildah and podman that works well: https://review.

[2020-01-16 16:00] dmsimard commented on #24
I spent some time on this last night and got it working on the latest version of AWX on CentOS 8.

In a nutshell:
[code]

Some screen captures:

## Setting up the callback plugins path and environment variables for configuring the ARA callback
![Screenshot from 2020-01-16 10-18-27](https://user-images.githubusercontent.com/1291204/72537535-4aafec00-384a-11ea-829e-d25fb4b6bd50.png)

Note: For the `

[2020-01-16 17:51] dmsimard opened #107 "The ara_api and ara_frontend Ansible roles should support deploying to EL8"
## What component is this about ?

The ara_api and ara_frontend Ansible roles

## What is the idea ?

We currently support deploying the API server to Fedora and Ubuntu.
Since EL8 now ships with Python 3 and CentOS 8 is readily available, we can consider adding support for it.

[2020-01-16 17:57] dmsimard commented on #24
Following up on my previous comment, I've created a proof of concept gist that takes care of installing both AWX and ARA with instructions on how to setup AWX to send data to ARA: https://gist.github.com/dmsimard/368fa69e3927001f65a1b0d56fee7f02

It is minimal but a good starting point that demonstrates the integration working.

In terms of next steps, I think we need the following to do this clea

[2020-01-17 06:14] arrfab commented on #107
+1 and happy to test this when it's ready as myself had to use pip + virtualenv for this on centos8 :-)

[2020-01-17 13:24] dmsimard commented on #107
This is WIP in https://review.opendev.org/#/c/702996/

There's an issue in the postgresql integration test because installing docker on centos8 fails. I'll look into it but it has otherwise been tested successfully: https://47d287368a919a1c4cf3-4c4b5a0c8f32c7447091aeee05f8c4bc.ssl.cf1.rackcdn.com/702996/2/check/ansible-role-ara-api-centos8-2.9/17aa3f5/logs/static/

[2020-01-17 22:46] dmsimard commented on #91
The labels don't wrap in the built-in ARA API interface but I'm not excited about the way it currently looks when there's a lot of labels like this:
![Screenshot from 2020-01-17 17-44-57](https://user-images.githubusercontent.com/1291204/72651397-3c98c300-3951-11ea-9f59-135a3d69baf4.png)

How or where should we display playbook labels ? The intent is for labels to make playbooks easy to search for

[2020-01-18 03:29] LaurentDumont opened #108 "How to use ARA_ALLOWED_HOSTS with Dynaconf."
## What component is this about ?
This is about ara-api

## What is your ARA installation like ?
[code]

Launching the server with
[code]

## What is happening ?

- I'm trying to use the "ARA_ALLOWED_HOSTS" environment variable.
- The variable is getting picked up properly but it looks like the rendered value in Django is a bit weird.

Working - Setup with the `settings.yaml`
![image](https://user

[2020-01-18 04:09] dmsimard commented on #108
Hi @LaurentDumont and thanks for the report !

I think we can improve the docs for this. There's https://ara.readthedocs.io/en/latest/api-configuration.html#ara-allowed-hosts but no sample command like [CORS_ORIGIN_WHITELIST](https://ara.readthedocs.io/en/latest/api-configuration.html#ara-cors-origin-whitelist).

So ``export ARA_ALLOWED_HOSTS="['foo', 'bar']"`` should work but I would recommend us

[2020-01-18 14:25] LaurentDumont commented on #108
Hi!

Awesome, just tested and it works. I think I tried all other combination but that one!

We wanted to use ENV variables to make containers creation a bit more simpler. I could just pass what is required and not worry about templating a file or generating something first. We are currently looking at ARA to alleviate some of our issues with RH-OSP verbosity during Overcloud/Undercloud deployment

[2020-01-18 14:27] LaurentDumont commented on #108
Btw, I think that the API demo is down :(

![image](https://user-images.githubusercontent.com/8936473/72665283-c178f080-39d4-11ea-90e0-56f9c2940bc9.png)

[2020-01-18 15:08] LaurentDumont commented on #17
I was looking at something similar. We are using a "site-configuration" that holds specific private variables. I would ideally be able to ignore that file during the upload.

I can take a crack at implementing the feature.

[2020-01-18 17:11] dmsimard commented on #108
:tada:

what is required and not worry about templating a file or generating something first.

Sure. Some configurations (logging comes to mind) might not be realistic over environment variables though.

I don't know about your specific use case but I know TripleO already leverages ARA (although still on 0.x) for CI, for example:
- https://storage.gra.cloud.ovh.net/v1/AUTH_dcaab5e32b234d56b626f725

[2020-01-18 17:13] dmsimard commented on #108
Might have been a temporary blip, I've tested from different locations and it's up for me. Thanks for looking out though !

[2020-01-18 17:25] dmsimard commented on #17
@LaurentDumont it would be nice to implement this indeed. Happy to review patches !

Patterning off of ignored_arguments and ignored_facts should work.. there's:
- [built-in docs](https://github.com/ansible-community/ara/blob/bd6067211fe66be0c9838c85943b97c60ed89077/ara/plugins/callback/ara_default.py#L108-L125)
- [getting parameters from the docs](https://github.com/ansible-community/ara/blob/bd6

[2020-01-18 17:55] LaurentDumont commented on #108
It looks integrated into TripleO but not with the Red Hat Openstack Platform Product. At least, not when we checked before implementing ARA into our workflow.

We might end up templating the `settings.yaml`, baking it into the container, pushing that image and just running the image itself without injecting anything at run-time. I'll close this for now as my original question was covered (super qu

[2020-01-18 17:55] #108 closed

[2020-01-19 18:11] LaurentDumont commented on #17
I've started a quick fix for our use case - https://review.opendev.org/#/c/703276/

- It doesn't allow for pattern matching but our current need is limited to ignoring specific unique file names.
- A large majority of the Ansible files are probably going to be named `main.yml`. It could be a good idea to allow ignoring based on file path (or a keyword within the file path).

Let me know if it's an

[2020-01-20 21:01] dmsimard commented on #17
@LaurentDumont thanks for the patch !

Yes, I think what we actually want are patterns instead of absolute file names because in the end, absolute file names can also be specified as patterns.
For example, a pattern of ``main.yml`` would match all the main.yml files but ``main.y[a]?ml`` would also match main.yaml.

If the users aren't interested in saving group_vars, they could specify a ``group_v

[2020-01-22 15:06] dmsimard commented on #17
@LaurentDumont I was thinking we'd probably want to have some minimal testing to demonstrate that we really aren't saving files that are filtered.
I have been tinkering with an approach and was wondering what you thought about it ?

It looks like [this](https://cccf5757fefa34853463-2f18d96c12ded5c9f86090319cfc832d.ssl.cf1.rackcdn.com/663968/22/check/ansible-role-ara-api-fedora-2.9/9255619/logs/sta

[2020-01-22 17:29] LaurentDumont commented on #17
I like that! That could be a good test to have for the feature. I'll work on integrating the regex matching for the full file path. It's going to be more flexible than just the file name.

[2020-01-22 17:49] LaurentDumont commented on #17
Before I forget, what is the right way to actually let the callback output the debug? I'm seeing `self.log.debug("v2_playbook_on_start")` in the callback but using `-v` on the playbook doesn't seem to let it output.

What is the magic way? :dancer:

[2020-01-22 18:40] dmsimard commented on #17
``export ARA_LOG_LEVEL=DEBUG`` should do it.

[2020-01-22 22:49] LaurentDumont commented on #17
So, I've been playing with this for a little bit and I'm a bit stuck. It looks like the behavior with escaping string/special characters and dealing with full path (with multiple "/") gets quirky and messy quickly.

I was looking at the behavior of getting the variables for the ansible.cfg file and I just wanted to confirm that the following was expected.

This is when I'm printing the value of th

[2020-01-23 00:06] dmsimard commented on #17
Are you looking at the values before or after the get_option ? Ansible should parse an "ini-style" list into a proper python list we can work with. Are you printing them as strings ? Using json.dumps ? Something else ?

That said, specifying lists in ini-style format (or in a format appropriate for an environment variable export) is not really great from a UX perspective -- case in point: the issu

[2020-01-23 00:23] LaurentDumont commented on #17
I'm just dumping the values after the get_option. For the escape stuff, it looks like you need `repr` to get printed as the raw value. Printing with a loop seems to work correctly without `repr`...

[code]
Output :
[code]

[2020-01-23 08:38] saranyasridharan opened #109 "Ara Api server UI gives response timedout(504)"
## What component is this about ?
Ara API server

What is your ARA installation like ?
I have installed Ara1.1 , with pip install inside a virtual environment
Ansible 2.9,psql (9.2.24, server 11.5)

 What is happening ?
Ara UI is loading very slow , it gives 504 timed out error, Some time I get 'too many opened files' other times  I dont see any error in the nohup output and server side its giving

[2020-01-23 12:44] dmsimard commented on #109
Hi @saranyasridharan and thanks for the report.

Could you look at your [DATABASE_CONN_MAX_AGE](https://ara.readthedocs.io/en/latest/api-configuration.html#ara-database-conn-max-age) setting ? It currently defaults to 0 which is not very appropriate for postgre. You can pick any number you are comfortable with, 60 is probably a good value to start with.

Also, I suspect that the current lack of pa

[2020-01-23 12:49] dmsimard commented on #109
Also, I see you mentioned ARA 1.1. Please make sure you are using the latest release which is 1.3.2 at this time.

[2020-01-23 16:21] dmsimard opened #110 "Add pagination to the playbook list of the built-in UI"
## What component is this about ?

The built-in reporting web UI

## What is the idea ?

The API supports pagination (using fields like ``count``, ``next`` and ``previous``) and configuring the amount of results per page with the [ARA_PAGE_SIZE](https://ara.readthedocs.io/en/latest/api-configuration.html#ara-page-size) setting.

However, there is no pagination at all in the built-in web UI yet.
Th

[2020-01-24 02:36] saranyasridharan commented on #109
Thanks for the response.Im running api internal development server(run
server) for high load, should I change that Apache production server to
reduce the delay ?

On Thu, 23 Jan, 2020, 6:19 PM David Moreau Simard, <notifications@github.com>
wrote:

[2020-01-24 03:43] dmsimard commented on #109
@saranyasridharan yes, you can expect performance improvements by running with an actual WSGI application server and a web server in front.

We have an Ansible role for the API server but it doesn't have an Apache+mod_wsgi implementation yet.

It does have an implementation with gunicorn and nginx which could help point you in the right direction, though. It's how the [live demo](https://api.demo.

[2020-01-24 04:25] saranyasridharan commented on #109
Thanks @dmsimard . Does nginx and gunicorn support huge production load ? or Can I set the Apache + mod_wsgi like the regular way like we do in Django framework ?

[2020-01-24 05:17] saranyasridharan commented on #109
I have checked the setting. it was 0 as you doubted. I have changed that to 60, still the issue exists.

[2020-01-24 18:00] dmsimard commented on #110
WIP: https://review.opendev.org/#/c/704181/

[2020-01-24 18:10] dmsimard commented on #109
@saranyasridharan Could you define what a "huge production load" is for you ?

I haven't benchmarked nginx/gunicorn and Apache/mod_wsgi for hosting the API server but either would provide improved performance over the embedded development web server.

I think the API server is a fairly standard django/django-rest-framework application and if you're used to hosting that in Apache/mod_wsgi, it shoul

[2020-01-24 18:15] dmsimard commented on #109
@saranyasridharan Would you be wiling to try a patch that implements pagination on the playbook report list and let me know if it helps ?

You can see the patch [here](https://review.opendev.org/#/c/704181/) and it looks like this at the top right:
![Screenshot from 2020-01-24 12-45-07](https://user-images.githubusercontent.com/1291204/73092940-8a5e7f80-3eab-11ea-876d-b2b3182c64f9.png)

Here's an

[2020-01-25 03:11] saranyasridharan commented on #109
sure that would be great. I can give it a try.

On Fri, Jan 24, 2020 at 11:45 PM David Moreau Simard <
notifications@github.com> wrote:

[2020-01-25 03:23] saranyasridharan commented on #109
Thanks @dmsimard. we have deployed nginx & gunicorn hosting for now. we
will monitor the performance of that, if its not upto the expectation, I
will create a ticket for that.

On Fri, Jan 24, 2020 at 11:40 PM David Moreau Simard <
notifications@github.com> wrote:

[2020-01-27 15:24] fckbo commented on #103
David, thx for you comprehensive answer, I've been quite overwhelmed these days and will put back focus on this in the coming weeks.

[2020-01-27 15:31] tonk commented on #103
@dmsimard I'm not sure if it will be recorded, I'm in the Ansible room, which is not one of the main rooms. But my sheets will be online, next week (after CfgMgmtCamp) at https;//speakerdeck.com/tonk

NTW: On RHEL8/CentOS8 it works out of the box. Checked this last week.

[2020-01-27 19:11] dmsimard opened #111 "MySQL: Encoding/decoding issue"
## What component is this about ?

mysql database backend

## What is happening ?

Although this task works fine with postgresql and sqlite, it fails with mysql: https://github.com/ansible-community/ara/blob/02e2f2febd0e1d85013d8260b771ce668ffdc420/tests/integration/smoke.yaml#L68-L70

It results in the following exception:
[code]

[2020-01-28 15:29] dmsimard commented on #17
@LaurentDumont you're right, maybe we don't need regexes. I added a comment in the [patch](https://review.opendev.org/#/c/703276/2/ara/plugins/callback/ara_default.py), let me know what you think ?

[2020-01-28 15:36] dmsimard commented on #109
@saranyasridharan is the performance better with nginx and gunicorn ? have you tried the pagination patch ?

[2020-01-28 17:19] dmsimard commented on #91
@markfaine I've found an approach that isn't perfect yet but is much better than the current implementation:

![Screenshot from 2020-01-28 12-14-53](https://user-images.githubusercontent.com/1291204/73287860-edac2280-41c7-11ea-8dce-362a463924f1.png)

The labels are now on a different row and can span the entire width of the playbook card.
Labels have a character limit until they are truncated with

[2020-01-28 17:44] dmsimard commented on #110
This is what the first iteration looks like:

![Screenshot from 2020-01-28 12-42-24](https://user-images.githubusercontent.com/1291204/73290108-d7a06100-41cb-11ea-86d8-32a74d9ac24c.png)
--
![Screenshot from 2020-01-28 12-42-33](https://user-images.githubusercontent.com/1291204/73290117-db33e800-41cb-11ea-92b7-82ca3cccf7a4.png)
--
![Screenshot from 2020-01-28 12-44-15](https://user-images.githubuse

[2020-01-28 19:18] #110 closed

[2020-01-29 01:19] LaurentDumont commented on #17
That's good for me! I've added a patch. It works from what I've been able to test. I'll see about the integration tests as well.

That said, I'm still unsure about the proper format in `ansible.cfg`. The only way I could make it work is by using the following format. I've also noticed that that the `ignored_facts` didn't seem to work on my side.

[code]

I'm going to try a fresh install somewhere

[2020-01-29 02:08] #95 closed

[2020-01-29 13:53] dmsimard commented on #17
@LaurentDumont the list format stuff is weird and confusing. Sorry about that.
There is also a distinction between how dynaconf parses things for the API server and how Ansible parses things for the callback plugin.

I've bumped into this when implementing a default label feature and ended up doing it this way:
https://github.com/ansible-community/ara/blob/a8b8ff5c5996b025452d36fd464985e98c9da0bb/

[2020-01-29 14:06] dmsimard opened #112 "callback and api client logging aren't configured if server dependencies aren't installed"
## What component is this about ?

ara_default callback plugin

## What is happening ?

The callback plugin instanciates it's logger here:
https://github.com/ansible-community/ara/blob/a8b8ff5c5996b025452d36fd464985e98c9da0bb/ara/plugins/callback/ara_default.py#L149

And the http client here:
https://github.com/ansible-community/ara/blob/a8b8ff5c5996b025452d36fd464985e98c9da0bb/ara/clients/http.py

[2020-01-29 14:06] dmsimard commented on #17
btw I realized that this is an issue and I've created one for it: https://github.com/ansible-community/ara/issues/112

[2020-01-29 18:52] LaurentDumont commented on #17
It could be good. I've been testing with the following format and it seems to work for ENV variables and the ansible.cfg .ini method.

With the latest master, if I use the following syntax.

[code]
I end up with

![image](https://user-images.githubusercontent.com/8936473/73385709-a0998080-429b-11ea-8e97-28a9059196c8.png)

That said, if I use the following syntax for all the arguments, it works as

[2020-01-30 00:22] dmsimard commented on #101
Haven't looked at this issue yet but wanted to point out that I've been seeing it as well:
[code]

[2020-01-30 20:47] dmsimard commented on #17
@LaurentDumont yeah, in your case ``default_labels`` was parsed as a string which was then split into a list delimited by ``,`` so you ended up square brackets and double quotes.

There must have been a good reason why we documented the format with square brackets and double quotes (format consistent with dynaconf?) but I can't think of anything right now. If it works without, we should definitely

[2020-01-30 21:04] dmsimard opened #113 "ara.api.models.Label.MultipleObjectsReturned: get() returned more than one Label -- it returned 2!"
## What component is this about ?

API server

## What is happening ?

Noticed a new trace, occured with the mysql backend:
[code]

## What should be happening ?

The exception should be handled.

[2020-01-30 21:08] dmsimard commented on #107
Support for deploying on EL8 with the Ansible roles has landed in https://github.com/ansible-community/ara/commit/867c4232226750f3d1f464de08aa88099446c620

[2020-01-30 21:08] #107 closed

[2020-01-30 23:50] LaurentDumont commented on #17
Sounds good to me. Ready to merge!

[2020-01-31 00:59] dmsimard commented on #17
Done! Merged as https://github.com/ansible-community/ara/commit/23aaffb83c9db9f82a72a04a04086c8062429645

Thanks a lot for your work on this ! It'll land in ARA 1.4 :tada:

[2020-01-31 00:59] #17 closed

[2020-02-03 16:08] dmsimard commented on #71
@gundalow apologies, I know it's been a while but were you able to figure out if we should use the ansible-community namespace on Galaxy ? Thanks !

[2020-02-03 16:13] dmsimard commented on #84
This landed in https://github.com/ansible-community/ara/commit/b1f23c766ac754b1fd7b8532b2a3f9348c7cd966.

[2020-02-03 16:13] #84 closed

[2020-02-03 16:19] gundalow commented on #71
Hi,
You can use the `community` namespace in Galaxy.

[2020-02-03 17:06] dmsimard commented on #71
@gundalow how does that work in practice ? Is there documentation about it or is there already a project set up to use it ?

[2020-02-03 17:53] dmsimard commented on #113
The exception raises from this field: https://github.com/ansible-community/ara/blob/19979f9bfbfa7146cf26105338761c0fce02e72c/ara/api/fields.py#L78-L88

Which is only used once in the playbook serializer:
https://github.com/ansible-community/ara/blob/19979f9bfbfa7146cf26105338761c0fce02e72c/ara/api/serializers.py#L378-L386

The reason why ``CreatableSlugRelatedField`` exists is so the creation of t

[2020-02-03 18:07] dmsimard commented on #113
Patch for setting label names unique: https://review.opendev.org/#/c/705504/

[2020-02-03 18:09] dmsimard commented on #109
@saranyasridharan the pagination patch has merged in master and will be released with ARA 1.4. I'll close this issue for now, please feel free to respond or create a new issue if there's anything.

[2020-02-03 18:09] #109 closed

[2020-02-03 18:15] dmsimard commented on #99
It doesn't look like we can expect the base sqlite included in EL7 to be updated beyond 3.7.17 based on the package history: https://git.centos.org/rpms/sqlite/commits/c7
![Screenshot from 2020-02-03 13-15-25](https://user-images.githubusercontent.com/1291204/73678874-46c3fc80-4687-11ea-8510-863dd1fea9e0.png)

[2020-02-03 18:17] dmsimard commented on #91
The patch merged in master and will be released in ARA 1.4.

[2020-02-03 18:17] #91 closed

[2020-02-04 00:17] markfaine commented on #91
It looks good. Eager to check it out soon. Thanks.

[2020-02-04 16:07] dmsimard commented on #108
@LaurentDumont FYI I've merged a change in master to address the odd box syntax in the default settings file: https://github.com/ansible-community/ara/commit/df3bace703ea0c8bc3cbf6946444848c4cfaa61d

[2020-02-04 20:01] dmsimard commented on #101
I've investigated this a bit but haven't found the root cause yet.
It looks like perhaps there could be something wrong with our usage of weakref for re-using the client instance ?

tl;dr:
1) Client sends POST requests to create the playbook, the play, the task without issues
2) Client sends POST request to create a record from ara_record without issues
3) After the ara_record task, the callback g

[2020-02-04 20:59] dmsimard commented on #101
Yeah, the issue has something to do with passing the instance weakref back and forth.

If I revert the [patch](https://github.com/ansible-community/ara/commit/b632aae7d82a25e3a60d834e5ccee938eddc9fec#diff-e0a8a9a7b6f45ca04a4d939a1f547329) that introduced the weakref, I am unable to reproduce the issue.

[2020-02-06 19:42] spamjq38 commented on #62
This installation is a disaster! https://ara.recordsansible.org/

[2020-02-07 06:25] saranyasridharan commented on #109
Performance is improved now with the nginx and gunicorn hosting. we have
parked the pagination patch step, if this hosting doesnot solve our problem
, we will go to this. Thanks David or I will update next release directly.
Thanks for the support.

On Mon, Feb 3, 2020 at 11:39 PM David Moreau Simard <
notifications@github.com> wrote:

[2020-02-07 14:50] saranyasridharan commented on #109
What is the release date of Ara 1.4?

On Fri, 7 Feb, 2020, 11:55 AM Saranya Sridharan, <
saranyasridharan17@gmail.com> wrote:

[2020-02-07 15:15] dmsimard commented on #109
@saranyasridharan there's no set date yet but I'm hoping for next week.

[2020-02-08 02:46] LaurentDumont commented on #104
I hit that randomly when including a file that was empty (or rather in the process of getting written). I was thinking on how to solve it and had two different ways.

- We could detect that the file is empty during the Callback action and fill it in with some placeholder text. Similar to what is done when content is ignored. That said, I don't really like it since it's somewhat fake.
- Taking a qu

[2020-02-08 07:30] saranyasridharan commented on #109
That's great. Thank you David.

On Fri, Feb 7, 2020 at 8:45 PM David Moreau Simard <notifications@github.com>
wrote:

[2020-02-13 20:34] flowerysong commented on #103
We are using 0.x in production and just switched over to 1.x in nonprod.

Our main use is to surface detailed results of failed playbook runs by linking to the ARA UI from our automated failure notifications. Secondarily it's useful any time we want to look at historical playbook results or timing, e.g. to see the detailed return from a particular module without rerunning the playbook with more ve

[2020-02-14 20:33] hvtuananh opened #115 "API server no longer accept default format for `ALLOWED_HOSTS`"
## What component is this about ?
API server

## What is happening ?
Running API server with `ARA_ALLOWED_HOSTS='["127.0.0.1", "localhost", "::1"]'` environment variable now produce an error:

[code]

Ref commit: https://github.com/ansible-community/ara/commit/df3bace703ea0c8bc3cbf6946444848c4cfaa61d

## What should be happening ?
API server should accept this format, or the doc should specify an

[2020-02-23 01:19] flowerysong commented on #27
This missing hook is a bug in Ansible; it's supposed to send v2_playbook_on_start with a fake file name, but doesn't. See ansible/ansible#67673

[2020-02-23 03:17] flowerysong commented on #27
Once the callbacks are firing correctly you can get a decent user experience recording ad hoc commands pretty easily: https://github.com/flowerysong/ara/commit/bef79470

[2020-03-01 18:39] zswanson opened #116 "Labels passed as extra-vars causes ara errors and recording failures"
## What component is this about ?

API client

## What is your ARA installation like ?

ara-api 1.3.2, running on an ubuntu AWS instance, installed from source. The ara-api is configured for an external postgres backend. No reverse proxy, it is accepting traffic directly over port 8000.
ara client 1.3.2, running on centos 7 installed from pypi. The ansible plugin portion is configured by environme

[2020-03-02 04:59] saranyasridharan commented on #109
@David Is there any update on the ARA 1.4 release date ?

On Thu, Jan 23, 2020 at 6:19 PM David Moreau Simard <
notifications@github.com> wrote:

[2020-03-02 22:55] flowerysong commented on #116
I can replicate this with 1.3.2 but not with master; I suspect it was fixed by https://github.com/ansible-community/ara/commit/7388229361022b2805fa0e9a636b827ed6583ca9

https://github.com/ansible-community/ara/blob/d9df520e02f84a6aeb95ec643c7009cbe48c4efa/ara/plugins/callback/ara_default.py#L338-L346 could do with being made more fault-tolerant; losing the playbook information when PATCH fails is

[2020-03-03 01:00] zswanson opened #117 "If ara-api cannot read settings.yml, it falls back to some default w/o warning"
## What component is this about ?

ara-api

## What is your ARA installation like ?

ara-api was installed on an ubuntu AMI. I was attempting to install it to /opt/ara and *not* use the `.ara` hidden path, and use a service user with home directory at /opt/ara.

## What is happening ?

My install had mistakenly set the ownership of the ara/server/settings.yaml to root, with no read permissions for

[2020-03-04 14:38] markgoddard opened #118 "ARA 0.16.6 breaks Ansible on Python 2 due to pyfakefs 4"
## What component is this about ?
Callback plugin.

## What is your ARA installation like ?
This is affecting Kolla Ansible CI on stable branches that use Python 2: https://bugs.launchpad.net/kolla-ansible/+bug/1866079.

Reproducing on a CentOS 7.7 box:

[code]

Now gather facts:
`./ansible-2.6/bin/ansible localhost -m setup -e ansible_python_interpreter=$(which python) -vvvv`

## What is happenin

[2020-03-29 18:01] juliojsb commented on #99
Hi,
So we have to assume that we won't be able to make ARA 1.x work in RHEL7?
Regards,

[2020-03-29 19:06] flowerysong commented on #99
ARA doesn't directly depend on a newer version of SQLite, the version requirement is imposed by Django. If you install django<2.2 instead of the latest then ARA (currently) works fine.

[2020-03-30 18:59] juliojsb commented on #99
Thanks, just in case someone needs it, this is how to make the last version of ARA 1.x work in CentOS/RHEL 7.x

[code]

[2020-04-02 09:48] saranyasridharan opened #119 "Multiple search query options in ARA API calls"
First huge respect and appreciation to the support of the community members. I have a query to know if that feature is already there or to take this as the suggestion to develop there.
 What component is this about ?
Ara API server Endpoints

 What is your ARA installation like ?
Linux distribution: Centos 7.2
database driver: AWS Postgres
Environment: Virtual environment
Ansible Version: 2.
Ara V

[2020-04-06 14:15] saranyasridharan opened #120 "Ara_playbook is erroring out in the playbook"
I have copied ara_playbook from the github and set action plugin and tried to run playbook as below.

# What component is this about ?
Plugin: Ara_playbook  action plugin
 What is your ARA installation like ?
Ansible:
Ara: 1.3
Installed: from pip command
Environment: virtualenv
Linux environment: Centos 7.2
Database driver: Aws RDS postgres

# What is happening ?
[code]

# What should be happening

[2020-04-06 22:22] dmsimard commented on #120
Hi @saranyasridharan and thanks for the issue,

Are you able to try and see if you can reproduce the issue with a vanilla postgresql server ?

I'm not familiar enough with AWS to be able to tell if there's any gotchas to look out for.

I do not have access to RDS to troubleshoot but the latest integration tests with a vanilla postgresql 10 were [successful](https://storage.bhs.cloud.ovh.net/v1/AUT

[2020-04-13 19:05] dmsimard commented on #119
Hi @saranyasridharan,

Unless mistaken, the API already supports searching for different parameters simultaneously.
If you need to search ``vault_ids`` specifically, though, this is not currently possible.

ARA grabs what it calls the arguments and nests them all under the "arguments" key, like so:
![Screenshot from 2020-04-13 15-00-43](https://user-images.githubusercontent.com/1291204/79151095-d9

[2020-04-13 19:21] dmsimard commented on #117
Hi @zswanson, thanks for creating the issue and apologies for the delay.

I've reproduced this issue by *not* having a ``~/.ara`` directory and doing ``export ARA_SETTINGS=/root/foo.yml`` (which doesn't exist and even if it did, the user doesn't have privilege to /root):
[code]

Out of curiosity, I tried doing ``export ARA_BASE_DIR=/root/foo`` instead and got the error I expected:
[code]

So it se

[2020-04-13 19:24] dmsimard commented on #118
Thanks @markgoddard for the issue. I'm back and have time to look into this.

The patch you sent ( https://review.opendev.org/#/c/711240/ ) looks fine to me but I'll need to untangle the CI a bit. I'll get a dot release out for 0.x once I manage to land the patch.

[2020-04-13 19:36] dmsimard commented on #116
Hi @zswanson and thanks for taking the time to create an issue. It would be helpful to see if you can reproduce the issue with master, otherwise I will eventually get around to it.

@flowerysong I agree that the current implementation is overly optimistic and failure tolerance needs to be improved across the board.

Some errors are more "fatal" than others, but this has a lot to do with the synchr

[2020-04-13 19:38] dmsimard commented on #113
Fixed and will be released in 1.4.

[2020-04-13 19:38] #113 closed

[2020-04-14 07:23] saranyasridharan commented on #120
Thanks for looking at it David. I will try and let you know.

On Tue, Apr 7, 2020 at 3:53 AM David Moreau Simard <notifications@github.com>
wrote:

[2020-04-14 07:52] markgoddard commented on #118
Great, thanks David.

[2020-04-14 19:18] dmsimard commented on #118
Merged and released in 0.16.7. Thanks !

[2020-04-14 19:18] #118 closed

[2020-04-14 19:33] dmsimard commented on #115
Hi @hvtuananh and thanks for the issue.
I wasn't able to look into this until now but wanted to know if you were still able to reproduce this issue ?

For example, if I run the following, it works:
[code]

And then, if I put a wrong value on purpose:
[code]

I think we could do a better job at documenting how to set the variables, though, because there was another issue about a user struggling wit

[2020-04-14 19:38] zswanson commented on #117
That's correct, I was running ARA by systemd unit and ONLY setting the ARA_SETTINGS value.

[2020-04-14 20:10] dmsimard commented on #117
Thanks! I've submitted a patch to address the issue: https://review.opendev.org/#/c/720072/
I'll close the issue once the change merges.

It will be included in the upcoming release of 1.4 which I am hoping to wrap up soon.

[2020-04-14 21:07] dmsimard commented on #104
Thanks for looking at this @LaurentDumont, I just now had the time to dig into this a bit.

Yes, I actually tried that with the ``allow_blank`` parameter in the [serializer](https://www.django-rest-framework.org/api-guide/fields/#charfield) here: https://github.com/ansible-community/ara/blob/821b0fe8801fbcfccce5202d1360aca921aecde8/ara/api/serializers.py#L439

It fails quite spectacularly: from wh

[2020-04-14 22:02] #117 closed

[2020-04-15 20:23] dmsimard commented on #101
I haven't found a definitive fix for this yet and it didn't warrant blocking the release of 1.4, we can fix it in an upcoming dot release.

[2020-04-15 20:24] dmsimard commented on #116
I haven't looked at this yet but it didn't warrant blocking the release of 1.4, we can fix it in an upcoming dot release.

[2020-04-16 12:28] mmslkr opened #121 "Allow configuration of FORCE_SCRIPT_NAME in settings.yaml"
## What component is this about ?
API server

## What is your ARA installation like ?
- `ara 1.4.0.0rc1` from PyPi via `pip install --pre ara[server]` in a virtualenv on CentOS 7.6
- started with default options with `ara-manage runserver`
- installed as a PoC behind an nginx like so
[code]

## What is the idea ?
In this setup, ara is reachable on http://ip:8081/ara/. But a few links are absolute,

[2020-04-16 12:44] mmslkr commented on #121
I've just noticed that `FORCE_SCRIPT_NAME` is not enough, I had a bit of extra config in nginx from trying to work around the problem. I will close this issue and perhaps open a new one regarding a general setting for a base_url or similar.

[2020-04-16 12:44] #121 closed

[2020-04-16 13:06] dmsimard commented on #121
Hey @mmslkr and thanks for the issue. It's not hard to expose FORCE_SCRIPT_NAME if we need to and if it can be helpful but I'll say that it's probably easier and simpler to deploy the application at the root of a domain.

I know that deploying in a subdirectory tends to be a common use case by users but it's full of gotchas :)

Let me know if I can help, if we can figure this out we can add it to

[2020-04-16 14:13] mmslkr commented on #121
I've just found a workaround for that which seems to work just fine:
in nginx, add

[code]

Everything I've clicked worked so far with this approach, even submitting the search form.

[2020-04-16 14:20] dmsimard commented on #121
@mmslkr was that with or without ``FORCE_SCRIPT_NAME`` ?

[2020-04-16 14:34] mmslkr commented on #121
@dmsimard without.

Just tried it to make sure: I've removed everything related to ara and reset the nginx conf. Then a clean install with
[code]
and added the nginx-snippet as in [the previous comment](https://github.com/ansible-community/ara/issues/121#issuecomment-614679221). From what I can tell, ara then works fine under http://ip:8081/ara/

[2020-04-16 18:17] dmsimard commented on #121
@mmslkr thanks! We don't have nginx-specific docs yet but it'll be useful to know we can do this.

[2020-04-18 17:27] arrfab opened #122 "Providing RPMS for CentOS 8 . Help needed"
This isn't a real ARA issue (per se) but following a discussion on twitter with @dmsimard we thought that it would be good to centralize a thread about rebuilding ara for .el8 through cbs.centos.org.
I already created some koji tags and started some time ago to build the (long) toolchain needed to rebuild ara (so providing both the Requires: and BuildRequires: )
Here are the built pkgs so far (60+

[2020-04-18 17:52] flowerysong commented on #27
Ansible 2.9.7 has been released and includes this callback bugfix.

[2020-04-18 19:43] dmsimard commented on #27
@flowerysong very nice!

Your patch looks fine to me, would you like to submit it ?

[2020-04-18 19:57] flowerysong commented on #27
https://review.opendev.org/721038

[2020-04-19 06:32] arrfab commented on #122
Just had myself a quick look again : the issue with python-dotenv is that it needs both python-ipython itself requiring python-prompt-toolkit.
While we have an old python-ipython build (ipython-6.4.0-0.1.el8) , the python-prompt-toolkit itself is too new for that ipython version (see for example https://stackoverflow.com/questions/51676835/ipython-cannot-import-name-create-prompt-application-from-

[2020-04-19 20:09] dmsimard commented on #122
Good find on the bugzilla. You mention rebuilding from fedora spec -- which one specifically ?
Miro mentions that we probably shouldn't be using platform-python but instead /usr/bin/python3.

There's a part here in the spec that substitutes the python shebangs with the ``%{__python3}`` macro (which resolves to platform-python now?): https://src.fedoraproject.org/rpms/ipython/blob/epel7/f/ipython.s

[2020-04-20 20:15] dmsimard commented on #27
@flowerysong merged and confirmed that it works with 2.9.7 when using ``export ANSIBLE_LOAD_CALLBACK_PLUGINS=true``. I'll write some documentation and we can close this. Thanks for your help !

[2020-04-20 20:30] dmsimard commented on #27
Docs: https://review.opendev.org/#/c/721339/

[2020-04-20 20:54] #27 closed

[2020-04-21 16:42] viktorkrivak opened #123 "Remote auth not working"
## What component is this about ?
ara-server, mainly rest-api

## What is your ARA installation like ?
Found in version 1.3.2 (from debian package) but same code is in master

## What is happening ?
When EXTERNAL_AUTH is enabled, only admin and healthcheck working properly. /api and index return 401

## What should be happening ?
Everything should be working same as it internal auth is used.

Main

[2020-04-21 18:24] hvtuananh commented on #115
Looks like I was using an old version of dynaconf (2.0.3 vs 2.2.3). I can no longer reproduce this issue. Sorry for the false alarm.

[2020-04-21 18:37] dmsimard opened #124 "Docs: EXTERNAL_AUTH isn't documented"
## What component is this about ?
Documentation

## What is happening ?
There's no documentation for ``EXTERNAL_AUTH``: https://github.com/ansible-community/ara/blob/7a192ac1b7541465d9e799ab96e3db48861cdd16/ara/server/settings.py#L80

## What should be happening ?
There should be docs about it and how to use it.

[2020-04-21 18:38] dmsimard commented on #123
Hey @viktorkrivak and thanks for the issue.
Your assessment of the problem and the patch makes sense at first glance.

If you'd like to submit the patch, there are unfortunately a few hoops to jump through for your first patch (see [docs](https://ara.readthedocs.io/en/latest/contributing.html)) but your contribution would be appreciated and I would be more than happy to help you get started on [Sl

[2020-04-21 18:39] dmsimard commented on #115
@hvtuananh Thanks for getting back to us ! I will close this issue then.
Feel free to report if there's anything else.

[2020-04-21 18:39] #115 closed

[2020-04-22 10:59] viktorkrivak commented on #123
Hi sorry, I didn't notice that part of documentation about gerrit. I'll send patch the correct way.
Also I'll write some notes about EXTERNAL_AUTH to #124 . But it'll take some time because I use apache connected to LDAP so it is unnecessary complex setup for documentation, so I need to simplify it.

[2020-04-22 13:03] dmsimard commented on #123
:tada:

That's great! Let me know if I can help!

[2020-04-22 15:14] viktorkrivak commented on #124
Hi, since I use this with apache I add some guide how to setup ARA with apache and mod_wsgi. Second part of configuration won't work without patch from #123
Guide for apache and wsgi setup

    apt install apache2 libapache2-mod-wsgi-py3
    adduser --system --home /opt/ara ara
    pip3 install ara[server] # install ara from pip git or somehow
Locate ARA installation path (with pip /usr/local/lib/

[2020-04-23 16:59] berendt opened #125 "AttributeError: 'str' object has no attribute 'to_list'"
ARA version: 1.4.0

Trying to initialize my database with ``ara-manage migrate``.  For configuration I am using an environment file with ``ARA_ALLOWED_HOSTS="['api.ara.example.org', 'web.ara.example.org']"``.

``ara-manage migrate`` failed:

[code]

[2020-04-23 17:12] dmsimard commented on #125
Hi @berendt and thanks for the issue !

Could you look at https://github.com/ansible-community/ara/issues/115 and let me know if you're experiencing the same thing ?

It looks like an unexpectedly backwards incompatible change got introduced but it's fixable.

[2020-04-23 17:44] berendt commented on #125
I think this is the problem. In the docs at https://ara.readthedocs.io/en/latest/api-configuration.html the sample value is ``export ARA_ALLOWED_HOSTS="['api.ara.example.org', 'web.ara.example.org']"``. But this does not work.

[2020-04-23 17:47] berendt commented on #125
[code]

[2020-04-23 18:52] dmsimard commented on #125
@berendt For some reason I can't reproduce the issue locally with neither bash or fish shells.

When you say "environment file", what do you mean exactly ? Is it a bash file that you source ? Something else ?

[2020-04-23 20:04] berendt commented on #125
It is an environment file for Docker Compose.

[2020-04-23 20:09] #125 closed

[2020-04-24 05:35] saranyasridharan commented on #120
It worked after installing Ara1.4.0 , may be I missed to copy some dependancy  file last time while I was trying.

[2020-04-24 06:20] #120 closed

[2020-04-24 06:24] saranyasridharan commented on #121
@mmslkr Did you use gunicorn along with nginx in the above scenario? I am hosting my Ara server in gunicorn +nginx environment. When I try the above configuration in nginx , still I am getting 400 error. Do you have idea on the issue?

[2020-04-24 06:41] mmslkr commented on #121
@saranyasridharan At first not, setup was just like described [here](https://github.com/ansible-community/ara/issues/121#issuecomment-614692032)

After the PoC I installed ARA API via [the role](https://github.com/ansible-community/ara/tree/master/roles/ara_api) _including_ gunicorn, and kept my nginx-config as [described above](https://github.com/ansible-community/ara/issues/121#issuecomment-6146

[2020-04-24 14:01] dmsimard commented on #125
@berendt oh wow, that's tricky !

Somewhat related, I'm currently iterating on an approach to running the API server in containers -- it relies on ``settings.yaml`` instead of environment variables because lists and dicts are easier in YAML than they are in-line as demonstrated here :p

Would you like to have a look and let me know what you think ? See here:
https://review.opendev.org/#/c/687905/

[2020-04-27 09:21] saranyasridharan opened #126 "Replacing Database_password with IAM temporary token"
What component is this about ?
Ara API

What is your ARA installation like ?
Ara 1.4.0 , Installed from Pypi , it is in virtualenv
Database driver: Postgresql AWS RDS 11.4
Linux Environment: Centos 7.3

What is the idea ?
My idea is to login to the database using temporory IAM token instead of password.
I can achieve that when I try the steps with psql utility , But with Ara when I specify the gen

[2020-04-27 12:08] #126 closed

[2020-04-27 12:09] saranyasridharan commented on #126
it worked by following these steps [https://stackoverflow.com/questions/57865837/how-to-do-rds-iam-authentication-with-django]

[2020-04-30 15:36] dmsimard opened #127 "Ansible roles: Add support for deploying with apache and mod_wsgi"
## What component is this about ?

ARA Ansible roles

## What is the idea ?

The Ansible roles currently support deploying with gunicorn as the application server and nginx as the frontend server. It would be nice if they supported deploying with apache and mod_wsgi, even if just for integration testing purposes.

@viktorkrivak provided a good chunk of the work that would just need to be translate

[2020-04-30 19:55] dmsimard commented on #105
After a few iterations, I've landed a first shot at this: https://ara.readthedocs.io/en/latest/container-images.html

This takes care of how images are built -- I've published a first set of images manually to https://hub.docker.com/repository/docker/recordsansible/ara-api and we can start publishing images automatically after every merge soon.

[2020-05-04 07:27] saranyasridharan opened #128 "Ara to handle temperory DB token expiry"
What component is this about ?
Ara API

What is your ARA installation like ?
Ansible 2.8
Ara 1.4.1
Installed from PyPI inside virtualenv
Linux: Centos 7.3

What is the idea ?
I don't want to pass plain DB password to connect to RDS postgres, I am using IAM authentication for the RDS and passing the temperory db token using AWS RDS generate-db-token. It's expiring time is 15 minutes, I want a way i

[2020-05-04 07:34] saranyasridharan commented on #121
@mmslkr it worked when I used sub_filter and also upstream conf in the nginx conf. thanks.

[2020-05-06 12:43] dmsimard opened #129 "docs: the distributed sqlite instructions don't mention the specific wsgi app"
## What component is this about ?

distributed_sqlite database backend

## What is happening ?

https://ara.readthedocs.io/en/latest/distributed-sqlite-backend.html is missing instructions on how to load the wsgi application for distributed sqlite, for example: ``gunicorn --workers=4 --access-logfile - --bind 127.0.0.1:8000 ara.server.wsgi:distributed_sqlite``

[2020-05-06 14:28] hritz220 commented on #129
@dmsimard It didn't worked, here's the terminal response after running the command :
[code]
the problem is, the the DISTRIBUTED_SQLITE_PREFIX=ara-report and DISTRIBUTED_SQLITE_ROOT=/var/www/logs, not allowing any path in between, if my db is in /var/www/logs/ara-report, it's working but when my path is /var/www/logs/ara-report1/ara-report, it's ignoring the request.

[2020-05-08 08:10] zbindenren commented on #105
The images do not work with docker:

[code]

[2020-05-08 12:38] dmsimard commented on #105
Hi @zbindenren and thanks for reporting the issue.

The official project images started being published by the project literally just 8 days ago and haven't been broadly advertised yet so I wouldn't place much importance on the number of downloads.

We currently build the images with buildah and run them with podman as specified in the documentation: https://ara.readthedocs.io/en/latest/container-

[2020-05-08 13:22] zbindenren commented on #105
@dmsimard thanks for the quick response. I think if it is not working with docker, people are not going to use it and it is probably not working in k8s.

[2020-05-09 07:30] Thulium-Drake commented on #71
I did some testing by trying to import the repo on galaxy-dev, there's a few things that need fixing:

1. The roles and the repo itself require markdown documentation (rst files aren't recognized fully, see link)
2. Some warnings need to be fixed (see log below)
3. If you want to deploy the plugins, they need to be symlinked to the root of the repo.

[code]
The end results: https://galaxy-dev.ansi

[2020-05-09 15:19] dmsimard commented on #71
The server does some validation on dependencies before trying to start: https://github.com/ansible-community/ara/blob/master/ara/server/__main__.py

The callback currently relies on the API clients to do this kind of validation, for example: https://github.com/ansible-community/ara/blob/master/ara/clients/offline.py#L28

The problem is that although you can "install" plugins through collections, t

[2020-05-09 18:29] dmsimard commented on #105
I appreciate the concern but the project publishes images for convenience and we encourage users to build their own images for production use, even if just for security and auditing best practices.

I was curious about your issue but it doesn't look like I am able to reproduce it in my environment:

[code]

From googling a bit, it looks like Docker took a while to add support for OCI-standard cont

[2020-05-09 18:29] #105 closed

[2020-05-09 18:48] dmsimard commented on #71
I kind of replied quickly, more on this:

Good catch, the docs (including the README) are in rst format which makes it easy to include in the documentation with sphinx. I've asked about whether there are any plans for Galaxy to support RST rendering but haven't had an answer yet.

Yes, perhaps ironically, although the roles are integration tested, they aren't linted :(
Adding an ansible-lint CI jo

[2020-05-09 23:13] dmsimard commented on #129
I think we figured this out -- I thought that the application needed to be loaded explicitly but we're already handling this automatically when DISTRIBUTED_SQLITE is true:
https://github.com/ansible-community/ara/blob/2e367aff9e1d8b44e1cace56d50a578324d89d3d/ara/server/settings.py#L104-L109

[2020-05-09 23:13] #129 closed

[2020-05-10 08:44] Thulium-Drake commented on #71
Fair enough, there's 2 ways out of this, either add markdown docs, or ask the galaxy guys to support rst :-)

Agreed, it's very inconvenient due to the fact you need extra python libs, but putting all that in it's own role might elegantly solve that problem!

So what I did was:

0. ```mkdir /tmp/collection_skel && ansible-galaxy collection init thulium_drake.ara_test```
1. Clone the repo as is
2.

[2020-05-10 12:24] Thulium-Drake commented on #71
I have setup a repo which can be cloned and published to Galaxy, but the role for setting up Ansible still needs to be written.

Repo: https://github.com/Thulium-Drake/ara_collection
Galaxy page: https://galaxy-dev.ansible.com/thulium_drake/ara_collection (still waiting for the import to complete)

I'll try to work out a role to install the python stuff required to run the modules

P.S. if the rep

[2020-05-10 13:32] dmsimard commented on #71
:+1:

Ok, happy to review, thanks for working on this!

Thinking out loud, there's going to be a few things to consider when we move the roles out:

1) We need to keep the git history for the roles because.. well, it would be a shame to lose the history. I've done this kind of thing before, can be tricky but worth it.

2) Adjust documentation because we won't be able to do relative includes anymor

[2020-05-10 16:35] dmsimard commented on #71
Yeah, looks like it's 404'ing still.

I took another look at [thulium_drake.ara_test](https://galaxy-dev.ansible.com/thulium_drake/ara_test) and it has the following note about collections:
![Screenshot from 2020-05-10 12-27-24](https://user-images.githubusercontent.com/1291204/81504893-d2b67780-92b9-11ea-9bfe-d6fc7075db53.png)

It's worth considering that Ansible 2.8 is going to be supported for

[2020-05-10 17:26] dmsimard commented on #71
Started a WIP here: https://review.opendev.org/#/c/726644/

For now I've removed the roles files completely so we can be sure to test the right roles out of the collection repository once it's setup in Zuul. I'm not sure which would have precedence if both are in the role path with the same name ? TBD.

[2020-05-10 19:36] Thulium-Drake commented on #71
I have updated my repo again after I took the git-equivalent of a couple of hacksaws and chisels to it. :-) (gave me an interesting look in how to chop up repo's and the wonders of sed)

It's supposed to have all the relevant history of the roles and the plugins (I left the playbooks in there, those prolly have to be reworked after this is done)

I'll reply on the other messages with quotes.

[2020-05-10 19:45] Thulium-Drake commented on #71
Gotcha, makes sense, I think my hacksaw trick worked, check it out :-)

Agreed, I think just rendering the normal docs into markdown can even be a good start, just shave off the stuff that isn't required.

Sounds cool! I'm not familair with Zuul at all (I use Drone CI myself in combination with Molecule)

I can take a look at that, I still have my playbook for installing the whole enchilada on my

[2020-05-10 19:52] Thulium-Drake commented on #71
AFAIK, you use collections by their FQCN (namespace.collection.role), so the roles should not collide.

[2020-05-12 21:06] dmsimard commented on #29
Pinging interested parties FYI: @FlorianLaunay @binrick, @yannfill, @hairmare, @mmcnl, @anayrat

Revisiting this and it looks like the diff is now saved in the result's content out of the box when running a playbook with ``--diff`` (probably since https://github.com/ansible-community/ara/commit/dce9f3a5171991f849b9817faca11d17983e8229 which landed in 1.4.0, thanks @flowerysong!):
![Screenshot from

[2020-05-13 14:15] jstarek commented on #99
@juliojsb, many thanks for that suggestion! However, it just leads me into a situation where the ara callback is skipped due to

`[WARNING]: Skipping plugin (/home/vm/.local/lib/python3.6/site-packages/ara/plugins/callback/ara_default.py) as it seems to be invalid: No module named ara.clients`

[2020-05-14 15:35] dmsimard opened #131 "Traceback in API browser: TypeError at /api/v1/playbooks/1 unhashable type: 'dict'"
## What component is this about ?

API Browser

## What is your ARA installation like ?

Latest master (1.4.1.dev26)

## What is happening ?

I'm able to browse the playbook through the UI just fine but if I query the API for the same playbook it fails:
![Screenshot from 2020-05-14 11-30-20](https://user-images.githubusercontent.com/1291204/81954232-9b580b80-95d6-11ea-9eed-1d8f21019567.png)

[code

[2020-05-14 19:54] markfaine opened #132 "Dockerfile for recordsansible/ara-api"
## What component is this about ?
The docker image for ara-api

## What is your ARA installation like ?
I'm working on a deployment with swarm as a stack with mysql.

## What is the idea ?
I know you use buildah but I could really use a Dockerfile so that I can see what it is you're doing in your build and modify accordingly for my own.  I'm building swarm files (compose files) and it helps a ton

[2020-05-14 20:05] dmsimard commented on #132
Hi @markfaine !

We don't maintain a Dockerfile but it should be possible to create one of your own based on the scripts used to build the images like this one: https://github.com/ansible-community/ara/blob/master/contrib/container-images/fedora-pypi.sh

So, roughly speaking:
1) Start from an image where python3 is available
2) In your case, install mysqlclient (not PyMySQL!) library, on Fedora/EL

[2020-05-14 20:56] markfaine commented on #132
Thanks!

[2020-05-16 12:10] Thulium-Drake commented on #71
I have updated my repository with the initial version of the ARA client role.

It works, but it requires the use of some scripting (I place some stuff in /usr/local/bin to wrap ARA in the system environment). This is only required when the installation source is git, I will test this later with source = pip.

[2020-05-18 15:56] markfaine commented on #132
Can you please explain to me what has changed?  I have been working on another project and am now returning to ARA after a brief absence and it seems that there have been some significant changes and I have to admit that I am a bit confused.

Previously, I had configured ARA with a settings.yml file installed into ~/.ara/server/settings.yml.  This file is no longer needed?  I also am seeing there

[2020-05-18 16:38] dmsimard commented on #132
Happy to have you back :)

Maybe the changelogs could help ? We can probably do a better job at linking to them:

- 1.2: https://ara.recordsansible.org/blog/2019/11/06/announcing-the-release-of-ara-records-ansible-1.2/
- 1.3: https://ara.recordsansible.org/blog/2019/12/03/announcing-the-release-of-ara-records-ansible-1.3/
- 1.4: https://ara.recordsansible.org/blog/2020/04/15/announcing-the-upcomin

[2020-05-18 17:01] xenlo opened #134 "Ara offline mode not working…"
## What component is this about ?
- Ara offline

## What is your ARA installation like ?
We are moving from ara 0.16 to ara 1.4.0. It's installed from PyPi in a virtualenv with pip 20.1 and Python v3.7.6.

The following output comes from my Fedora 30 VM I use for my Ansible roles and playbook developments. But has been reproduced on the Debian 9 workstation from my colleague. He used a Python v3.5

[2020-05-18 17:14] dmsimard commented on #134
Thanks @xenlo, this isn't something I've seen before :tada:

The way the offline client works currently is that it spawns an ephemeral API server on a randomized port for the duration of the playbook. The rest of the client implementation is no different than if you'd be using the http client, it just uses that ephemeral API server endpoint.

My understanding of the issue is that the client is una

[2020-05-19 09:01] xenlo commented on #134
Running the server manually, works well:
[code]

I can reach it.
[code]
I tested by adding the local server in my ansible config and reruns a play. It works like a charm.

So it seems that the ephemeral server didn't start correctly.

[2020-05-19 20:35] markfaine commented on #132
Do you recommend running the container as root or creating a ara user and a virtualenv?

[2020-05-19 21:03] dmsimard commented on #132
@markfaine I don't have a particular recommendation, I think your personal preference in terms of installation/deployment/upgrade workflow has more importance, either will work the same.

[2020-05-20 08:36] xenlo commented on #134
I tested several other version to see which are impacted. It seems that version 1.3.2 is also impacted by this misbehavior. And version 1.2.0 and older don't work anymore out of the box.

- ara-1.3.2
  Same misbehavior than 1.4.0
- ara-1.2.0
[code]
- ara-1.1.0
[code]
- ara-1.0.1
[code]

[2020-05-20 10:30] xenlo commented on #134
Thanks to @misc, who pointed to ipv6. The Ara server spawned does not listen on ipv6, as I have it enable on my loop back interface, it fails.

So a work around is to disable ipv6 on lo interface:
[code]

[2020-05-20 12:17] hritz220 opened #135 "ara-web console is not loading HTML"
I’m using ARA with CI. I’m generating a new sqlite file for every deployment job.
Here is the set up. Installed ara with API server dependencies
[code]
Updated settings.yml
`DISTRIBUTED_SQLITE: true`
Started the server
`ara-manage runserver`
executed the playbook
`ansible-playbook -vvvv test.yml`
copied the ansible.sqlite from ~/.ara/server to /var/www/logs/rep1/ara-report/ansible.sqlite
when I hi

[2020-05-20 12:39] hritz220 opened #136 "server error in ara-web console"
I'm trying to use distributed sqlite, but when I copy the database in /var/www/log/ara-report/ansible.sqlite , I'm unable to see data in the ara-web console.
Here is the set up. Installed ara with API server dependencies
`python3 -m pip install --user ansible "ara[server]"`
Updated settings.yml
`DISTRIBUTED_SQLITE: true`
Started the server
`ara-manage runserver localhost:80`
generated and copied t

[2020-05-21 07:34] jyc382 opened #137 "Updating requirements"
This specifically pertains to ara-api, and the requirements when using the callback functions within an ansible.cfg. It says it should work with all versions of Ansible, but I believe this is incorrect.

For this specific test case, it consists of the following setup:

1. Ubuntu 16.04.4 LTS
2. Ansible installed via apt, specifically 2.8.1-1ppa~xenial (but I believe it applies to all of the package

[2020-05-27 00:38] dmsimard commented on #131
We had a pretty good case of a documented issue in DRF: https://github.com/encode/django-rest-framework/issues/5141

I'll send a patch to work around it.

[2020-05-27 00:43] dmsimard commented on #131
The patch: https://review.opendev.org/#/c/731010/
Will land in 1.4.1.

[2020-05-27 00:48] dmsimard commented on #137
Hi @jyc382 and thanks for the issue.

The [documentation](https://ara.readthedocs.io/en/latest/installation.html#requirements-and-dependencies) currently states:

Would it be an improvement to mention that it needs to be installed for the same python interpreter ?

This isn't something specific to ara, though, it's a python thing. You can't expect a python2 package to be able to use a python3 pack

[2020-05-27 00:49] dmsimard commented on #134
Thanks @xenlo and @misc for troubleshooting ! I'll keep a note of this to add in an eventual troubleshooting guide in the docs.

[2020-05-27 00:49] #134 closed

[2020-05-27 00:52] dmsimard commented on #132
@markfaine I'm tidying up issues and I'll close this one since I think you're in the right direction. Feel free to open another if there's anything.

[2020-05-27 00:52] #132 closed

[2020-05-27 00:53] dmsimard commented on #136
Hi, I haven't looked at this yet but I'll close this issue because you've already reported it in a previous issue: https://github.com/ansible-community/ara/issues/135

[2020-05-27 07:30] jyc382 commented on #137
I do think it'd be an fantastic improvement that it needs to be installed for the same python interpreter. I agree, it is a Python piece rather than an ara specific piece. While I understand that Python 3 is no longer supported, a lot of workshops still do use Python 2 for their tooling set as they haven't spent the time to properly upgrade everything to Python 3.

[2020-05-27 10:03] xenlo commented on #134
As the problem with offline mode is clarified there are 2 nubs identified in this issue:
- missing logging
- not listening on in ipv6

So for the not listening there is a workaround provided here above. And for the missing logs, you plan to have more troubleshooting info in the docs, which is also a workaround.

Nevertheless, I think that we should keep 2 issues (or 2 PR) open to have proper solut

[2020-05-27 12:46] dmsimard commented on #134
Hi, I agree, maybe I was too optimistic :)

I don't know yet if it's possible to make the offline server listen on both ipv4 and ipv6 but if it's possible, it's around here: https://github.com/ansible-community/ara/blob/master/ara/clients/offline.py#L55

In terms of logging, what would you like added ?

[2020-05-27 13:02] xenlo opened #138 "Get ephemeral service of offline mode listen on both ipv4 and ipv6"
## What component is this about ?
- Ephemeral service launch by offline mode

## What is your ARA installation like ?
- *ara*: 1.4.0. It's installed from PyPi in a virtualenv
- *pip*: 20.1
- *python*: v3.7.6

## What is the idea ?
As discovered in the issue #134, the offine mode start an ephemeral service that only listen on 127.0.0.1 (ipv4). As there is more and more linux box that comes with ipv

[2020-05-27 13:04] xenlo commented on #138
Tips, @dmsimard says this [in comments of #134](https://github.com/ansible-community/ara/issues/134#issuecomment-634636143):

[2020-05-27 13:06] xenlo commented on #134
My bad, there is already an issue for the logging problem.

Here are the follow up issue:
- *missing logging*: #112
- *not listening on in ipv6*: #138

[2020-05-27 13:54] #131 closed

[2020-05-27 15:21] hritz220 commented on #136
@dmsimard No it's  not same as #135 , in this issue I'm creating database in different machine , and copying db in local machine using distributed sqlite, but in #135 I've created  and copy db in  distributed sqlite location  in the same machine.

[2020-05-27 17:26] dmsimard commented on #136
@hritz220 I highly doubt that the location where the database originates has anything to do with the problem -- whether it comes from the same machine or a different one shouldn't have any incidence.

My first guess would be something to do with linux permissions (user/group/chmod/chown) or selinux preventing access but let's find out in the other issue when I have time.

[2020-05-27 22:11] dmsimard commented on #99
@flowerysong

@juliojsb

and @jstarek,

I can't recommend or support doing this because of documented django CVEs like these:
- https://github.com/advisories/GHSA-hmr4-m2h5-33qx
- https://github.com/advisories/GHSA-vfq6-hq5r-27r6

Generally speaking, you want to keep django as up to date as possible to get those security fixes.

What I would recommend for running the API server on CentOS 7 would b

[2020-05-27 23:58] dmsimard commented on #138
@xenlo I looked a bit and was thinking about this ... it looks a bit tricky to listen on both ipv4 and ipv6 simultaneously with the built-in web server.
There's an old [django ticket](https://code.djangoproject.com/ticket/24864) where you can see they are not very interested.

Now, there's nothing preventing you from running the API server on both protocols with an actual application server like u

[2020-05-28 00:29] hritz220 commented on #136
@dmsimard FYI:When I copied the db in default location(root/.ara/server/ansible.sqlite) and distributed sqlite location(var/www/log/ara-report/ansible.sqlite) both, then only I'm able to see db of distributed sqlite in  ARA web console.Please check it will be very helpfull.
thanks.

[2020-05-29 02:24] dmsimard commented on #99
Re: django version, we're currently targetting 2.2 which is a LTS release and this makes it much easier to support from a packaging perspective. There is no incentive to upgrade to 3.x yet.
![Screenshot from 2020-05-28 22-22-50](https://user-images.githubusercontent.com/1291204/83214119-ccd1ea80-a131-11ea-9f20-bf0ce3dd8340.png)
(Source: https://www.djangoproject.com/download/)

[2020-06-01 13:52] rntbrgtt commented on #28
Hi,

I am sorry but I am using ARA 1.4 and running DryRuns here (--check) and I cant see it anywhere.

Am I missing something?

Regards,

[2020-06-01 13:56] dmsimard commented on #28
Hi @rntbrgtt, this issue was about the API implementation so if you request ``/api/v1/playbooks`` the arguments are available.

These are not exposed in the reporting UI yet but is planned for the 1.5 release which will include UI refactoring work. You can see what the progress looks like so far on https://api.trunk.demo.recordsansible.org.

[2020-06-01 14:00] rntbrgtt commented on #28
Thanks for your quick reply.
New version looks awesome but I still can't see 'check = true' on the demo.
Will we be able to filter by remote_user as well?

[2020-06-01 14:09] dmsimard commented on #28
"check" as well as "remote_user" are available in the CLI arguments:
![Screenshot from 2020-06-01 10-05-28](https://user-images.githubusercontent.com/1291204/83417070-945f3480-a3ef-11ea-9c85-b32729386272.png)

It is not possible to filter by CLI arguments yet but it was requested in another issue: https://github.com/ansible-community/ara/issues/119

In the meantime, I would like the --check playbo

[2020-06-01 14:12] rntbrgtt opened #139 "Setting ara_playbook_labels on inventory file"
## What component is this about ?

I am not able to create a variable "ara_playbook_labels" on my inventory files. It works in the playbook file but not on the inventory.

#head -2 inventories/production/hosts
[all:vars]
ara_playbook_labels = 'production'

## What is your ARA installation like ?

Ara 1.4
Installed from pip
Virtual Env
Debian GNU/Linux 10 (buster)
Mysql Database
## What is happenin

[2020-06-01 14:20] rntbrgtt commented on #28
I personally think that remote_user is as important as check to be shown on playbooks list but anyway I really appreciate your time to reply my messages and your help with the community.

[2020-06-01 14:46] dmsimard commented on #28
@rntbrgtt happy to help :tada:

ARA has a LOT of data to work with and it's definitely challenging from a UI/UX perspective to display everything in a way that makes sense.

For now my main objective is to at least expose the data and demonstrate the features working -- then, hopefully someone with expertise in frontend can come in and make it pretty and usable :)

[2020-06-01 15:41] dmsimard opened #140 "Missing pbr dependency on Fedora and EL packaging"
## What component is this about ?

Packaging for ARA on Fedora and EL

## What is happening ?

pbr is listed as a buildrequires but not as a requires in the packaging: https://src.fedoraproject.org/rpms/ara/blob/f32/f/ara.spec

This can lead to runtime exceptions on missing pbr if it has not been installed through other dependencies.

## What should be happening ?

pbr is a dependency and should b

[2020-06-01 15:45] dmsimard commented on #140
@arrfab ^ FYI, are you building from the epel8 branch ? I will take care of this while bumping the packaging for the new 1.4.1 release.

[2020-06-01 16:04] arrfab commented on #140
Yes, I wanted to open a PR to add it, as myself I discovered that it was needed at runtime.

[2020-06-01 16:35] dmsimard commented on #140
Pull requests for 1.4.1 and adding pbr:
- f32: https://src.fedoraproject.org/rpms/ara/pull-request/4
- f31: https://src.fedoraproject.org/rpms/ara/pull-request/5
- epel8: https://src.fedoraproject.org/rpms/ara/pull-request/6

Haven't done master yet, I think it's failing to build because of the requires on python3-ara which hasn't been built yet.
The intent is to have "aliases" for ``ara`` -> ``py

[2020-06-01 18:50] dmsimard commented on #140
f32, f31 and epel8 PRs are merged and updates submitted to bodhi.

[2020-06-02 06:46] arrfab commented on #140
Good, submitted a build that I'll tag to testing too for CentOS (https://cbs.centos.org/koji/taskinfo?taskID=1329140) and if that works, I'll tag to -release and it will be signed and pushed to mirrors

[2020-06-02 07:02] arrfab commented on #140
Correctly triggering now the python3-pbr install, so for centos configmanagement, I'll tag it to -release :
[code]

[2020-06-02 13:36] dmsimard commented on #140
@arrfab amazing! Thanks for taking care of this so quickly :tada:

I guess I'll close this issue now.

[2020-06-02 13:36] #140 closed

[2020-06-03 21:20] dmsimard commented on #29
I'll pick this up for 1.5 UI work.

[2020-06-04 14:09] dmsimard commented on #29
Work in progress: https://review.opendev.org/#/c/733422/

[2020-06-06 15:53] dmsimard commented on #139
Hi @rntbrgtt and thanks for the perfect bug report :tada:

I've reproduced the issue: setting the labels through the playbook file vars work, as does through extra-vars (``-e ara_playbook_labels=foo,oof``) but setting them through the inventory like you mentioned doesn't work.

It doesn't work like this either:
[code]

We currently check for labels during the ``v2_playbook_on_play_start`` callback

[2020-06-06 16:00] dmsimard commented on #135
I'll close this issue since https://github.com/ansible-community/ara/issues/136 has more information and I'll re-open the other one. Let's keep the information in the same thread.

[2020-06-06 16:00] #135 closed

[2020-06-06 16:33] rntbrgtt commented on #139
Hi @dmsimard,

Thanks for taking your time to analyze the bug reported by me.

Using the variable inside ansible.cfg does not help me as I could not differentiate validation from production executions.

I already tried using the variable listed next to the host in the inventory file but it didn't work.

If we could filter the playbooks by Arguments I would not need to do it as "production"or "vali

[2020-06-06 16:44] dmsimard commented on #136
Hi @hritz220,

I believe I've reproduced your issue.
Could you confirm if you had left ``DATABASE_ENGINE`` to the default sqlite backend ?

I found that setting ``ARA_DISTRIBUTED_SQLITE: true`` isn't sufficient and you also need to set ``DATABASE_ENGINE: ara.server.db.backends.distributed_sqlite``.

I think our integration tests didn't pick up this issue because there is logic that sets DATABASE_E

[2020-06-06 17:09] dmsimard commented on #139
@rntbrgtt I found the problem.

When supplying ``ara_playbook_labels`` through the playbook file vars or through extra-vars, they wind up in play_vars where we pick them up: https://github.com/ansible-community/ara/blob/37499b64a081784438f94683f74e3d36e23e48d5/ara/plugins/callback/ara_default.py#L235-L238

However, when provided by the inventory, they're in hostvars.

So, instead of:
``play_vars["

[2020-06-06 17:12] rntbrgtt commented on #139
Well I want to use [all:vars] so you actually don't need to check each
hosts in hostvars.
--
Renato Bragatto
renato@bragatto.com

On Sat, Jun 6, 2020 at 7:10 PM David Moreau Simard <notifications@github.com>
wrote:

[2020-06-06 19:10] hritz220 commented on #136
By changing   `DATABASE_ENGINE: ara.server.db.backends.distributed_sqlite`, the server error is not anymore but still the HTML is not loading that I've mentioned in #135 ,please have a look on this it will be very helpful.

[2020-06-06 19:12] dmsimard commented on #135
@hritz220 does it work if you add a trailing slash to the URL ?

[2020-06-06 19:21] hritz220 commented on #135
after adding a trailing slash, it worked!!
thanks alot.

[2020-06-06 19:23] hritz220 commented on #135
if you can tell me why trailing slash is needed, it will be helpfull.

[2020-06-07 08:48] hritz220 commented on #136
@dmsimard when using distributed sqlite, I'm using  prefix (ara-report) to dynamically load different databases for example: http://localhost/ara-report is working fine for me, but when I'm hitting the url http://localhost/ , there should be some **homepage** which has to be loaded, currently I'm getting this response:
[code]
![Screenshot from 2020-06-07 13-55-09](https://user-images.githubusercon

[2020-06-07 17:46] dmsimard commented on #136
Hi, indeed, there's no index when running distributed sqlite but I'd say this is by design because the use case is to query individual databases at the requested path.

The distributed sqlite backend is more about serving individual databases than aggregating them.

The application has no way to "guess" what databases are available and there could be hundreds or thousands.

What kind of index do y

[2020-06-09 21:47] dmsimard commented on #71
I haven't forgotten about this and I'd like to prioritize it. I'm sure it would make the roles more convenient to consume if the roles could be installed easily from galaxy.

Regarding https://github.com/Thulium-Drake/ara_collection, it looks good enough to start with but I would take out the plugins -- they're shipped by installing ara and I think that's okay for now. It also ensures the necessar

[2020-06-10 08:52] Thulium-Drake commented on #71
No rush! I'm sure there's plenty of work to do :-)

Makes sense, even installing ARA (clients) from source should ideally come from the other repo. I have updated the repo to remove them.

Do you want to replicate the changes I did, or can/shall I transfer the repository to you, so you can take it from here?

I've tried to 'just' install the ARA clients and generate a sample config for use with An

[2020-06-11 01:08] dmsimard commented on #71
When we create a project in opendev, we can [specify an upstream to clone from](https://docs.opendev.org/opendev/infra-manual/latest/creators.html#add-the-project-to-the-master-projects-list) or start from scratch.

Happy to start from your repo if you don't mind !
I sent a PR to make it ready for import: https://github.com/Thulium-Drake/ara_collection/pull/1

[2020-06-11 07:01] Thulium-Drake commented on #71
Sure thing! I've merged the PR, so we should be good to go!

[2020-06-13 16:35] dmsimard commented on #71
@Thulium-Drake I just realized that the commit history contains stuff about the plugins like https://github.com/Thulium-Drake/ara_collection/commit/6b4d5155459097ab3865c4e818233c3dbf7e85cf and I'd love if we could keep those out just to start with a clean history :/

I'd hate to bother you about doing that work again, I'll take a shot at it.

[2020-06-13 18:17] dmsimard commented on #71
Ok so here's basically what I did with a flavor inspired by [stackoverflow](https://stackoverflow.com/a/50090278/6072068):
[code]

I tried to do something fancier and would had liked to even carry over the initial changes from [ara-infra](https://github.com/ansible-community/ara-infra/commits/master/roles) (these roles have moved around a **lot**!) but in the end there were so many conflicts to ma

[2020-06-14 17:14] hritz220 commented on #136
@dmsimard it would be better to display the list of sqlite database names in the home page.what do you think?

[2020-06-15 18:25] dmsimard commented on #71
The project is created: https://opendev.org/recordsansible/ara-collection

I'll take care of setting up the remainder of the things like .gitreview, tests and zuul jobs.

[2020-06-15 20:18] dmsimard commented on #71
Repository is now mirrored on github: https://github.com/ansible-community/ara-collection

I guess next steps is to setup the galaxy.yml and do an upload to galaxy.

[2020-06-15 20:42] dmsimard commented on #71
Ok the upload to galaxy will take a bit more work because it's expecting the READMEs to be in markdown rather than RST. I've put up a WIP patch: https://review.opendev.org/#/c/735700/

[2020-06-17 18:42] Thulium-Drake commented on #71
Awesome! Really looking forward to the results!

Anything you need me to do in the mean time? I will clean up the repo's to avoid confusion and you have replicated what we needed anyways :-)

[2020-06-18 17:07] soumya-devops opened #141 "ara-manage: command not found"
I have installed ARA from pypi.
i followed the doc https://ara.readthedocs.io/en/latest/installation.html to install it and i installed it successfully.
but when i am try to run ara-manage cmd. it's giving error like -bash: ara-manage: command not found.

please help me on this .

Thanks and regards
soumya

[2020-06-18 17:31] soumya-devops commented on #141
Thanks Dmsimard .

i have used "python3 -m pip install --user ansible "ara[server]" " to install ara

and my current path is :-
echo $PATH
/usr/local/sbin:/sbin:/bin:/usr/sbin:/usr/bin:/root/bin

so what should be proper path to install ara

[2020-06-18 17:33] dmsimard commented on #141
Do you have a ``~/.local/bin`` or a ``~/bin`` directory ? Can you find ara in there ?
Once you've found the correct path you can prefix PATH by doing something like:

export PATH="/home/foo/.local/bin:$PATH"

[2020-06-18 17:47] soumya-devops commented on #141
Thanks , Now i am able to run ara-manage command .

but when i am running  "ara-manage --help"   i get the error message like below

 File "/usr/local/lib/python3.6/site-packages/django/db/backends/sqlite3/base.py", line 63, in check_sqlite_version
    raise ImproperlyConfigured('SQLite 3.8.3 or later is required (found %s).' % Database.sqlite_version)
django.core.exceptions.ImproperlyConfigured:

[2020-06-18 18:05] dmsimard commented on #141
@soumya-devops are you on CentOS 7 ? This issue is documented here: https://github.com/ansible-community/ara/issues/99

There is no supported fix for this. See https://github.com/ansible-community/ara/issues/99#issuecomment-634970422 for a proposed workaround.

[2020-06-19 07:39] soumya-devops opened #142 "ara.clients module not found."
i have installed ara in my centos 7 .  when i am running a ansible playbook to record . it giving the below warning message.

[WARNING]: Skipping plugin (/usr/local/lib/python3.6/site-packages/ara/plugins/callback/ara_default.py) as it seems to be invalid: No module named ara.clients

please can you help me on this.

[2020-06-19 10:56] soumya-devops commented on #141
yes , i am using centos 7.
Thanks dmsimard. this issue is fixed.

can you please help me on below warning message.
when i am running any playybook, i got this error message.

[WARNING]: Skipping plugin (/usr/local/lib/python3.6/site-packages/ara/plugins/callback/ara_default.py) as it seems to be invalid: No module named ara.clients

[2020-06-19 17:27] q2dg opened #143 "Add a configuration option to ignore unreachable hosts"
Hello.

Currently Ara shows a failed status icon when a host is unreachable. This is a valid behaviour in a datacenter because an unreachable host could be a great problem there but in our humble intermediate school this behaviour is a little verbose because our student's hosts appear as unreachable simply because they are stopped.

Could be possible to add a (boolean) configuration option to Ara

[2020-06-21 17:37] hritz220 commented on #136
@dmsimard
Moving conversation from from https://github.com/ansible-community/ara/issues/135
David: does it work if you add a trailing slash to the URL ?
Me: After adding a trailing slash, it worked! Is this bug?
please let me know, it will be very helpfull.

[2020-06-21 20:00] dmsimard commented on #136
@hritz220 I'm not sure I would call it a bug more so than how it just happens to work that way right now.

I wouldn't be against making it work without a trailing slash but I'm not sure how and would need to research. It might have to do with how django routes URLs and how we re-map the ``SCRIPT_NAME`` and ``PATH_INFO``:
https://github.com/ansible-community/ara/blob/c60d8b194dc54f456f69c93f63308b7

[2020-06-21 20:57] dmsimard commented on #143
Hi @q2dg,

I think it's a very valid use case to want to ignore unreachable hosts, thanks for the issue!

I'm not sure what's the right approach to provide the functionality yet and I need to think a little bit about it. It's a bit messy :)

Currently this logic is handled naively by the callback plugin here:
https://github.com/ansible-community/ara/blob/c60d8b194dc54f456f69c93f63308b7c4f01180c/ar

[2020-06-21 21:01] dmsimard commented on #141
Hey @soumya-devops, happy that the workaround works for you.

I see that you opened another issue for your error in https://github.com/ansible-community/ara/issues/142, I will close this one and reply you there.

Thanks.

[2020-06-21 21:01] #141 closed

[2020-06-21 21:05] dmsimard commented on #142
@soumya-devops how were ansible and ara installed ?

This kind of error can occur when ansible and ara are not installed for the same python interpreter.

[2020-06-22 03:34] soumya-devops commented on #141
okay, Thanks dmsimard for your quick assistance

[2020-06-22 03:37] soumya-devops commented on #142
i have installed from pypi.
by executing this command "python3 -m pip install --user ansible "ara[server]" ".

so how can i  overcome this issue

[2020-06-24 13:10] soumya-devops opened #144 "can i record remote server ansible log , with my ara-server"
I want to record remote host ansible logs . with my ara-server.
so how can i configure it. can you please help me on this .

Thanks and regards
Soumya

[2020-06-24 18:13] dmsimard commented on #144
@soumya-devops could you please edit your issue and provide more information ?

[2020-06-26 11:47] soumya-devops opened #145 "unable to use ara callback plugin under python 2.7"
## What component is this about ?

## What is your ARA installation like ?

## What is happening ?

## What should be happening ?

[2020-07-01 19:19] dmsimard commented on #71
In a nutshell, I've added a README for the collection, translated the existing READMEs to markdown and the collection is up now: https://galaxy.ansible.com/arecordsansible/ara

Next step is to move the Zuul integration jobs over and I even have some patches I want/need to land in the roles: https://review.opendev.org/#/q/project:recordsansible/ara-collection

[2020-07-01 22:04] Thulium-Drake commented on #71
Sweet! I will look into this further tomorrow and try to update my playbooks to use the collection instead of the git checkout I have now. TBC!

[2020-07-02 01:56] dmsimard commented on #71
Integration tests import is WIP: https://review.opendev.org/#/c/738946/

[2020-07-02 03:22] dmsimard opened #146 "ModuleNotFoundError: No module named 'yaml' when running the API server or ara-manage commands"
## What component is this about ?

API server

## What is happening ?

When trying to launch commands with ``ara-manage`` or the API server, ``settings.py`` will raise an exception:

[code]

This is because ``settings.py`` imports yaml (PyYAML) but it stopped being installed automatically with a recent dynaconf release 3.0.0 where they changed to [ruamel.yaml](https://github.com/rochacbruno/dynaco

[2020-07-02 12:44] robertdebock commented on #146
Ran into this issue as well, thanks for the work!

How are you David? I'm fine, even though Ansible Fest will be a virtual event. ;-)

[2020-07-02 16:41] dmsimard commented on #146
Hey @robertdebock, long time no see ! We should catch up virtually on slack or IRC soon but I've been fine :)

I didn't plan on tagging a new release just yet with some things that are WIP but I'll tag a 1.4.2 once the fix lands because otherwise the regression will hurt.

[2020-07-02 18:50] dmsimard commented on #146
Pushed out a 1.4.2rc1 and tested that the fix works properly:
[code]

Tagging and releasing 1.4.2.

[2020-07-02 19:03] dmsimard commented on #146
And it's a wrap, 1.4.2 is available on PyPi: https://pypi.org/project/ara/1.4.2 :tada:

[2020-07-02 19:03] #146 closed

[2020-07-03 07:35] robertdebock opened #147 "Starting ara shows "SyntaxError: invalid syntax" in Ubuntu Xenial"
## What component is this about ?

ara-manage

## What is your ARA installation like ?

Both Ansible and ARA are installed using `pip`

[code]

[code]

## What is happening ?

When starting the service, an error is displayed:

[code]

## What should be happening ?

I was desperately hoping the service would start.

By the way, I spotted [ARA](https://www.icloud.com/photos/#0Pfk1xswYoSoOI2YJDr8-Vah

[2020-07-03 12:50] dmsimard commented on #147
Nice boat! There's a tiger in my office :)

![IMG_20200702_124122](https://user-images.githubusercontent.com/1291204/86470741-0df98380-bd0a-11ea-92b3-c073c50b3320.jpg)

According to what I can see this is a trace from dynaconf trying to format a f-string but on python3.5.
f-strings started being supported after python3.6.

It looks like that change landed in dynaconf 3.0.0: https://github.com/roch

[2020-07-06 06:44] robertdebock commented on #147
Seems to be solved with your the release of ara.

Thanks @dmsimard!

[2020-07-06 06:44] #147 closed

[2020-07-07 07:41] rntbrgtt opened #148 "Ignore Dry-Runs (--check)"
## What component is this about ?

I would like to be able to ignore all Dry-Runs (--check) and not save those executions on ARA database.

## What is your ARA installation like ?

ARA 1.4.2
Installed from pip
Virtual Env
Debian GNU/Linux 10 (buster)
Mysql Database

## What is the idea ?

The idea is to just have the important playbook executions on ARA database.

[2020-07-07 14:17] dmsimard commented on #148
Hey @rntbrgtt and thanks for the issue !

I think we can do that. It would be a setting for the callback and if it determines that ``--check`` is enabled, it wouldn't do anything.

I actually have a similar need that I planned on working on soon and while it isn't exactly what you've asked for, how would you feel if dry-run playbooks could be easily identified or filtered ?

I don't know exactly w

[2020-07-07 14:21] rntbrgtt commented on #148
Hi dmsimard ,

Thanks for your help and time working on this.

We always run dry runs with --check or -C so if you use that to identify it will work for us.

Regards,

[2020-07-14 09:00] Thulium-Drake commented on #71
Hmm, is it me or is there a typo in the namespace?
[code]

[2020-07-14 09:04] Thulium-Drake commented on #71
I have updated my playbooks and it works like a charm:

* Add to ARA deploy playbook
[code]

* Add to requirements.yml
[code]

* Install with ansible-galaxy
* Run playbook
* ???
* Profit!
[code]

[2020-07-14 14:55] dmsimard commented on #71
I tested with "arecordsansible" because that's the user under which it was published: https://github.com/arecordsansible

I initially wanted to put the collection under ansible community but it's a bit of a convoluted process with a lot of general purpose automation built around it with Zuul -- nothing wrong with that but it's not OpenDev's Zuul (the one that we use for code review), it's Ansible'

[2020-07-14 16:47] Thulium-Drake commented on #71
I agree, double the effort _and_ the trouble, best to steer clear of that! :-)

recordsansible.ara sounds like a good plan, also makes sense in the whole naming scheme. But not sure how you'd integrate that with all the code in the current github org..

Maybe better to create a new issue for this on the tracker? As there is a collection which is ready to use and works.

[2020-07-14 20:18] dmsimard commented on #71
@Thulium-Drake yeah it would be nice to close this issue so we can move on :)

I've gone ahead and created a request for the namespace here: https://github.com/ansible/galaxy/issues/2440

Once the collection is published under the new namespace I'll consider this done.

[2020-07-16 17:22] dmsimard commented on #71
And done :tada:

https://galaxy.ansible.com/recordsansible/ara

![Screenshot from 2020-07-16 13-19-40](https://user-images.githubusercontent.com/1291204/87702354-4c119100-c767-11ea-804c-c9ad90402fee.png)

I'll advertise this more broadly when I have time.

Thanks everyone for your help on this issue :heart:

[2020-07-16 17:22] #71 closed

[2020-07-18 18:59] dmsimard commented on #148
Hey @rntbrgtt, I haven't had time for this yet but I'd like to include something for this in v1.5.

[2020-07-18 21:55] dmsimard opened #149 "API server bug: settings precedence/ordering regression"
## What component is this about ?

Django API server

## What is happening ?

I was working on [importing the Ansible role CI jobs](https://review.opendev.org/#/c/738946/) for the Ansible collection and took the time to investigate why the distributed sqlite job started failing:
![Screenshot from 2020-07-18 17-30-21](https://user-images.githubusercontent.com/1291204/87862292-6345af80-c91c-11ea-971

[2020-07-18 22:09] dmsimard commented on #145
Hi @soumya-devops,

This looks like a python2.7 Ansible distribution package (apt/yum/dnf) trying to load ara from a python3.6 interpreter where ara was installed with pip. That's not going to work.

ARA needs to be installed for the same python interpreter as Ansible for it to work. If a python3 distribution package is not available, maybe you can install Ansible on the python3 interpreter with p

[2020-07-18 22:09] dmsimard commented on #144
I'll close this issue, feel free to open a new one with more information if you have an issue.

[2020-07-18 22:09] #144 closed

[2020-07-18 22:11] dmsimard commented on #142
Hey @soumya-devops, I've replied in another issue: https://github.com/ansible-community/ara/issues/145

I'll close this issue, let's keep the discussion in the other thread.

Thanks !

[2020-07-18 22:11] #142 closed

[2020-07-20 04:12] dmsimard opened #150 "API: searching results for status=changed and status=ignored doesn't work"
## What component is this about ?

API but depending on the outcome maybe the callback, the built-in UI, the new CLI and ara-web.

## What is happening ?

This works: ``/api/v1/results?changed=true``
but this doesn't: ``/api/v1/results?status=changed``

This works: ``/api/v1/results?status=failed&ignore_errors=true``
but this doesn't: ``/api/v1/results?status=ignored``

The statuses "changed" and

[2020-07-23 03:18] dmsimard commented on #143
@q2dg o/ I'm here with an update.

It's not exactly what you asked for but I thought it might help :)

I've landed an API change that allows to filter host results based on their stats -- including "unreachable": https://github.com/ansible-community/ara/commit/2827d43ac458cf0ae0582761e92fdce31f21577a

I don't have anything on the frontend side of things yet but I've done an implementation of it in

[2020-07-23 15:37] q2dg commented on #143
Sure!!! I'll try this next days and I'll give you feedback soon!
Thanks a lot for your time and kindness!!

[2020-07-24 01:40] dmsimard opened #151 "centos8 container images: use python-mysql once it's available on epel"
## What component is this about ?

``contrib/container-images/centos8*``

## What is the idea ?

There is a build of python-mysql (mysqlclient on pypi) in epel8 that could be nice to use so we don't rely on development dependencies: https://koji.fedoraproject.org/koji/buildinfo?buildID=1540605

See all builds here: https://koji.fedoraproject.org/koji/packageinfo?packageID=20643

[2020-07-28 00:30] kalyanbhonagiri16 opened #152 "unable to use ara callback plugin under python 3.5"
Thanks for the tool ARA. I have been checking on this for past few days and its a great one .
## What component is this about ?
$ ansible-playbook -i  test_inventory uptime.yaml -e 'ansible_python_interpreter=/usr/bin/python3.7'
[WARNING]: Skipping plugin (/Users/kbhonagiri/Library/Python/3.7/lib/python/site-packages/ara/plugins/callback/ara_default.py) as it seems to be invalid: No
module named '

[2020-07-28 02:15] kalyanbhonagiri16 commented on #152
Closing the issue as it was my env issue

[2020-07-28 02:15] #152 closed

[2020-08-01 22:23] dmsimard commented on #151
python-mysql is available in epel now :tada: https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2020-0d1943aff6

I've proposed a change to use it instead of installing it from pypi: https://review.opendev.org/#/c/742778

[2020-08-04 12:48] dmsimard opened #153 "database: consider jsonfield with django >= 3.1"
## What component is this about ?

database model, potentially requiring API changes

## What is the idea ?

We are not ready to upgrade Django yet (waiting for the next LTS) but django 3.1 was just released with jsonfield support for all database backends whereas it was only compatible with postgresql before: https://docs.djangoproject.com/en/3.1/releases/3.1/#jsonfield-for-all-supported-database

[2020-08-11 01:47] #149 closed

[2020-08-13 13:08] keuko commented on #123
Hi, I'm debian maintainer for ara packages. Would you please let me know when this will be merged ? I would like to upload new version and want to be sure that this will go to upstream.

[2020-08-13 13:14] dmsimard commented on #123
Hey @viktorkrivak, were you still interested in sending the patch ?

Thanks !

[2020-08-13 13:16] dmsimard commented on #151
Done !

[2020-08-13 13:16] #151 closed

[2020-08-13 13:22] keuko commented on #123
Well, Viktor is my colleguage :) , I think he already sent a patch above ... But you probably meant Viktor should send pull request , right ?

[2020-08-13 13:23] dmsimard opened #154 "UI: Linking to a line number in a file doesn't highlight the line"
## What component is this about ?

The built-in reporting interface

## What is happening ?

When clicking on a link to a file with a line anchor (i.e: https://server/file/123.html#line-10), the line isn't highlighted like it was in 0.x.

## What should be happening ?

It should work.

[2020-08-13 13:24] dmsimard commented on #154
WIP here: https://review.opendev.org/#/c/731999/

[2020-08-13 13:42] dmsimard commented on #123
@keuko OH! Yes, it would be great if he could send it through gerrit. We aren't set up for pull requests yet :(
I mentioned the docs in a [comment above](https://github.com/ansible-community/ara/issues/123#issuecomment-617341853).

[2020-08-13 13:47] keuko commented on #123
@dmsimard , ok I'm going to process it...

[2020-08-13 13:51] dmsimard commented on #123
Much appreciated ! Thank you and let me know if you need a hand.

[2020-08-13 13:58] keuko commented on #123
Here it is :) !  https://review.opendev.org/746140 , let me know if I need to change something.

[2020-08-13 14:38] dmsimard opened #155 "unit tests: factory-boy>=3.0 breaking change"
## What component is this about ?

unit tests (i.e, ``tox -e py3``)

## What is happening ?

factory-boy just released a new version and it looks like we might need to adjust unit tests due to breaking changes.

![Screenshot from 2020-08-13 10-36-48](https://user-images.githubusercontent.com/1291204/90148208-14d7d500-dd51-11ea-8d7c-4da1d4a68b19.png)

[code]

## What should be happening ?

Unit tes

[2020-08-13 14:41] dmsimard commented on #123
Looks good! I had to rebase your patch for an unrelated failure and left a comment -- should be good to merge afterwards. Thanks.

[2020-08-13 15:03] dmsimard commented on #155
Pinned for now: https://review.opendev.org/#/c/746145/

[2020-08-13 19:21] dmsimard commented on #123
@keuko there you go :tada:

1.4.3 was released earlier this week and the next release is likely going to be 1.5 with the new [CLI](https://ara.readthedocs.io/en/latest/cli.html) work so this is where it would land.

From a packaging standpoint, there is a minor change in yaml library (see https://src.fedoraproject.org/rpms/ara/c/2527ca0fbd214dc6269ef8c15e4e97eb20636b8f?branch=master) and the addit

[2020-08-13 19:21] #123 closed

[2020-08-14 12:37] keuko commented on #123
Hi David,

I've already uploaded new debian package do debian/SID  ( with patch also ).
I can do the work from #124
<https://github.com/ansible-community/ara/issues/124> , but I hate docs :D
, so please, could you give me a direction how to deal with it ?
I mean, what should be included and where ?
Do I need also write playbook for it ?

Thank you for your quick responses :)

Cheers,
Michal Arbet

[2020-08-14 13:59] dmsimard commented on #123
Hey @keuko,

Do you have a link for the debian packaging files ? It would be nice to write it down somewhere along with the packaging files for Fedora and SUSE.

I empathize with your feelings for docs, I think we need to do a good docs refresh in general but I won't bother you with that :)

For now if you'd like to add the external auth docs, the best fit would be in the "[ARA API Server authenti

[2020-08-14 14:25] dmsimard commented on #123
Ah, I found the debian packaging work through https://tracker.debian.org/pkg/python-ara. Thank you very much for your work on that !

[2020-08-17 14:22] keuko commented on #123
Hi david,

I've added a review for docs ( usage of external_auth ) here ->
https://review.opendev.org/746516 .
Could you check and leave some comments ?

Thank you  !

Cheers,
Michal Arbet ( kevko )

pi 14. 8. 2020 o 16:26 David Moreau Simard <notifications@github.com>
napísal(a):

[2020-08-18 08:04] crkg opened #156 "Invalid syntax on line 36 in ara_default.py ; due to which the ansible playbook is skipping execution."
Hi Team,

when i am trying to call an sample asnible playbook the callback plugin is skipped due an invalid syntax. definitely it doesnt seems to be any syntax issue.

look at the below error:

Parsed /etc/ansible/hosts inventory source with ini plugin
 [WARNING]: provided hosts list is empty, only localhost is available. Note that the implicit localhost does not match 'all'

Loading callback plug

[2020-08-18 12:38] dmsimard commented on #156
Hi @crkg,

The error shows that it is using Python 2.6.

Both ara and Ansible must be running python >= 3.5 as per the docs: https://ara.readthedocs.io/en/latest/installation.html#requirements-and-dependencies

[2020-08-18 13:52] smarcu92 opened #157 "ARA-server communication with mysql over ssl"
## What component is this about ?
**ara-server**

## What is your ARA installation like ?
**ara:** 1.4.2 Running in a docker container hosted in Azure
**ansible:** 2.9.6
**django.db.backends.mysql**
**Database**: MariaDB in Azure

## What is happening ?
I have ara-server setup to communicate with MariaDB. The settings used by ara to communicate with the db are declared using env variables.
[code]

[2020-08-18 14:30] dmsimard commented on #157
Hey @smarcu92 and thanks for the issue.

You're right, we should add a ``DATABASE_OPTIONS`` field and then pass that in.
It wasn't there because I guess no one has had that use case yet but it's totally valid.

Would you like to try a patch that implements this change ? See: https://review.opendev.org/#/c/746735/
To install from source (master+patch):
[code]

[2020-08-18 15:08] smarcu92 commented on #157
Hey @dmsimard,
Thanks for your quick answer + solution! I'll have a look this evening and let you know what the results are.

Thanks!

[2020-08-18 17:37] dmsimard commented on #124
Hey @keuko, I merged the docs patch and also added the setting to the default settings file with https://github.com/ansible-community/ara/commit/0d8e4e8d6fb5c8b91de8de59c00ab254fd42cab7 so I think we're all set on this topic for the next release.

Thank you and @viktorkrivak for your help :tada:

[2020-08-18 17:37] #124 closed

[2020-08-19 00:13] dmsimard opened #158 "API: Poor performance when querying playbooks or other resources with lots of children"
## What component is this about ?

The API and to an extent it's consumers (built-in UI, CLI, ara-web, etc.)

## What is happening ?

For playbooks with many results (say, >=5k), responding to an API call on ``/api/v1/playbooks/<id>`` or rendering the playbook in the UI inside the browser can be pretty slow.

Some metrics from a deployment with gunicorn and a local mysql database on a single good

[2020-08-19 01:04] dmsimard commented on #158
Started exploring what this change means in practice in a WIP: https://review.opendev.org/#/c/746823/

[2020-08-19 09:21] smarcu92 commented on #157
Hey @dmsimard,

Sorry for the wait.
I tested the solution provided, however I'm encountering the following error:
I wasn't too sure how to provide the OPTIONS value as a env var since I know ARA is picky when it comes to ''.

`export ARA_DATABASE_OPTIONS={\"ssl\":{\"ca\":\"/path/to/cert/BaltimoreCyberTrustRoot.crt.pem\"}}`

[code]

I get the following error:
[code]
Let me know what I should try ne

[2020-08-19 11:14] bendem commented on #29
Is there a possibility to land support for string diffs while tackling complex types later?

[2020-08-20 14:42] dmsimard commented on #157
Hey @smarcu92 and thanks for testing it out.

It looks like the variable is being parsed as a string instead of a dictionary.
Could you see if it works in the ``settings.yaml`` file instead ?

Something like:
[code]

[2020-08-21 05:27] deepakjoshishri opened #159 "Support for ansible-test command"
This repo is awesome for getting nice visual reports for ansible-playbook runs.
Loved it!!!

### Here is the request:
Ansible supports testing of modules/playbooks through ansible-test command.

Here we can go ahead and run integration tests, which in turn call the playbooks itself, As this is a reporting project for ansible, and works for ansible-playbook command, can we take a look at adding sup

[2020-08-21 16:24] watsonb opened #160 "'NoneType' object is not subscriptable"
## What is the issue ?

Can no longer post reports to ARA on new server install.  I just installed a new ARA API server today and, during playbook runs I see the following errors:

[code]

## What should be happening ?

I setup a fresh ARA server two days ago and this all worked.  The only change is that my playbooks are now pointing to the new server.  I installed from source from master using th

[2020-08-22 14:16] dmsimard opened #161 "API: Add support for searching tasks by tag"
## What is the idea ?

We can search playbooks by labels but not tasks by tag.

It could potentially be tricky because it's stored as a compressed list.

Let's put that on the TODO list.

[2020-08-22 14:22] dmsimard opened #162 "CLI: Move ara-manage prune to ara playbook prune"
## What is the idea ?

Back when [ara-manage prune](https://ara.readthedocs.io/en/latest/cli.html#ara-manage-prune) was implemented there was no CLI client yet. Now that there is, it should be moved because it isn't necessary to use django for this.

Since the command has been there for a while, it should be deprecated for a release cycle so people have time to change their command.

[2020-08-22 14:25] dmsimard opened #163 "CLI: Don't run sql migrations when using offline client"
## What is the idea ?

There's a parameter for that, for example: https://github.com/ansible-community/ara/blob/master/ara/api/management/commands/prune.py#L65

I forgot about it when writing the new CLI.

[2020-08-22 16:54] #163 closed, assigned to nobody

[2020-08-22 18:22] #162 closed, assigned to nobody

[2020-08-24 11:29] watsonb commented on #160
I'm trying to get this to work with `molecule`.  Here are the versions:

[code]

As I alluded to previously, I used the ara_api Ansible role to throw an ARA API Server on a test machine earlier and had success with molecule and regular playbook runs.  Since the initial testing went well, I decided to run an honest server dedicated to ARA with more storage, etc.

From the machine running Ansible, I

[2020-08-24 12:16] watsonb commented on #160
Here are the relevant ara_api_* role variables I set when installing the server.  Everything else unspecified is the role default value.

[code]

The only difference between this and my test server (that worked earlier) is the (obvious) fqdn and the (not so obvious) ara_api_root_dir.  On my test server, the root dir was in the ansible user's home directory and on this dedicated server, I created a

[2020-08-24 12:32] watsonb commented on #160
aha!

[code]

turns out ansible.sqlite was owned by root and therefore not writable by the user running the API server.  a litlte `chown` command and we're back in business!

[2020-08-24 12:32] #160 closed

[2020-08-26 00:20] dmsimard opened #164 "CLI: Port "ara-manage generate" to "ara generate html""
## What is the idea ?

In ara 0.x, the command was ``ara-manage generate`` and the implementation of ``ara-manage generate`` in 1.x long predates the usage of cliff with which the new CLI commands are being developed with.

It's a [django command](https://github.com/ansible-community/ara/blob/master/ara/ui/management/commands/generate.py) right now (hence ``ara-manage``) but it could be ported to

[2020-08-27 10:10] smarcu92 opened #165 "ARA - multi-label search"
## What is the idea ?
Hi!
It would be great if we could have multi-label search on the main page of ARA, rather that one.

Given the labels:
User=test_user, Server=host1, virtualenv=pipvirtualenv, repo=repox, version=v0.3.2

Search playbooks based on:
User=test_user,repo=repox

Let me know what you think.

Thanks!

[2020-08-27 11:25] dmsimard commented on #165
Hey @smarcu92,

I think it would be nice to have as well but it isn't yet supported from an API standpoint yet and so that's why it isn't implemented in the UI.

There's an example quite like what we'd need to do on StackOverflow: https://stackoverflow.com/questions/39368410/django-rest-framework-manytomany-filter-multiple-values/39368843

It's a little bit tricky to implement and so instead of no

[2020-08-27 11:26] dmsimard commented on #159
@deepakjoshishri, would you like to reply to my previous comment ? Thanks.

[2020-08-27 15:03] arrfab opened #166 "ara-manage prune doesn't delete all jobs that should be deleted"
## What is the issue ?
When launching `ara-manage --confirm --days 3` ,  ara only delete 100 playbooks while there are much more to be delete that matches the criteria

## What should be happening ?
It should delete all jobs/playbooks in DB that matches the criteria, but it seems that for "prune" operaion, it also obeys this setting from settings.yml :

[code]
Launching it again with that paramete

[2020-08-27 15:09] dmsimard commented on #166
Hey @arrfab, thanks for the issue :+1:

The API clients unfortunately don't natively support pagination yet (i.e, continually yield results for each page) but they do support the ``--limit`` argument which has precedence on the pagination settings so you could, for example, have something like:
``ara playbook prune --confirm --days 3 --limit 1000`` and it would work.

I think that's a good comprom

[2020-08-27 16:36] arrfab commented on #166
Thanks .. as 'ara' itself isn't included in the container, and that --limit isn't parsed by ara-manage, I guess I'll have to wait for 1.5 and a refreshed container with 'ara' cli added ;-)

[2020-08-27 18:27] dmsimard commented on #166
Yup, that's accurate. Soon!

[2020-08-27 23:56] dmsimard commented on #166
I have a patch up for review: https://review.opendev.org/#/c/748549/

As a bonus, I've also ported other search parameters from ``ara playbook list`` as I think it could be useful:
![Screenshot from 2020-08-27 19-55-18](https://user-images.githubusercontent.com/1291204/91506089-4303fb80-e89f-11ea-9aad-b92dc01ea6ee.png)

[2020-08-28 00:51] dmsimard opened #167 "docs: put release changelogs in docs"
## What is the idea ?

The release changelog is currently embedded in the git tags for each release, for example: https://github.com/ansible-community/ara/releases/tag/1.4.0

They should also be in the docs.

[2020-08-28 03:46] dmsimard commented on #167
Proposed a patch that works: https://review.opendev.org/#/c/748568/

![Screenshot from 2020-08-27 23-46-03](https://user-images.githubusercontent.com/1291204/91519044-8706f880-e8bf-11ea-8c11-3065d9ff1a8a.png)

[2020-08-28 04:10] #167 closed

[2020-08-28 15:57] dmsimard opened #168 "UI: Results should be paginated"
## What is the idea ?

Viewing playbooks with thousands of results takes a considerable amount of time to load and puts a lot of load on the browser.
We should introduce pagination in order to let these playbooks with thousands of results load in a reasonable amount of time.

https://github.com/ansible-community/ara/issues/158 is a dependency of this change because introducing pagination with nest

[2020-08-29 02:23] #166 closed

[2020-08-31 18:38] q2dg commented on #143
Yeah, I've tried and it's really great!!
THANKS THANKS THANKS A LOT!!!
I'll close the issue if you don't mind

[2020-08-31 18:38] #143 closed

[2020-08-31 22:58] dmsimard commented on #143
@q2dg Thanks for you feedback, it's appreciated :) Closing the issue is fine.

I've also just sent a patch to add support for ``--resolve`` which provides an identifier for the playbook in addition to the id:
![Screenshot from 2020-08-31 18-56-57](https://user-images.githubusercontent.com/1291204/91776704-ec0e6700-ebbb-11ea-9248-81c35ad171a0.png)

[2020-09-01 01:15] dmsimard commented on #26
I've been wondering about this because over time the instance ends up with a bunch of playbooks that are "running" but will never complete. It would be nice to identify these to increase the likelihood that running playbooks are actually.. running.

I find similarities with the use case around pruning, aka [ara playbook prune](https://ara.readthedocs.io/en/latest/cli.html#ara-playbook-prune), wher

[2020-09-02 14:52] Orabig commented on #158
This seems like a critical issue, before at some point (when running very long playbooks, or playbook on many hosts), the api call eventually fails because of gunicorn worker timeout.

Our ara is deployed on kubernetes with a mysql backend database, and in the ara-api pod we see the following in the logs (and the webpage returns a 500 error code)

[code]

The application is then useless because al

[2020-09-02 15:01] dmsimard commented on #158
Hey @Orabig and thanks for the feedback -- there will definitely be a fix for this by the time 1.5 releases.

For the time being, I'm iterating on https://review.opendev.org/#/c/746823/ which I am running in production and I confirm that I can browse playbooks with over 60k results and hundreds of hosts just fine -- the page loads instantly.

It's not yet ready to land yet (pagination and filterin

[2020-09-03 14:13] watsonb opened #169 "Search for task warnings"
## What is the idea ?

When selecting a particular playbook run, I'd like to be able to search (filter) for all tasks that yielded a warning (e.g. deprecation warnings).  I think this would be useful for playbook/role maintainers to quickly find tasks that need to be updated for future versions of Ansible.

Bonus points if you can search for task warnings across multiple playbook runs (e.g. in com

[2020-09-03 14:51] dmsimard commented on #169
Hey @watsonb and thanks for the issue.

This would be a great idea although I am not sure at this time what the implementation would look like.

We could argue that this is already possible with the help of the API but it's certainly not as efficient as database-level full-text indexing/searching that I think would be appropriate for this kind of feature. A potential blocker for proper full-text i

[2020-09-03 17:09] watsonb commented on #169
Thanks for looking at this and offering some alternatives.

[2020-09-04 01:13] dmsimard opened #170 "Profile and benchmark the ara callback and api server"
[ansible-role-ara_api](https://ara.readthedocs.io/en/latest/ansible-role-ara-api.html) currently supports a few different deployment options:
- with or without gunicorn to launch the django wsgi application for the API server
- support for nginx in front of gunicorn
- sqlite as the default database backend
- support for mysql and postgresql

All of these options are already integration tested and